[2022-01-28 08:21] ankon commented on #1481
@ronnyroeller and I actually had a discussion yesterday about annotations and copy/paste (moving is just a form of that, IMHO). Our conclusion was that annotations don't work for that, they are "part of the environment", onto which the text is put. Copy/paste would require the highlighting to be part of the text itself, i.e. be a mark or similar.

In a way that also means trying to retain annotati

[2022-01-28 12:49] zofiag opened #1489 "NodeFormattingExtension stops working when combined with any ListExtension"
### Summary

Text indentation implemented in `NodeFormattingExtension` stops working when editor extensions contain one of the list extensions (`BulletListExtension` or`OrderedListExtension`).

### Steps to reproduce

Check out this [codesandbox](https://codesandbox.io/s/cranky-fast-r2ry9?file=/src/App.js). There are two editors there:
- the first one contains only `NodeFormattingExtension` - if y

[2022-01-28 12:50] zofiag commented on #1489
Can it be related https://github.com/remirror/remirror/issues/1481?

[2022-01-29 19:15] ocavue opened #1491 "Can't add bold style to a link"
### Summary

Link and bold/italic/etc should be able to exist at the same time.

### Steps to reproduce

https://user-images.githubusercontent.com/24715727/151674360-b6b3f657-1681-4f0b-9223-54a6c3d01b12.mp4

[2022-01-31 06:48] cmickens04 opened #1492 "Fix"
### Summary

### Steps to reproduce

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

[2022-01-31 07:58] #1492 closed

[2022-01-31 17:06] ronnyroeller opened #1493 "Annotation extend when the user types at the beginning of the annotation"
### Summary

Typing at the beginning of annotation extends the annotation, instead of entering the text in front of the annotation. This is unexpected for users because the annotation doesn't extend when entering text at the end of the annotation.

### Steps to reproduce

1. Open [storybook for annotation](https://remirror.vercel.app/?path=/story/extensions-annotation--basic)
2. Place cursor at be

[2022-01-31 17:23] #1493 closed

[2022-02-01 09:13] whawker commented on #1491
This is because the link extension [explicitly excludes all other marks](https://github.com/remirror/remirror/blob/main/packages/remirror__extension-link/src/link-extension.ts#L223)

As a workaround (assuming direct access to `LinkExtension`) you could do

[code]

[2022-02-01 09:49] whawker commented on #1489
I haven't had a chance to look into this properly yet, but I would suggest this is because _both_ `NodeFormattingExtension` and [list items](https://github.com/remirror/remirror/blob/main/packages/remirror__extension-list/src/list-item-shared-extension.ts#L17) have a keyboard shortcut bound to to `Tab`

@ocavue The handlers for [list items always `return true`](https://github.com/remirror/remirror

[2022-02-02 11:03] jibin2706 commented on #1480
Finding stuff is very difficult currently.

[2022-02-02 13:37] ocavue commented on #1480
We will definitely add this feature

[2022-02-02 20:52] ankon opened #1501 "Annotation extension race between `updateAnnotation` and concurrent editors (yjs)"
### Summary

`updateAnnotations` asserts that the provided annotation is in the map of annotations. This assertion is wrong if the map is actually a Yjs map, and the caller is talking about an older version of the annotation while the map has already been updated by a concurrent editor.

There is a local variant of this problem with just a single editor: If you trigger a call to `formatAnnotations

[2022-02-02 22:35] #1501 closed

[2022-02-03 14:22] strdr4605 commented on #1213
Is there a way to solve this from the Remirror side? At least temporary!

[2022-02-03 20:21] edwinvelez commented on #1216
Hopefully you figured this out by now. If not, take a look at [Next.js Dynamic Import](https://nextjs.org/docs/advanced-features/dynamic-import). Below is an example that loads a [React Component](https://reactjs.org/docs/react-component.html) from within a page.

[code]

[2022-02-04 09:26] ocavue commented on #1213
@strdr4605 Could you open a new issue with a mini reproduction?

[2022-02-04 09:56] strdr4605 commented on #1213
The steps to reproduce are the same. Do I really need to open a new issue? Maybe reopen this one?

[2022-02-04 10:19] ocavue commented on #1213
If you have the `module.exportDefault is not a function` error when using Meteor, according to [this comment](https://github.com/meteor/meteor/issues/11631#issuecomment-950954230), seems that we don't have any way to fix this error directly for now.

I can think of one workaround. You can create a separate git repo for your React editor component. This git repo is an NPM package that imports Remir

[2022-02-04 10:27] strdr4605 commented on #1213
Thanks for the explanation, I will see if this option works for my use case.

[2022-02-05 07:34] ocavue opened #1509 "Mention can't be delete on android"
### Summary

A user on Discord has reported that mention can't be deleted by pressing backspace/delete key on android. The device is running android 9 (Pie) with chrome version 97.

### Steps to reproduce

1. open https://remirror.io
2. type `@P`
3. select a name from the dropdown menu
4. press the backspace key

https://user-images.githubusercontent.com/24715727/152633059-e8d8a0d4-404d-4843-8e96-

[2022-02-07 14:28] Powersource commented on #1459
Could you elaborate on what you did to fix this?

[2022-02-07 14:43] Powersource opened #1511 "Mentions popup menu ends up below some other elements"
### Summary

Basically reopening this issue https://github.com/remirror/remirror/issues/1459

### Steps to reproduce

See the other issue

### Expected results

The popup being above my components that surround the editor

### Actual results

The popup in some cases ending up partially below another component (in my case a Save button)

### Possible Solution

* Set `z-index` to 10 on the popup
* A

[2022-02-07 14:52] Powersource commented on #1459
Thank you. I think I need to learn more about stacking contexts. But in the meantime I seem to have fixed it by setting `.remirror-floating-popover { z-index: 10; }` globally.

[2022-02-07 14:54] Powersource commented on #1511
As maybe a bit of a hack I've just added `.remirror-floating-popover { z-index: 10; }` to my global css (feels a tad hacky but I already do this in a few remirror cases) which seems to have fixed it

[2022-02-10 16:31] chunkzer commented on #1265
Is this issue still outstanding? I could not reproduce it based on the initial description.

[2022-02-10 17:31] tomas-c commented on #1265
Not sure if this is exactly the same issue but I go to https://remirror.io/ using Chrome and bold some selected text, the selection disappears:

https://user-images.githubusercontent.com/5213953/153462947-f8df8f2c-31e0-4ef5-bb16-65374d698b07.mp4

[2022-02-10 17:40] chunkzer commented on #1265
I think selection disappearing is due to losing focus by clicking on the bold button. (You don't lose focus if you hotkey into it.)

[2022-02-10 19:03] tomas-c commented on #1265
It does not always disappear when clicking on the buttons, another example:

https://user-images.githubusercontent.com/5213953/153478441-b5cb5c6c-22f2-4533-b159-e8b2a516e467.mp4

[2022-02-12 10:22] whawker commented on #1427
@hunterclarke instead of extending `TaskListExtension` have you tried importing `TaskListItemExtension` directly?

I.e.

[code]

[2022-02-14 14:03] strdr4605 commented on #1213
While working on a POC, I wasn't able to configure a separate package with remirror editor. I tried webpack, rollup, esbuild, but all result in a `You might have more than one copy of React in the same app` Error.
As I spend too much time on this probably will have to find another solution🙁.
Maybe someone will figure it out!

[2022-02-17 16:08] benrbray opened #1521 "Remirror CSS interferes with nested ProseMirror editors"
### Summary

I maintain [`prosemirror-math`](https://github.com/benrbray/prosemirror-math) which allows the user to edit math expressions inline.
 I'm working on creating a Remirror extension to support the same behavior.

The plugin works using a custom NodeView that contains a nested ProseMirror editor (that is, an entirely separate editor instance appears inside the NodeView when the user is ed

[2022-02-20 08:56] saseungmin opened #1522 "LinkExtension autoLink true option undo bug"
### Summary

If `autoLink` option in `LinkExtension` is true, there is a bug that doesn't run undo(command + z).

[code]

Throw an error message of Uncaught Type Error: Cannot read properties of undefined (reading 'nodeSize'.)

### Steps to reproduce

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

https://user-images.githubusercontent.com/60910665/154835397-af2

[2022-02-20 09:16] saseungmin opened #1523 "Bug in which bold and italic fonts overlap when writing in markdown syntax"
### Summary
When using 'Bold Extension' and 'Italic Extension' as the markdown syntax, the two extensions overlap and can't be written.

With throw "Uncaught RangeError: Position <number> out of range" Error
### Steps to reproduce

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

https://user-images.githubusercontent.com/60910665/154835990-6e38cd2c-3a7d-40f9-9c74

[2022-02-21 09:26] whawker commented on #1521
This definitely makes sense, we just need to check that it doesn't break other styles we use, as it will give the selectors higher specificity.

In terms of where to make the changes, it should just be modifying the files [here](https://github.com/remirror/remirror/tree/main/packages/remirror__styles) - then running `pnpm fix` (which with run `pnpm fix:css`) which will copy the files over to the t

[2022-02-22 19:33] #1522 closed

[2022-02-23 18:19] lilyannh opened #1527 "Uncaught TypeError: jp.pick is not a function"
### Summary

When building my app, I get an error, `Uncaught TypeError: jp.pick is not a function` thrown from `remirror-extension-mention.browser.esm.js`.

This error does not appear when running the development server.

### Screenshot(s)

![image](https://user-images.githubusercontent.com/25422022/155382065-79d01ad4-3dce-4bf3-aa4f-1a910d3af836.png)

[2022-02-24 23:08] labkey-alan opened #1528 "ImageExtension intercepts paste commands from Microsoft Office applications"
### Summary
If you have an editor configured to use the ImageExtension the FilePasteRule created by the ImageExtension in createPasteRules will handle any paste that includes an image, even if it also includes HTML content. In the case of something like Microsoft Excel this means when you copy some rows from a sheet they will be pasted as an image in the Remirror editor.

This was not an issue the

[2022-02-25 14:14] ocavue opened #1531 "PasteRule will produce invalid duplicate marks"
### Summary

When using prosemirror-paste-rules, when pasting some text that already wrapped by target mark, it will produce an invalid node with two same marks.

### Steps to reproduce

https://user-images.githubusercontent.com/24715727/155729794-b94e00df-312f-4bfa-a885-9495e18aeea1.mp4

### Expected results

`state.doc.check()` should not throw errors.

### Actual results

`RangeError: Invalid c

[2022-02-25 14:23] ocavue opened #1533 "`replaceSelection` won't work if selected text include a link"
### Summary

### Steps to reproduce

Enable `replaceSelection` in `LinkExtension`

[code]

https://user-images.githubusercontent.com/24715727/155731046-ddc10a1e-9c77-4f07-a345-2d48ebcf3a0b.mp4

### Expected results

The `google.com bb` part should not be removed, just like the Notion example below

https://user-images.githubusercontent.com/24715727/155731172-bd32dff2-aa74-43f4-a33b-b247b65e249b.mp

[2022-02-25 17:19] #1531 closed

[2022-02-25 17:19] #1533 closed

[2022-02-26 11:38] tx0c commented on #209
and, can it have some input rules for markdown image syntax paste?

like when use type in or paste `![title](https://i.imgur.com/9wxMsKr.jpeg)` the ImageExtension should convert it to an image?

some site has this extended markdown already, user can specify like this `![title](./pic/pic1s.png =250x)` for a width, small/medium/large, and/or aligning

at least can have it as an option? like `new Ima

[2022-02-27 18:53] dennykoch commented on #1511
I stumbled across the same problem. We are using material-ui and it would be great if we could use material-ui's Popover implementation instead of FloatingWrapper. Maybe the useMention hook could return a "getFloatingWrapperProps" function that returns position info and the ref to attach to?

[2022-03-01 12:57] ocavue opened #1538 "Selected text will be deleted when pasting link"
### Summary

When I enable `replaceSelection` in `LinkExtension`. If the selected text is between one and two characters, then the selected text will be deleted after pasting.

[code]

### Steps to reproduce

https://user-images.githubusercontent.com/24715727/156172892-8f73a134-5253-465f-bc72-bc21fe8a0bad.mp4

[2022-03-01 13:43] #1538 closed

[2022-03-03 12:55] francisco-alejandro opened #1543 "RemirrorError: The content provided to the editor is not supported."
### Summary

I am wrapping the Remirror text editor inside a component in order to style it according to a style guide and functionality definitions. This component can be used by different applications and with different extensions. To achieve that, needed extensions are passed as props. I have tested with html stringHandler, and it works fine. However,  using markdown as string handler I get thi

[2022-03-04 04:23] schroeder-g opened #1544 "Helpers in Hooks only updating on every other change to Remirror state"
### Summary

Hi there, first of all let me say that I am a big fan of your work on this package, it provides a whole ton of utility right out of the gate (`EpicMode` extension is my favorite).

However, I'm currently running into some issues implementing the package on a production React app. The long and short of it is that I'm trying to send Remirror's HTML value to a more generalized reducer fo

[2022-03-04 04:32] schroeder-g commented on #1543
@francisco-alejandro I encountered the same issue. The quick fix here is removing the `initialContent` key-value pair from the options you're passing into `useRemirror`. Could be mistaken but I don't think the markdown handler supports `initialContent` at all. I've since transitioned to HTML handler (converting to markdown on the backend).

[2022-03-06 23:43] schroeder-g commented on #1544
An update, I didn't resolve this issue, per se, but I've side stepped it by reverting to using HTML and implementing the `prosemirrorNodeToHtml` method within the component. Thus it could be either an issue with the hooks interface or the `getMarkdown` helper, I'm not sure which.

[2022-03-06 23:43] #1544 closed

[2022-03-07 21:42] schroeder-g opened #1551 "Provide Code Snippets in Storybook"
### Description

There's a lot of utility around examples in the Storybook that isn't provided by the docs. However, there's currently no way to access the code that supplemented the examples. This would be greatly helpful for implementing the various features available in your library.

### Context

Specifically in this case, it's not obvious how to conditionally style block quotes within the edi

[2022-03-10 14:19] megawebmaster commented on #1213
Just to let you know: the easiest solution I found is to override `jsx-dom` package (that generates this problem).

1. Copy `node_modules/jsx-dom` to any directory
2. Update `package.json` file: set both `main` and `module` keys to `lib/index.cjs.js`
3. Pack the whole `jsx-dom` directory (i.e. `tar czf jsx-dom-6.4.23.tar.gz jsx-dom`)
4. Add file you just created to your Meteor app directory (don't

[2022-03-10 15:03] strdr4605 commented on #1213
Hey @megawebmaster, it worked so far. Thanks for the solution!

[2022-03-11 14:46] artfb opened #1554 "NodeFormattingExtension - empty style attribute"
### Summary

Extension adds `style` attribute to every supported tag, even if said tag is untouched by formatting commands.

### Steps to reproduce

- enable extension

### Expected results

```<p>test</p>```

### Actual results

```<p style="">test</p>```

### Possible Solution

[code]

[2022-03-13 22:52] solarkraft commented on #1543
Not sure if it helps, but I successfully use `initialContent` with Markdown like so: https://codesandbox.io/s/dazzling-pond-bc9xkg?file=/src/MdxEditor.tsx

A mistake raising this error I've made in the past was setting `stringHandler: "markdown"` without activating the `MarkdownExtension`.

Does your bold extension work? Could the issue be related to passing `extensions` as a function instead of a

[2022-03-14 04:57] kawei3773 opened #1555 "Text overflow highlight"
### Summar
When I add both FontSize and Highlight for one text, the text overflows the Highlight.

### Steps to reproduce
![2022_03_14_12_46_16](https://user-images.githubusercontent.com/38872955/158106793-9e348c59-5e50-4e98-8519-f7f091e58624.gif)

### actual results
![unknown](https://user-images.githubusercontent.com/38872955/158107200-aff1c254-093e-4f61-b71d-348b502ca65f.png)

### Expected resu

[2022-03-20 12:24] whawker opened #1561 "Remirror Developer Survey 2022 Q1"
Hi all, @ocavue @ronnyroeller and I are trying to find out more about Remirror's users and the use cases they're trying to solve.

We are also trying to find out where we should be prioritising our time, and define our future roadmap.

If you could spare 5 minutes of your time, please fill out the following survey

https://forms.gle/cpFH8mziVcfbCmN19

[2022-03-21 13:07] tyber-io opened #1562 "if user selects several rows and applies a style - the first row is deselected"
### Summary

When selecting multiple lines and applying a style to them, then the style is correctly applied to all lines, but the first line gets deselected. If someone wants to add multiple styles one after another, it's broken due to the deselection of the first element

### Steps to reproduce

1. Type text in several rows (can be a list)
2. Select all rows
3. Apply any style to them (e.g. Bold

[2022-03-21 13:10] artfb opened #1563 "FontSizeExtension - rounding error"
### Summary
Got:
[code]

https://github.com/remirror/remirror/blob/main/packages/remirror__extension-font-size/src/font-size-extension.ts#L125

### Steps to reproduce

When trying to paste some random stuff into editor.
Turned out that style declaration `<some-tag style="font-size: clamp(...)` causes exception. Not sure where should I catch it in my app.

### Expected results

Error gets caught wi

[2022-03-22 10:19] whawker commented on #1563
@artfb would you be able to share the HTML you tried to paste?

[2022-03-25 14:39] strdr4605 commented on #1213
I found out that https://github.com/proteriax/jsx-dom also has CommonJS version [jsx-dom-cjs](https://www.npmjs.com/package/jsx-dom-cjs). Although only v7 and v8 are available.

Tested:
[code]

[code]

No issues so far!

[2022-03-28 09:49] artfb commented on #1563
I copied whole page cmd a, cmd c, cmd v.
After some debugging turned out that part causing error was:

[code]

[2022-03-29 09:49] megawebmaster commented on #1213
@strdr4605 - I was worried that there might be some issues due to different major version, so I decided to have an override (which is specific for Meteor only). I'm glad you found another solution that works for you :muscle:

P.S. Another solution is to add only required packages to your `package.json` (if you're not using React tables extension).

[2022-03-29 09:54] strdr4605 commented on #1213
I don't use React tables extension. But it's a dependency of @remirror/react.

[2022-03-29 16:02] whawker commented on #1563
Thanks.

Note to self, check if `window.getComputedStyle` could fix this.

[2022-03-30 14:38] strdr4605 commented on #1213
@megawebmaster

I tried
[code]

but I get Context error: https://remirror.io/docs/errors/#rmr0200

[2022-03-30 18:15] devcer opened #1570 "Hovering on the react table controller doesn't highlight the borders of table headers"
### Summary

Hovering on the react table controller doesn't highlight the borders of table headers

### Steps to reproduce

* add a table with a header row
* hover on the column controller

### Expected results

The header row borders should be highlighted

### Actual results

The header row borders are not highlighted

### Possible Solution

### Screenshot(s)
<img width="1194" alt="Screenshot 202

[2022-03-30 18:28] devcer opened #1571 "Page gets scrolled to the top on clicking Add link"
### Summary

The page gets scrolled to the top when I click on Add link in the example. This is happening in the editor of my web page as well. Hope you could help me in fixing it.

### Steps to reproduce

* Open link https://remirror.io/docs/extensions/link-extension
* Scroll down to the second example
* Select text and click on add link button(please check the video)

### Expected results

the p

[2022-03-31 14:48] VFritsch opened #1574 "Tab-Key behavior inside the editor changed"
### Summary

In a older version of remirror, pressing the Tab-Key caused the editor to lose focus -> jump to the next element, while pressing it inside a list it added a new indent.

This behavior is not supported anymore in the current version.

Is there any way to enable this behavior again or recreate it manually via code with properties/components?
### Steps to reproduce

Still working in this

[2022-04-01 10:00] whawker commented on #1574
Will raise this at the next maintainer meeting. I find this painful too. Related to #1489

[2022-04-04 04:44] devcer opened #1578 "risize handle width on react-table controller, header is not same as the handle width on table rows"
### Summary

### Steps to reproduce

* Open storybook -  https://remirror.vercel.app/?path=/story/extensions-react-table--basic
* Add a table
* Hover on a column separator to enable resizing
* Observe the resize handler width

### Expected results

* Same resize handle width for controller, header and rows

### Actual results

* different resize handle width for controller, header vs rows

### Pos

[2022-04-04 15:32] saseungmin opened #1580 "After migration to React 18, EmojiExtension encounters an error."
### Summary
After migration to React 18, EmojiExtension encounters an error.
React 18 works normally when EmojiExtension isn't used.

I'm using
- @remirror/react 1.0.31
- nextjs 12.1.4
- react 18.0.0

[code]

### Steps to reproduce

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/609106

[2022-04-05 08:51] Amethystafyy282 commented on #823
Sorry to bother you, @ifiokjr, but the underscore still being removed in the pasted link, is there a way to prevent that? Thank you.

[2022-04-05 12:37] devcer opened #1585 "Adding `1.` before text to convert to numbered list is instead adding link to first word"
### Summary

Converting node to list item is incorrectly adding link on first word before actually converting to list item

### Steps to reproduce

1. Open https://remirror.vercel.app/?path=/story/editors-markdown--basic
2. Add text to the document
3. Now go to the beginning of any line to add `1.` to convert the line into a list item
4. The first word is converted to link before the whole node ge

[2022-04-06 10:53] ocavue commented on #952
We plan to release a refactor of the table extension very soon.

[2022-04-08 06:38] devcer opened #1588 "Callout gets converted to quote on backspace on empty line between them"
### Summary

If I press backspace on the line between quote and callout then the callout gets converted to quote.

### Steps to reproduce

* Add a block quote
* Add an empty line
* Add a callout below the empty line
* Now go the empty line and press backspace

### Expected results

Empty line should have been deleted

### Actual results

The callout gets converted to quote

### Possible Solution

[2022-04-08 06:40] devcer commented on #1588
You can reproduce this in the storybook here - https://github.com/devcer/remirror/blob/callout-blockquote-bug/packages/storybook-react/stories/extension-callout/basic.tsx

[2022-04-08 13:50] devcer opened #1591 "Pressing enter after adding emoji text doesn't add emoji to the document"
### Summary

The emoji extension doesn't seem to consider enter key, while adding the emoji.

### Steps to reproduce

* Open https://remirror.vercel.app/?path=/story/components-labs-emoji-popup--noto
* Add an emoji `:)`
* Press enter before pressing space

### Expected results

Emoji should have been added

### Actual results

Emoji isn't added

### Possible Solution
Convert `:)` to actual emoji

[2022-04-08 20:50] #1571 closed

[2022-04-09 23:34] kipprice opened #1592 "LinkExtension breaks inline bold formatting (**bold** or __bold__)"
### Summary

When using both `BoldExtension` and `LinkExtension`, inline bold formatting (e.g. `**bold**` or `__bold__`) no longer works.

### Steps to reproduce

1. Go to [this sandbox](https://codesandbox.io/s/link-extension-inline-bold-error-fcy0r0)
2. Inline bold something in the editor (e.g. `**line**`)
3. See that an error is thrown instead of rendering the styles

This is also reproducible

[2022-04-12 09:51] devcer opened #1596 "Table extends its width outside document on resizing the columns"
### Summary

Table extends its width outside document on resizing the columns

### Steps to reproduce

* Open https://remirror.vercel.app/?path=/story/extensions-react-table--basic
* Add a table
* Click on a column seperator and drag it all over to the extreme right

### Expected results

Table width should not extend beyond document width

### Actual results

table gets extended beyond the docume

[2022-04-12 20:43] whawker commented on #1592
Yikes. Good spot! Seems to only happen at the end of a document, but definitely needs fixing

[2022-04-12 21:17] labkey-alan commented on #1585
We were running into this issue as well, the problem is that the default URL regex used by Remirror is too lenient in defining what a valid URL is. This is obviously not a super trivial problem (there are over 1300 TLDs), so we opted to modify the existing regex to restrict it to URLS that start with http://, https://, or www. The modifed Regex we use is:

[code]

[2022-04-13 06:14] devcer opened #1597 "Link extension opens link after onclick handler is executed when `editable=false` for the document"
### Summary

Link extension opens link after onclick handler is executed when `editable=false` for the document

### Steps to reproduce

* Open Link https://codesandbox.io/s/remirror-link-bug-dtct5e
* Click on link

### Expected results
* Alert should be shown

### Actual results
* Alert is shown and additionally the link is opened in the current tab

### Possible Solution
* Same behaviour should

[2022-04-13 16:12] ceisele-r opened #1599 "Cannot find module '@emotion/styled' or its corresponding type declarations."
### Summary

When installing remirror in a Typescript project and compiling the project using `tsc`, the following error is logged:
[code]

### Steps to reproduce

Install
[code]
and run `tsc`.

### Expected results

It compiles.

### Actual results

`tsc` emits the following error:
[code]

### Possible Solution

It looks like in `@remirror/styles`, `@emotion/styled` is only listed as peer depende

[2022-04-14 03:37] devcer commented on #1597
I tried to prevent the default using
[code]
but this didn't fix the bug either.

[2022-04-14 09:15] whawker commented on #1597
Seems to be some sort of issue here capturing click events when `contentEditable=false`, I'm not sure if this is us, or a ProseMirror/contentEditable limitation yet.

As a workaround I added a click handler on the window that detects clicks from anchors inside ProseMirror

https://codesandbox.io/s/remirror-link-bug-forked-mus55h?file=/src/ClickHandler.tsx

[2022-04-14 09:17] whawker commented on #1597
P.s. My expectation is that when the content isn't editable, the links _should_ work as normal links do. A lot of user cases use `editable=false` as a read only view.

So I would challenge this as a bug, more of a non standard use case?

[2022-04-14 09:18] whawker commented on #1578
This seems like a relatively easy bug to fix. You could open a PR?

[2022-04-18 15:59] Interhead opened #1603 "TypeError: Cannot read properties of undefined (reading 'nodeType')"
### Summary
When I select text of my costom nodes by dragging on the editor, an error sometimes occurs.
This tends to (but not always) occur when I partially select the custom nodes.

### Steps to reproduce
package.json
[code]

RubyExtension.tsx
[code]

RpExtension.ts
[code]

RtExtension.ts
[code]

### Expected results
No errors occur.
Selected text is highlighted.

### Actual results
TypeError: C

[2022-04-19 08:23] zofiag opened #1604 "Remirror cannot be used in ESM node project"
### Summary

NodeJS has supported ES modules since version 12 but `remirror` doesn't seem to work for Node with ESM enabled.

### Steps to reproduce

1. Create a project where `package.json` has `"type": "module"` (alternatively you can use `.mjs` extension for `.js` files), so that ESM are enabled
2. Install one of `remirror` packages eg `@remirror/pm`
3. Create `index.js` (or `index.mjs` if you

[2022-04-19 13:47] #1592 closed

[2022-04-20 11:30] ocavue commented on #1604
I agree we should rename `.esm.js` to `.esm.mjs`. Node doesn't allow having files with the same extension to be treated as `cjs` or `esm` at the same time. ([Detailed explanation](https://github.com/sheremet-va/dual-packaging)). We didn't see this issue before because of we was using remirror under bundlers (webpack etc), which don't have this limitation.

[2022-04-21 15:40] strdr4605 opened #1607 "getAnnotations not working correctly when multiple instances of Remirror are rendered"
### Summary

I have a page with 2 or more instances of Remirror with Annotation extension, when I try to add an annotation in one of editors the `getAnnotations()` returns annotations from another instance of Remirror.

### Steps to reproduce

Open the demo link, open the console, and see logs from Editor1 and Editor2 after adding annotations in each editor
https://codesandbox.io/s/solitary-water-

[2022-04-21 20:39] #1607 closed

[2022-04-25 08:52] Interhead commented on #1603
This issue may be related to this, though I can not solve it yet.
"Nested inline nodes"
https://discuss.prosemirror.net/t/nested-inline-nodes/935

[2022-04-25 12:48] dsaltares opened #1615 "Does not restore iframe size from saved html content"
### Summary

When using `IframeExtension` with the `enableResizing` option enabled and saving content to HTML, loading saved content does not preserve the iframe dimensions.

### Steps to reproduce

1. Enable `IframeExtension` with `enableResizing` set to `true`.
2. Add iframe and resize it
3. Save content to html
4. Restore content from html

### Expected results

The iframe size is preserved.

#

[2022-04-25 12:48] dsaltares commented on #1615
Happy to send a PR for this.

[2022-04-26 08:12] devcer commented on #1588
@ronnyroeller @whawker @ocavue can you prioritise fixing this bug? been causing issues with us at Userfocus.

[2022-04-26 09:53] whawker commented on #1588
@devcer Just FYI, this isn't a bug with Remirror callouts or blockquote, the same behaviour is present in vanilla ProseMirror. [See here](https://glitch.com/edit/#!/gold-sulky-mimosa?path=index.html%3A16%3A27)

[2022-04-26 13:52] zofiag commented on #1604
I wonder if there's anything that can be done now or is it blocked because of this preconstruct open issue https://github.com/preconstruct/preconstruct/issues/251?

[2022-04-26 15:46] #1580 closed

[2022-04-27 15:31] #1591 closed

[2022-04-28 09:11] megawebmaster commented on #1213
@strdr4605 - isn't the context issue caused by `useKeymap` or `useHelpers`? If you want to use them you need to create children components.

[code]

[2022-04-28 10:45] munaashe opened #1624 "nanoevent.createNanoevent is not a function"
### Summary

### Steps to reproduce

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

[2022-04-28 12:20] whawker commented on #1624
@munaashe did you mean to post this without anything filled out above? Going to need a bit more context here

[2022-04-28 21:57] carlosbaraza commented on #1366
@whawker great work on the library. It is really useful.

However, I am struggling to optimise the performance of the library when using multiple extensions and the Toolbar. It seems like the Toolbar is rerendering for every state change, blocking the typing. Do you have any ideas on how to improve performance?

Maybe the problem has to do with the reactivity of the Toolbar telling you whether a c

[2022-04-28 22:14] carlosbaraza commented on #1366
Just noticed that when using the `Remirror` controlled passing the `state` and `onChange`, it has a low performance.

[2022-04-29 08:30] carlosbaraza commented on #1366
Another trick is to have `useMemo` when embedding your `Editor` component to prevent rendering on every keystroke if you are passing the state to the parent through something like `onChange`

[2022-05-03 16:45] #1238 closed

[2022-05-04 07:51] zofiag commented on #1489
@whawker is there any update on this one?

[2022-05-04 14:02] dduskim opened #1630 "Specific element is copied and inserted strangely."
### Summary
Thank you so much for making awesome library. I would like to use this library on my service. However it seems to be problem when using positioner extensions and entering key in the first line of a non-English.

I think it will happen not only in Korean but also in other languages.

### Steps to reproduce
Using positionExtensions, when entering Korean on the next line of `remirror-posi

[2022-05-05 14:09] ocavue opened #1632 "Unable to update prosemirror-transform to v1.4.2"
### Summary

I tried to update `prosemirror-transform` in `remirror` from `1.3.3` to `1.4.2`, but some unit tests fail after updating.

I have not debugged this yet, just record it first.

[code]

[2022-05-05 15:11] #1585 closed

[2022-05-05 15:14] ocavue opened #1634 "Paste `> ` will throw RangeError"
### Summary
Open https://remirror.io/ and paste `> `, will throw `Uncaught RangeError: Invalid content for node blockquote`.

### Expected results

At least not runtime error.

### Actual results
Uncaught RangeError: Invalid content for node blockquote`.

### Possible Solution

### Screenshot(s)

[2022-05-05 15:20] ocavue commented on #1604
Since preconstruct doesn't support it, we will need to get rid of preconstruct or use some ugly hack. In any case, we certainly won't be able to fix this in a very short term.

[2022-05-06 12:54] #468 closed

[2022-05-06 12:55] #389 closed

[2022-05-06 12:55] #471 closed

[2022-05-06 12:56] ocavue commented on #209
Resizing image is already released. https://remirror.io/docs/extensions/image-extension

[2022-05-06 12:56] #209 closed

[2022-05-06 12:56] #201 closed

[2022-05-06 12:56] #118 closed

[2022-05-06 12:56] #127 closed

[2022-05-09 20:14] seeARMS opened #1638 "PositionerExtension not working in SSR: document is not defined"
When SSR is enabled, `PositionerExtension` is throwing an exception due to a `document` reference (which does not exist in SSR). It looks like it's due to this line: https://github.com/remirror/remirror/blob/0682c5f7700093ae7181fcb6574cfc49ee5d0746/packages/remirror__extension-positioner/src/positioner-extension.ts#L186

[2022-05-10 11:20] whawker commented on #1624
Closing as more info needed, and no response

[2022-05-10 11:20] #1624 closed

[2022-05-10 15:17] seeARMS opened #1639 "CalloutExtension doesn't produce markdown via getMarkdown()"
### Summary

When using the `getMarkdown()` helper to get the corresponding markdown

### Steps to reproduce

* Enable the callout extension
* Insert a callout into your document
* Call the `getHTML()` helper and view that that HTML is produced contains `data-callout-type`, which allows it to be styled:
[code]
* Now, call `getMarkdown()` and view that all styling is stripped, and there's no markdo

[2022-05-11 14:48] whawker commented on #1563
FWIW, `getComputedStyle` can not be used on paste content, as element in paste buffer is detached from the document

[2022-05-12 15:19] whawker commented on #1639
Note to maintainers: We should determine which "flavor" of Markdown we support and explicitly state it, as not all flavors support callouts.

[2022-05-12 15:25] whawker commented on #1563
@artfb This should be resolved here. https://pr1643-remirror-ocavue.vercel.app/?path=/story/extensions-fontsize--basic

[2022-05-17 13:07] #1563 closed, assigned to nobody

[2022-05-17 16:13] ebinary opened #1647 "ToolbarCommandButton and ToolbarButton no longer align properly on Toolbar"
### Summary
Upgrading from 1.0.48 to 1.0.80: ToolbarCommandButton and ToolbarButton no longer align properly.
These buttons used to render identically, but now (possibly based on the styling of the hover text that only exists in ToolbarCommandButton), the two button types are offset by a pixel, making the UI look bad.

### Steps to reproduce
create a toolbar with ToolbarGroup containing a mix of T

[2022-05-18 07:42] sudeepgumaste opened #1649 "setState does not seem to work with state created using manager.createState({content: ...})"
### Summary

On initial load, I'm fetching the content from an API and trying to set it using setStateCall within useEffect

[code]

### Steps to reproduce

I've created a code sandbox for reference and to reproduce it

https://codesandbox.io/s/lively-cookies-kg93hf?file=/src/App.tsx:3815-3952

### Expected results

The content returned from API should have been reflected in the editor

### Actual

[2022-05-20 17:56] #1561 closed

[2022-05-23 10:31] maximilianschmitt opened #1652 "Extra Attributes get duplicated when hitting ENTER in the middle of a line"
### Summary

When using [extra attributes](https://remirror.io/docs/concepts/extra-attributes) like in the following example, I'm expecting every paragraph to receive a unique ID:

[code]

However, when typing a line and inserting the cursor somewhere in the middle of that paragraph and then hitting ENTER, the following paragraph gets the same ID as the previous paragraph.

### Steps to reproduce

[2022-05-24 12:05] devcer opened #1655 "Unable to add a new annotation properly after deleting an existing annotation"
### Summary

Unable to properly add and remove annotations from the remirror doc.

### Steps to reproduce

* Go to https://remirror.vercel.app/?path=/story/extensions-annotation--configurable
* create few annotations
* delete an annotation
* create a new annotation

### Expected results

* The new annotation should have been properly created

### Actual results

* A random annotation at a random p

[2022-05-25 07:21] devcer commented on #1655
@ronnyroeller @whawker thoughts?

[2022-05-26 19:52] labkey-alan opened #1657 "TaskList Checkboxes do not honor editable flag"
### Summary

A task list item rendered in a Remirror component with `editable={false}` can still be checked/unchecked, which triggers the onChange handler.

### Steps to reproduce

1. Instaniate a Remirror Editor with the TaskList extension
2. Render a remirror editor with `editable={false}`, and with the content that has a task list
3. Click checkbox

### Expected results

Nothing should happen,

[2022-05-27 12:21] #1489 closed

[2022-05-27 12:21] #1574 closed

[2022-05-27 12:22] whawker commented on #1489
@zofiag Apologies for the delay on this, the interactions between the two extensions, were surprisingly complex - we've had a number of discussions on how to resolve this.

I'll push a new release to NPM

[2022-05-27 12:33] whawker commented on #1657
The fix for this is simple, if the editor is initially rendered as `editable={false}`.

However if the editable flag changes a runtime, looks like we need to publish some sort of event to update the node view.

@labkey-alan does your `editable` flag change at run time?

[2022-05-27 13:25] whawker commented on #1489
@zofiag this is published. Really sorry for the delay on this one!

[2022-05-27 13:25] whawker commented on #1574
@VFritsch this should be fixed. Sorry for the delay!

[2022-05-27 16:09] whawker commented on #1657
@labkey-alan see the above PR - would be keen to know your thoughts on the checkbox not being "disabled" (visually speaking)

The PR itself prevents the checkbox state being modified.

[2022-05-27 16:10] whawker commented on #1657
I has asked on the [ProseMirror forum](https://discuss.prosemirror.net/t/is-it-possible-to-subscribe-to-view-editable-flag-changing/4648) whether it is possible to trigger behaviour when `editable` changes

[2022-05-28 09:35] whawker commented on #1528
@labkey-alan I have add a [paste debugger](https://remirror.vercel.app/?path=/story/utils-paste-debugger--paste-debugger) to our storybook. Could you paste from Excel to there, theb share here what your paste buffer contains?

[2022-05-28 09:38] whawker commented on #1523
I believe this was fixed by https://github.com/remirror/remirror/pull/1598, I cannot reproduce this anymore

[2022-05-28 09:38] #1523 closed

[2022-05-28 09:39] whawker commented on #1509
Closing, as we can't fix this. It's a known issue on ProseMirror

[2022-05-28 09:39] #1509 closed

[2022-05-28 09:39] #1491 closed

[2022-05-28 09:39] #1521 closed

[2022-05-28 09:43] whawker commented on #1264
I believe this issue has been resolved. I can no longer reproduce it

[2022-05-28 09:43] #1264 closed

[2022-05-29 19:22] whawker commented on #1652
Thanks @maximilianschmitt, good spot.

I suspect we need to add an `appendTransaction` which determines the changed nodes. If the node ID is a duplicate, and didn't exist before (by checking step mapping) we regenerate the ID.

The thing I'm unsure of, is how to determine in `appendTransaction` if the ID was generated by a unique generator, and how to use the same unique generator when there are d

[2022-05-30 05:31] whawker commented on #1604
@zofiag this could end up happening sooner than we thought.
As ProseMirror is releasing it's own typescript definitions we likely need to release a new major version due to breaking type changes. Therefore dropping CommonJS in favour of ESM is being considered for the major

[2022-05-30 05:34] whawker commented on #1554
@artfb apart from being ugly, is this causing an issue for you?

[2022-05-30 05:43] whawker commented on #1398
As `null` behaviour is explicitly mentioned in the [ProseMirror ref](https://prosemirror.net/docs/ref/#transform.Transform.removeMark), we should support this.

[2022-05-30 05:47] whawker commented on #455
Closing as we have removed the playground

[2022-05-30 05:47] #455 closed

[2022-05-30 05:49] #475 closed

[2022-05-30 05:50] whawker commented on #478
@ocavue I believe we have this now?

[2022-05-30 05:50] #486 closed

[2022-05-30 05:50] #487 closed

[2022-05-30 05:51] whawker commented on #497
@ocavue I think this is also done?

[2022-05-30 05:52] whawker commented on #520
Closing as we have removed the playground

[2022-05-30 05:52] #520 closed

[2022-05-30 05:52] whawker commented on #545
Closing as we have removed the playground

[2022-05-30 05:52] #545 closed

[2022-05-30 05:53] whawker commented on #546
Closing as we have removed the playground

[2022-05-30 05:53] #546 closed

[2022-05-30 05:57] #795 closed

[2022-05-30 06:09] whawker commented on #908
Resolved by #1031

[2022-05-30 06:09] #908 closed

[2022-05-30 06:09] whawker commented on #909
Resolved by #1031

[2022-05-30 06:09] #909 closed

[2022-05-30 07:05] artfb commented on #1554
No, it’s not

[2022-05-30 11:40] ocavue commented on #497
@whawker  I don't think all features in the issue description have been implemented, but I do agree that the current release workflow is good enough for us. So I'm going to close this.

[2022-05-30 11:40] #497 closed

[2022-05-30 11:41] ocavue commented on #478
Yes, we have this for these three packages: `remirror`, `@remirror/pm` and `@remirror/react`.

[2022-05-30 11:41] #478 closed

[2022-05-30 22:24] #1398 closed

[2022-05-31 06:04] VFritsch commented on #1574
Thank you very much!

[2022-05-31 06:22] #1657 closed

[2022-05-31 08:47] whawker commented on #1649
Hi @sudeepgumaste, you have a few issues here.

You're setting `stringHandler` to `html` however you're trying to set your initial content from JSON, so the string handler is redundant.

[code]
You're also using a mix of uncontrolled and controlled styles - the following code is used for _controlled_ editors

[code]

However when rendering Remirror, you're rendering with `initialContent`, which is

[2022-05-31 13:42] #1357 closed

[2022-05-31 16:08] ocavue commented on #1632
Fixed in #1651

[2022-05-31 16:08] #1632 closed

[2022-05-31 17:40] labkey-alan commented on #1657
Our editor does change the editable flag after initial render in a few edge cases, but I think we'd be fine living with that for the time being. I think it's less important if the checkbox doesn't appear disabled, what's important is that a user clicking on the checkbox has no effect. It's pretty easy to make the checkbox look disabled via CSS in our case as well, we have a css class on the parent

[2022-05-31 17:58] labkey-alan commented on #1657
Thank you so much for taking care of this so quickly!

[2022-06-01 09:04] mkmarkop opened #1675 "Can't build with Webpack 5"
### Summary

I can't use latest Remirror with Webpack 5. Webpack fails because it's unable to resolve **prosemirror-paste-rules**, **prosemirror-suggest** and **prosemirror-trailing-node**.

### Steps to reproduce

Happens with Webpack 5 and the following dependencies:
- "@remirror/pm": "^1.0.20"
- "@remirror/react": "^1.0.39"
- "remirror": "^1.0.85"

### Expected results

Build should pass.

###

[2022-06-01 09:32] ocavue commented on #1675
@mkmarkop Could you try to remove your `node_modules` and lockfile (e.g. `yarn.lock`, `package-lock.json`), then reinstall and see if this issue still exists?

If it doesn't fix it, please share your `package.json`, and if possible, also your lockfile.

[2022-06-01 09:56] d-kls opened #1677 "CRA with jest-remirror"
### Summary

I am using remirror in a project that was created with create-react-app. i then wanted to test my editor with jest-remirror, but ran into an issue where in my test file, i get the following error:
![image](https://user-images.githubusercontent.com/68340074/171373501-1eea99a1-fb49-4a99-b8c1-2ec31c0b6674.png)
![image](https://user-images.githubusercontent.com/68340074/171375184-ee0bd08c

[2022-06-01 10:17] sudeepgumaste commented on #1649
Hi @whawker!
This seems to have solved my issue. Thank you so much!

[2022-06-01 10:18] whawker commented on #1649
No worries

[2022-06-01 17:10] d-kls commented on #1677
@whawker Thanks a lot! That indeed resolved the issue..i was not aware of the rewrite.

[2022-06-01 17:11] #1677 closed

[2022-06-02 04:48] whawker commented on #507
Obsolete

[2022-06-02 04:48] #507 closed

[2022-06-02 04:50] #615 closed

[2022-06-03 05:16] DoK6n opened #1681 "@remirror/styles/styled-components > styled-components.d.ts > missing extensionCountStyledCss"
### Summary

@remirror/styles/styled-components
missing extensionCountStyledCss in styled-components.d.ts

### Steps to reproduce

<img width="304" alt="image" src="https://user-images.githubusercontent.com/39258608/171790802-8a7d901f-d712-4e55-b449-216536b0161c.png">

### Expected results

export declare const extensionCountStyledCss: ReturnType<typeof css>;

### Actual results

<img width="961"

[2022-06-03 09:47] devcer commented on #1655
@ronnyroeller @whawker @ifiokjr can you please add sponsored label to this issue and prioritise?

[2022-06-03 10:12] whawker commented on #1655
@devcer Happy to take a look, however from the looks of it you're not sponsoring us?

[2022-06-03 14:55] devcer commented on #1655
@whawker Thanks for taking a look. \o/ We have been very happy with remirror and our company has been sponsoring remirror from the past few months, Not sure if the sponsorship went through for this month yet but you can check for the last few months. I'm from Userfocus and you must have received the sponsorship from `narulachirag` or `user-focus`.

[2022-06-03 15:10] whawker commented on #1655
No worries. For what it's worth, I can see a sponsorship beginning 8th April, which was then cancelled 2nd May

[2022-06-04 09:10] devcer commented on #1655
Okay. I will check with my team and get this reinstated again. Thanks for your help again.

[2022-06-05 12:37] #1356 closed

[2022-06-06 08:52] strdr4605 opened #1700 "TypeError e.portals.entries is not a function or its return value is not iterable"
### Summary

TypeError

eval(/node_modules/@remirror/extension-react-component/dist/remirror-extension-react-component.browser.cjs.js)

### Steps to reproduce

This error occurs on Android devices

Chrome Mobile
Version:102.0.0
Android
Version:10,11,12

Also valid issue for iPhone Chrome Mobile

### Trace

I tracked down to

https://github.com/remirror/remirror/blob/a2ca7a83f35b3831b97817eb2cb38b1

[2022-06-08 18:12] DiegoPayan opened #1706 "Jest-remirror - TypeError: Cannot read property 'builders' of undefined"
### Summary

After trying to upgrade to the latest released versions, I started getting a new error on my tests.

### Steps to reproduce

- Create a new React project with create-react-app
- Install the latest released versions of remirror, @remirror/react and jest-remirror
[code]
- Import anything from `jest-remirror` in any file
[code]
- Run `yarn test`

Can take a look at this simplified exampl

[2022-06-08 18:32] mmontesinoademero opened #1707 "History undo/redo broken when also using extension-yjs"
### Summary

When using extension-yjs with `disableUndo: true` and upgrading from Remirror 1.0.77 to 1.0.78, undo and redo for the Remirror history extension stop working. I'm using WebrtcProvider for YJS, which works as expected with Remirror 1.0.78 in this context.

### Steps to reproduce

Set remirror version to 1.0.78
Set remirror/pm version to 1.0.17
Set remirror/react version to 1.0.36

[cod

[2022-06-08 22:09] whawker commented on #1706
Hi @DiegoPayan, please see #1677 for workaround

[2022-06-08 22:09] #1706 closed

[2022-06-08 22:10] whawker commented on #1706
P.s. I'll see if can implement a proper fix tomorrow

[2022-06-09 00:51] DiegoPayan commented on #1706
@whawker Thanks for your answer, i've tried the workaround and it worked in code sandbox and locally but just when using `npm install`, for some reason with `yarn install` is still not working.

[2022-06-09 21:36] #1700 closed

[2022-06-10 11:13] whawker commented on #1681
Good spot @DoK6n, I forgot to update the themes/styles when I added the count extension.

Published [`@remirror/styles`](https://www.npmjs.com/package/@remirror/styles) 1.1.4 which should fix this.

[2022-06-10 11:13] #1681 closed

[2022-06-10 15:58] tomi-bigpi opened #1716 "Missing `peerDependencies` when using pnpm with strict peer dependencies"
### Summary

Following the installation instructions, package installation using pnpm fails due to missing (strict) peer dependencies.

### Steps to reproduce

[code]

Create the following `package.json`:

[code]

Then run `pnpm install`.

### Expected results

Either required dependencies are listed in the documentation, or Remirror peer/dependencies are adjusted to avoid warnings and errors when

[2022-06-13 09:29] MTG2000 opened #1717 "getMarkdown automatically escapes links"
### Summary

I'm building a markdown editor, & I noticed that when I use the getMarkdown helper, it adds an escaping slash before the [] brackets

### Steps to reproduce
try pasting this markdown `Check: [CommonMark](https://commonmark.org/)` in the markdown editor in the showcase page [Markdown showcase](https://remirror.io/docs/showcase/markdown)

### Expected results
` Check: [CommonMark](https

[2022-06-13 09:39] #1655 closed

[2022-06-13 10:14] whawker commented on #1655
@devcer published fix. Available on remirror@1.0.88 / @remirror/extension-annotation@1.1.26

[2022-06-13 16:29] labkey-alan commented on #1528
As I said in the original issue, the ImageExtension intercepts the paste, sees an image, then handles the paste event, which prevents all other extensions from handling paste. I would imagine this is almost always the wrong thing to do, most people probably want the HTML contents, or at least the plain text contents. One way to handle this, which I have done locally (and have example code above),

[2022-06-13 16:42] whawker commented on #1528
Thanks for the really helpful debugging tips here!

You're correct that the preference appears wrong here, I'll have look at switching the preference to HTML, and only using the files if the HTML buffer is empty.

However I'd like to keep the images too if that's possible, I know it's useful for copying charts and things from Excel in its current form. I wonder if using the HTML might result in br

[2022-06-13 17:44] labkey-alan commented on #1528
Yeah I can for sure see the utility in the images for stuff like charts, looking at the paste result for a chart in the clipboard inspector this is what I'm seeing:

[code]

Note the `<v>` tags, these are VML tags, which are a proprietary Microsoft SVG-like API that is not supported by any major browser. You could probably test for the existence of VML, and if you see it use the image. If there is

[2022-06-14 09:57] strdr4605 opened #1721 "Issue when updating to @remirror/react-components@1.0.31+"
### Summary

Here are my remirror deps:

[code]

when I try to update to:

[code]

I get the error:

[code]

I see that only these changes were made:

chore(changeset): version update (https://github.com/remirror/remirror/pull/1614) https://github.com/remirror/remirror/commit/118fc255b4570de1e1d52103b9409c664e3e587d

### Steps to reproduce

I may be an issue with my project. But it's strange that

[2022-06-14 09:59] ocavue commented on #1721
Does removing `node_modules` and `yarn.lock` and then reinstalling dependencies help?

I guess you have multiple different versions of one remirror packages installed.

[2022-06-14 14:33] strdr4605 commented on #1721
You are right, but I can not remove `package-lock.json` file as it will break other deps in the project.
I had to uninstall all remirror packages and do install again.

I even did a small script to get all remirror packages and pipe them to `npm uninstall`

[code]

In case someone also has the same issue and can't remove the lock file.

[2022-06-14 14:33] #1721 closed

[2022-06-14 20:31] whawker commented on #1717
We don't actually provide an input rule for links at the moment. I don't know why,

I'll have a look at adding one, it'll be a bit difficult making it work with the autolinking behaviour

[2022-06-15 07:21] devcer commented on #1655
Thank you, Will. It works 🥳

[2022-06-16 10:58] marcoSven opened #1725 "Inserting Markdown undesired paragraphs ( empty lines )"
### Summary

When inserting inline nodes on two separate lines at the start of the doc, undesired empty lines are inserted in between.

For example this markdown `"[[remirror.io](http://remirror.io/)]([//remirror.io)\n\n[sofi.com](//www.sofi.com/)](https://remirror.io%29/n/n[sofi.com](//www.sofi.com/))"` should basically produce nodes like this `"<p><a href='//remirror.io'>remirror.io</a></p><p><a

[2022-06-17 01:06] eddie0329 commented on #1578
@whawker Can i work on this? I'd love to work this bug

[2022-06-17 06:48] whawker commented on #1578
@eddie0329 absolutely! That would be fantastic!

Here's our contributing guide https://github.com/remirror/remirror/blob/main/docs/contributing.md

[2022-06-21 13:00] marcoSven opened #1730 "Custom link validation function option - link extension"
### Description

Ability to provide a custom link validation function for the Remirror link extension.

### Context

For a project that already uses another method of link validation, it would be more maintainable and easier to match results.

[2022-06-21 15:18] marcoSven opened #1732 "Links not updating based on adjacent text nodes - link extension"
### Summary

Links should detect trailing characters that invalidate a previously valid link.

### Steps to reproduce

https://remirror.io/

1. Type "window.co" - creates a valid link
2. Continue typing "nfirm"

### Expected results

[code]

### Actual results

[code]

### Screenshot(s)

https://user-images.githubusercontent.com/3860298/174818160-8eb39d9f-23b2-4b7f-9594-6afc8ec1300e.mov

[2022-06-22 09:39] JokerDang commented on #1555
This issue can resolve by move TextHightLightExtension below FontSizeExtension

Example: [new FontSizeExtension(), new TextHightLightExtension ()]

[2022-06-23 03:41] JokerDang commented on #995
Hi @ocavue, @ronnyroeller and @whawker. Could you share about release plan for this bug? I met bug from my task related to it!

[2022-06-23 08:03] Amethystafyy282 commented on #1730
I think this might help.
`new LinkExtension({ autoLinkRegex: 'your_regexp' }),`

[2022-06-23 11:21] marcoSven commented on #1730
Thank you @Amethystafyy282 I am aware of this option but I am proposing the option to provide your own validation that would be used instead of the autoLinkRegex

https://github.com/marcoSven/remirror/commit/f7f824fd4e72e53e16f69b4617d8f1190009ef8a#diff-c6362a6560783faf0b832a4b10098233042a3092f87b84b29f28f46c94410ac9R158

[2022-06-23 12:26] ocavue commented on #1604
This is fixed in the beta version.

[code]

[2022-06-23 14:49] DiegoPayan opened #1740 "Add the ability to edit link marks when the text is equal to the URL"
### Description

Having the ability to edit each item in the editor before sending a message is important for users. Unfortunately, there are some use cases where there is more than one editor in different contexts, for example in a chat application, if you have a list of users, you want to have the ability to type something, switch to another chat and come back to continue typing in the first one

[2022-06-27 05:44] ramvermilion commented on #241
https://remirror.io/docs/static-rendering/

editable={false}

[2022-06-28 08:58] marcoSven opened #1754 "link ext onUpdateLink DOMException - Failed to execute 'collapse' on 'Selection'"
### Summary

The issue is with the "onUpdateLink" handler when used with Remirror context. The context has still the previous state. Not 100% sure if this is a bug or if that is intentional.

### Steps to reproduce

See code sandbox https://codesandbox.io/s/remirror-update-link-u729f1?file=/src/App.tsx
Enter "test.com" and backspace ( delete ) the "m" - "test.co"

### Expected results

no error

#

[2022-06-28 10:00] tim-field opened #1755 "Unable to follow getting started guide in CRA or Vite"
### Summary

Unable to follow getting started guide in CRA or Vite

### Steps to reproduce

Create a fresh CRA app or Vite project

`yarn create vite client --template react-ts`

install per the tutorial

`yarn add remirror @remirror/react @remirror/pm`

Paste the flowing example in the getting started guide

https://remirror.io/docs/getting-started/render-editor

### Expected results

Expected to

[2022-06-29 09:08] maximilianschmitt commented on #1652
Thanks for checking this out @whawker! I'm not very familiar with remirror/codemirror internals but as a user of the library I would have thought that these `extraAttributes` are applied to every new paragraph, even if that new paragraph was created by hitting `Enter` in the middle of a line. Or is there something special about the `id` attribute that it needs "extra treatment"? 🤔

[code]

[2022-06-29 09:25] whawker commented on #1652
Unfortunately that's the case, when hitting Enter in the middle of a line, you don't create a new paragraph, instead you _split_ an existing paragraph into two pieces

[2022-06-29 09:42] whawker commented on #1652
Yes, this would go back to the appendTransaction method I mentioned earlier. We'd need to detect changed nodes and identify duplicate IDs.

I'm on holiday right now, so can't look into this until next week at the earliest I'm afraid

[2022-07-01 09:32] ocavue commented on #1755
Here are some examples with CRA and Vite here: https://github.com/remirror/remirror-examples. Let me know if this helps.

[2022-07-03 12:52] d-kls opened #1770 "Table Insert Remove Button"
### Summary

When hovering over the controllers of a react table (in remirror storybook) and then continue typing in a line thats above the table, an error is thrown in the `removeInsertButton` method from the `TableView` class.

### Steps to reproduce

1. Go to Remirror Storybook
2. Select React Table
3. Create 3x3 Table
5. Insert line above table and type something
6. hover over the controller t

[2022-07-05 09:17] maximilianschmitt commented on #1652
Ok great!

No problem @whawker, really appreciate this awesome project you guys are building here! Have a good holiday :)

[2022-07-15 09:02] mikkopori opened #1785 "When using remirror with emotion you get The pseudo class ":first-child" is potentially unsafe when doing server-side rendering. Try changing it to ":first-of-type". in the console"
Hello,

as mentioned you get an error in the console which I think is coming from remirror. So please consider changing :first-child to :first-of-type?

Br,

Mikko

[2022-07-15 13:20] ronnyroeller opened #1786 "Release v2"
This ticket tracks the open items to create the final v2 release.

### Tasks

- [ ] Create upgrade guide
- [ ] Upgrade 2-3 production apps to v2-beta (to validate upgrade procedure)
- [ ] Remove deprecated features
- [ ] (Optionally) Redo React components
- [ ] Create announcement blog post

[2022-07-16 21:43] b4s36t4 commented on #1527
Any solution for this?, having same issues.

[2022-07-17 01:40] ocavue commented on #1527
Could you provide a reproduction repository?

[2022-07-18 19:50] #995 closed

[2022-07-19 02:59] Anenth opened #1792 "`text-color-extension` does not change the color of bullets/markets in a list."
### Summary

When we select the entire list and change the color using `text-color-extension`, it only changes the color inside the list items and does not change the color of the bullet icons.

### Steps to reproduce

### Expected results

When the entire list is selected, it should also change the color of the bullets

### Actual results

When the entire list is selected, only the text inside th

[2022-07-19 05:39] ocavue commented on #1792
`TextColorExtension` indeed doesn't change the color of bullets, because bullets are not part of *text*. These bullets are a part of the list item blocks, and are controlled by the [list-style-type](https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type) CSS rule.

There are some ways to color a bullet, for example, we can add a new `color` attribute to the list item node in `ListItemExt

[2022-07-19 13:04] ocavue commented on #1792
Maybe you didn't define the new `code` attribute for `ListItemExtension`. This doc should help a bit: https://remirror.io/docs/concepts/extra-attributes

[2022-07-20 04:42] lilyannh commented on #1527
A workaround was to add the option `--no-scope-hoist` to my parcel build. This resulted in a bigger bundle size, but it worked.

[2022-07-20 04:45] ocavue commented on #1527
@lilyannh Could you check if you have multiple different versions of Remirror packages (e.g. `@remirror/core`) installed in your lockfile (e.g. yarn.lock).

[These tools](https://github.com/ocavue/pnpm-deduplicate#solutions-for-other-package-managers) might help if you do have duplicate dependencies

[2022-07-20 05:05] Anenth commented on #1792
It did work but, It's adding the attribute only to 1st item(li) on the list. I was expecting it will add on `ol`

These are the code snippets.
[code]

[code]

![PixelSnap 2022-07-20 at 10 35 05](https://user-images.githubusercontent.com/1499218/179901077-04c456fb-0df6-4580-917c-48891c9f4fb9.jpg)

[2022-07-20 05:56] ocavue commented on #1792
You current code is adding color to the first list item (`<li>` HTML element) in the list. If you want to set all list items in a list with the same bullet color, you should add this attribute to list node (`OrderedListExtension`, `<ol>`) instead of list items, and then maybe use some CSS magic to set the bullet color for all list items (`<li>`) under this list (`<uo>`). If you want to be able to

[2022-07-20 06:34] Anenth commented on #1792
@ocavue thanks alot, After adding the options in `OrderedListExtension` and changing the `list.start` to `list.pos` it worked.

### Here is a complete solution on how to add marker color.
#### 1. Add attribute to the `OrderedListExtension`
- I am adding a CSS variable to target only the marker
- You can add the same options to `BulletListExtension`, if you want to change the bullet color also
[cod

[2022-07-20 06:34] #1792 closed

[2022-07-23 13:53] loufranco commented on #1285
I used this workaround as a start, but then you need to do the translation of the "data" attributes to ones that work with <p>. I used

[code]

Which is all I need for my use case (didn't do indent, justified text, etc).

I will also say that `Heading` doesn't handle `NodeFormatting` when react rendering at all either.  I just copied Heading out of the repo and added similar code to the above.

[2022-08-02 13:49] dgtllion opened #1811 "RangeError: Adding different instances of a keyed plugin (plugin$)"
### Summary

I've done all the steps that is provided in this tutorial and when i want to load the editor im getting this error:
[code]

### Steps to reproduce

Install modules:
[code]
Create MyEditor.js
[code]

### Expected results

See the editor on my page.

### Actual results

[code]

When i inspect code i see that there is twice an plugin$ in an array:

[code]

[2022-08-03 13:09] ocavue opened #1814 "CodeBlockExtension provide wrong highlight after re-mounting"
### Summary

After re-mounting `<Remirror/>`, the syntax highlight in a code block is wrong.

### Steps to reproduce

1. Open https://stackblitz.com/edit/github-42awdo-xf6etn?file=src%2FApp.tsx,src%2FEditor.tsx&terminal=dev
2. Do some changes inside the Remirror editor
3. Click the button ouside the editor
4. Click the Remirror editor and you can see that the syntax highlight is messed up.

### Ex

[2022-08-03 13:28] ocavue commented on #1811
I created a mini demo and couldn't reproduce your issue: https://stackblitz.com/edit/vitejs-vite-5lnszq?file=package.json

Could you check if you get any duplicate dependencies in your lock file (e.g. `yarn.lock`). For example, `prosemirror-model`, `@remirror/core` etc. If so, you can try to remove duplicate dependencies by following this [link](https://github.com/ocavue/pnpm-deduplicate#solutions

[2022-08-03 16:04] dgtllion commented on #1811
Found why it gives me an error...
When i install packages with ```npm install``` it works fine...
If i install with ``yarn install``` then it shows me an error.

How to reproduce:

1. Clone this folder https://github.com/remirror/remirror-examples/tree/main/with-create-react-app
2. Change `package.json` to:
[code]
4. Change `index.tsx` to React 17 style:
[code]
5. Run `yarn install`
6. Run `yarn s

[2022-08-03 17:38] dgtllion commented on #1811
if i try to install beta versions then i get another error:
[code]

[2022-08-03 20:04] mmontesinoademero commented on #1707
I've had some more time to diagnose this, and I believe the culprit is with the y-prosemirror dependency as npm will likely pull in a version higher than 1.0.19. If you can force "y-prosemirror": "1.0.19" or "y-prosemirror": "1.0.20" things seem to work correctly. things break as soon as you encounter y-prosemirror 1.1.0.

My own package.json contains the following, though some definitions may not

[2022-08-04 05:43] dgtllion commented on #1811
for beta i needed to update my `package.json`

Specially browserslist part to:
[code]

[2022-08-04 11:45] #1814 closed

[2022-08-04 12:59] ocavue opened #1816 "With statements cannot be used with the "esm" output format due to strict mode"
### Summary

When using Remirror in a Remix project, the following error occurs:

[code]

### Steps to reproduce

[code]

@jlong Thank you for creating this repo.

### Possible Solution

It seems that removing `require('domino')` in [this line](https://github.com/remirror/remirror/blob/1763b647ea5d4cdc83a79e4dd4cf0dfafc7af848/packages/remirror__core-utils/src/core-utils.ts#L1221) will resolve this

[2022-08-05 16:12] alirezahmz commented on #1811
I have the same problem, when I try to install with yarn, it gives the same error, and when I install with npm, there is no error!!

[2022-08-08 03:36] HeavenFox commented on #1755
This is caused by a bug (or maybe not a bug?) in `@remirror/pm` package, where it depends on `prosemirror-transform` < 1.5.0. That module is transpiled into ES5, and therefore other packages that transpile into ES6 classes are not compatible with this.
Upgrading `@remirror/pm` to the beta version would solve the issue.

[2022-08-22 22:26] labkey-alan opened #1824 "LinkExtension autoLink interferes with TableExtension copy/paste"
### Summary

When using the TableExtension in combination with the LinkExtension with autoLink set to `true` copying a column of data from one table to another results in a nested table being pasted, instead of the column contents spanning multiple rows.

### Steps to reproduce

Setup a remirror editor with the following extensions:

[code]

Insert a table (3x3), enter data into the table that loo

[2022-08-29 10:45] IdrissMahjoubi opened #1826 "Create embedded editable content Node"
### Discussed in https://github.com/remirror/remirror/discussions/1825

<div type='discussions-op-text'>

<sup>Originally posted by **IdrissMahjoubi** August 29, 2022</sup>
Hello everyone,

**Objective**: I'm trying to create a node that has editable content as a child. The reason is to link certain nodes with each other.

**Use case**: I want to show the text included in the file, as part of the

[2022-09-03 06:15] alirezahmz opened #1829 "unique id in text type in content array"
I want to have unique id for each text type, how can I do this??
![remirrorIssue](https://user-images.githubusercontent.com/64639961/188258413-f55c9f25-e9cd-45d4-8b79-33c2cb78c6b2.PNG)

[2022-09-06 09:45] whawker commented on #1816
I'm seeing this error on CodeSandbox, so I vote we remove this too

https://codesandbox.io/s/romantic-water-zjtkxc

[2022-09-08 01:33] #1816 closed

[2022-09-08 21:13] #1730 closed

[2022-09-08 21:13] #1732 closed

[2022-09-09 07:29] Yokubjon-J commented on #1638
I think I am also getting this error. Screenshot:
![image](https://user-images.githubusercontent.com/67240021/189295761-33c024fd-45be-42fa-b4f9-10b3938055a8.png)
Reproduction is here: https://github.com/Yokubjon-J/chat-app/tree/ssr-remirror-bug-repdn

[2022-09-10 09:58] marcoSven commented on #1717
@MTG2000 not sure if you need the link extension ( auto-link ) inside a markdown editor.

Regarding escaping, you can provide your own `htmlToMarkdown` function.

Here is a demo with the link extension removed and a custom escape function

https://user-images.githubusercontent.com/3860298/189477987-97176f95-c43e-44dc-84ac-886de95c69a7.mov

I can see the benefit of having an option to provide just

[2022-09-10 11:13] marcoSven commented on #1717
I get your point @whawker

[2022-09-12 19:44] Himself65 commented on #1811
same error here with the basic tutorial setup but using `yarn3.`

[2022-09-13 09:55] IdrissMahjoubi opened #1858 "getMarkRange and getMarkRanges are not returning the right marks in the selection"
### Summary

`getMarkRange` and `getMarkRanges` are not returning all the marks in the selection:

**Case 1:** When the marks are overlapping => returned value is the first mark
**Case 2:** When the mark in the content of a selected node (e.g paragraph, where content is text nodes with marks) => returned value is an empty array

### Steps to reproduce

**Reproduction case 1**

packages/remirror__e

[2022-09-16 17:19] #992 closed

[2022-09-19 04:50] marcelovicentegc opened #1864 "Remirror not working on Chrome and Safari on iOS devices"
# Summary

When opening remirror website and storybook stories on iOS devices (Chrome and Safari - possibly other browsers), it breaks (on storybook), or loads infinitely (per website)

# Steps to reproduce

## Open and visit any story from: https://remirror.vercel.app/?path=/story/introduction--introduction

You will notice that varying errors pop up:

### Markdown story
![WhatsApp Image 2022-09-

[2022-09-19 15:10] mrexox opened #1866 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
I understand the reasons for this code, but it seems like a buggy thing. It always throws a warning, and for some checks/linters warnings are considered as errors.

https://github.com/remirror/remirror/blob/2c96b54ace3eab11aa5a5215944556cdee5dbdca/packages/remirror__core-utils/src/core-utils.ts#L1224-L1232

When starting a server, I get two warnings:
[code]

[2022-09-20 10:05] ocavue commented on #1864
macOS safari Version 16.0 doesn't work too.

<img width="900" alt="image" src="https://user-images.githubusercontent.com/24715727/191230079-7c44310f-a1d9-4da8-b775-012d6b96cf5b.png">

[2022-09-20 10:32] ocavue commented on #1866
Could you share me an example repo for such warning? I'm not exactly sure how to reproduce the problem.

[2022-09-20 11:08] ocavue commented on #1864
Fixed in remirror@2.0.2

[2022-09-20 11:08] #1864 closed

[2022-09-20 11:11] ocavue commented on #1755
This should be fixed with [remirror v2](https://remirror.io/blog/announcement-v2), so I'm going to close this issue. Let me know if someone still get this error.

[2022-09-20 11:11] #1755 closed

[2022-09-20 11:19] ocavue commented on #1811
This should be fixed with [remirror v2](https://remirror.io/blog/announcement-v2).

[2022-09-20 13:26] mrexox commented on #1866
Here is the basic repo I could create to reproduce the issue: https://github.com/mrexox/test-remirror-warning

[2022-09-20 13:53] marcelovicentegc commented on #1864
Thanks so much @ocavue! Congrats on the job done, this tool is fantastic! :rocket:

[2022-09-22 09:42] ocavue commented on #1866
Your repo is useful. I'm already working on a PR based on your replication. Thanks!

[2022-09-22 11:15] #1866 closed

[2022-09-23 07:54] mrexox commented on #1866
Thank you very much for the quick fix! I really appreciate your fast response :pray: :rocket:

[2022-09-25 11:05] akshayknz commented on #1599
same issue here

[2022-09-28 01:50] potrepka opened #1884 "Version 2.0.6 has client-side error"
### Summary

I am using remirror for the first time today, and I have an error on the frontend that I believe is due to some recent changes.

### Steps to reproduce

Install and use remirror with `pnpm`.

### Screenshot(s)

![Screen Shot 2022-09-27 at 6 16 11 PM](https://user-images.githubusercontent.com/9044824/192669198-33b632f6-5550-4e5c-9d0a-583c1c45aa9c.png)
![Screen Shot 2022-09-27 at 6 16 5

[2022-09-28 02:22] ocavue commented on #1884
Hi @potrepka. Could you share me more detail about how to reproduce this issue? A minimal reproduction repository would be best.

[2022-09-28 06:29] rockiger commented on #1884
@ocavue https://github.com/remirror/remirror-examples/tree/main/with-vite

Has the same issue on my machine. It happens only with **Vite**. CRA is working fine.

OS: Ubuntu 22.04
Node: v16.16.0
Browsers: Chrome 105 / Firefox 106

[2022-09-28 07:25] ocavue commented on #1884
I can reproduce it. Thanks! It seems that only `vite dev` has this issue and `vite build && vite preview` works fine.

[2022-09-28 08:25] #1884 closed

[2022-09-28 14:30] ocavue commented on #1884
remirror@2.0.8 should fix this issue. I tested Create React App, Vite and Next.js, both on production and development.

[2022-09-29 04:43] kulame opened #1889 "need typescript support"
### Summary

[code]

### Steps to reproduce

got type declarations on @remirror/react-editors/wysiwyg

[2022-09-29 04:57] #1889 closed

[2022-10-04 13:08] aniketbiprojit commented on #1251
Hi, we have a use case for this. Could you point out what the changes would be required for this so that we can take this up?

[2022-10-04 13:15] ronnyroeller commented on #1251
Unfortunately, I can't tell you in detail. But this is the extension that has the assumption that there is only one provider: https://github.com/remirror/remirror/blob/main/packages/remirror__extension-yjs/src/yjs-extension.ts

[2022-10-05 09:42] FryingggPannn opened #1894 "Retrieve the document from the global scope"
I’m trying to use Remirror with Next.js. Whenever I try to add an editor, using `<WysiwygEditor />` or `<Remirror />`, there’s an error saying
[code]

What does this mean? How can I resolve this issue?

I’m using the exact same code as shown in [the example](https://remirror.io/docs/getting-started/render-editor) (but without the CSS `import` at the top).

[2022-10-06 16:36] #1894 closed

[2022-10-10 14:25] rohamgoudarz commented on #1829
Updating to latest version might fix your issue.

[2022-10-12 08:47] JanReichelt opened #1901 "Material UI Errors in React Toolbar Components"
## Summary

The React Toolbar Component (e.g. the CommandButton) throws Errors, because a disabled Button is wrapped with a Tooltip (see screenshot), which directly disables it (because pointer events are prohibited this way).
I experienced it with the prebuilt react undo and redo buttons, but it should apply to all other Toolbar buttons as well.

## Versions
(used in the example repo)
[code]
## S

[2022-10-14 15:41] #1528 closed

[2022-10-14 18:33] whawker commented on #1528
@labkey-alan apologies for the delay here, I was hoping to find a solution that kept the images within the HTML, but unfortunately there doesn't seem to be any workaround for `file:///` URLs

[2022-10-16 19:51] sdanfa opened #1909 "Remirror in component in nextjs, can't use fs modules server side."
Hi,
I'm using remirrror in a component in nextjs but I don't know a way to fetch data from server side, other than using json/files fetching? What's the best way to get data from server side with nextjs? getServerSideProps method in nextjs is not working from component, that's why I'm asking. Is the only way via fetch and json files from web?

Thanks alot.

[2022-10-16 20:04] sdanfa commented on #1909
It says on NextJS to use SWR for client side data fetching, it seems to work from components, do I have to use that? "[Client-side data fetching with SWR](https://nextjs.org/docs/basic-features/data-fetching/client-side#client-side-data-fetching-with-swr)"

[2022-10-16 23:18] theIntuitionist opened #1910 "OnChangeJSON only responds to addition of content, not removal of content"
### Summary

When using the json onChange handler `OnChangeJSON` the callback fn gets called when the user adds content, but not when the user removes content.

### Steps to reproduce

The following stripped down editor will demonstrate the above behavior:

[code]

### Expected results

I expected to have the onChange callback triggered for any change, either the addition of text or its removal.

[2022-10-17 08:45] ocavue commented on #1910
https://user-images.githubusercontent.com/24715727/196132029-11d3bdd1-5056-4dab-a5df-2033addb0bda.mp4

I cannot reproduce this issue. Could you share a repo/CodeSandbox/StackBlitz link? You can start with https://github.com/remirror/remirror-examples

[2022-10-17 08:50] ocavue commented on #1909
Remirror only works on the client (browser) side since it needs some browser API. If you want to use Remirror in your Next.js project, you need to use [dynamic import](https://nextjs.org/docs/advanced-features/dynamic-import). See this example for a working demo: https://github.com/remirror/remirror-examples/tree/main/with-nextjs

`swr` seems to be a good solution for for data fetching.

See also

[2022-10-17 10:34] sdanfa commented on #1909
I want to fetch  External data in the client(browser). Can you give me an example that works with both swr and nextjs? Because it doesn't seen to work for me on nextjs, in the client, it always errors out. I ask because you're an expert of remirror. @ocavue

Thanks for your help :)

[2022-10-17 10:41] sdanfa commented on #1909
Also how can I use variables between Component and Pages? Because it errors out too?

[2022-10-17 12:41] sdanfa opened #1911 "Can't edit editor content from NextJS dynamically imported component."
Hi,
I'm importing remirror dynamically in NextJS, so I only have access to <TextEditor />. How can I access and call the editor functions like change content from index.tsx my main  page? As Remirror is dynamically imported.

Thanks.

[2022-10-17 13:31] ocavue opened #1913 "`jest-remirror` can handle shortcut `Mod-Enter` correctly"
### Summary

None of `editor.press('Mod-Enter')` and `editor.shortcut('Mod-Enter')` can trigger the `Mod-Enter` keybinding.

### Steps to reproduce

TODO

### Expected results

### Actual results

### Possible Solution

### Screenshot(s)

[2022-10-18 09:41] burzykovski commented on #1675
We had some issues with yarn workspaces which was not correctly hoisting dependecies (i.e. @remirror packages were hoisted to root node_modules and remirror package was not).

Anyway, we also had issues with building app with remirror. After comparing our webpack config to CRA webpack config it turned out that we didn't transpile modules from node_modules with babel and that caused some errors. So

[2022-10-24 10:22] leonard-henriquez opened #1919 "Pseudo class ":first-child" used in Remirror raises warning when using Next.js and Emotion"
### Summary

I have a warning in the console raised by Next.js that seems to be related to the use of ":first-child" in the styles of Remirror which is unsafe for server side rendering

My versions:
- @emotion/react: 11.10.0
- @emotion/server: 11.10.0
- @emotion/styled: 11.10.0
- @remirror/core: 2.0.6
- @remirror/pm: 2.0.0
- @remirror/react: 2.0.12
- @remirror/react-components: 2.0.10
- @remirror/

[2022-10-24 10:25] ocavue commented on #1919
Duplicate https://github.com/remirror/remirror/issues/1785

[2022-10-24 10:25] #1919 closed

[2022-10-25 21:42] stevegt opened #1921 "Collaboration documentation missing"
### Summary

The text at https://remirror.io/docs/extensions/collaboration-extension/ currently says:

`Once a central server is created the collaboration extension is good.`

That is frustratingly inadequate.  What central server?  How is it created?  Does this have anything to do with YjsExtension, or are they orthogonal?

### Steps to reproduce

1. Try to deploy my first-ever remirror installat

[2022-10-27 13:02] NotNikita commented on #1901
Interesting, i also have MUI error in remirror, but in node_modules:
![image](https://user-images.githubusercontent.com/47776039/198291613-8ce4c24c-20fb-402a-bd04-90e82c1a18f0.png)

[2022-10-29 09:31] alirezahmz commented on #1829
I updated to version 2.0.14 and it didn't help

[2022-10-31 09:18] gaowujian opened #1928 "No matching version found for prosemirror-view@^1.29.0"
### Summary

The problem is same as the title

### Steps to reproduce

We use monorepo to manage our projects. When we add the dependencies to the project, using `pnpm add remirror @remirror/react @remirror/pm`. The error alert show up. No matching version found for prosemirror-view@^1.29.0

### Expected results

all of three libs can be added successfully

### Actual results

No matching version

[2022-10-31 13:56] ocavue commented on #1928
prosemirror-view 1.29.0 was published 19 days ago. I guess your are using the `--offline` flag when doing `pnpm install`.

[code]

[2022-10-31 13:57] #1928 closed

[2022-10-31 17:30] andrew-maltsev opened #1929 "Image Extension - Wrong Drop Position"
### Summary

Image Extension not consider drop end event instead, it places the image at the cursor position.

_* File Extension consider drop events and works correctly._

### Steps to reproduce

1. Add Image Extension
2. Add DropCursorExtension for convenient display drop cursor position
3. Drad and Prop Any Image to a content location other than the cursor selection

### Expected results

Image

[2022-11-02 16:53] devcer opened #1933 "EntityReference isn't getting added around a hyperlink"
### Summary

LinkExtension and EntityReference extension aren't working together

### Steps to reproduce

* Configure LinkExtension using `new LinkExtension({ autoLink: true })` in Entity reference extension storybook -> https://remirror.vercel.app/?path=/story/extensions-entityreference--highlight
* Type a link say `www.google.com` in the document
* Create an `interesting` entity reference around

[2022-11-03 07:41] gaowujian commented on #1816
I'm seeing this error on the remirror@1.0.89. Should i upgrade to verison 2.x.x ?

[2022-11-03 08:06] ocavue commented on #1816
Yes. Check our blog for migration step: https://remirror.io/blog/announcement-v2/

[2022-11-05 18:07] marcelthomas5 opened #1935 "Cannot use percentages width/height with ImageExtension"
### Summary
When adding an image using the `commands.insertImage` command and setting the width to a percentage, the width is reset to a number, even though the type definition for width and height are number and string.

### Steps to reproduce

Add an image using the `commands.insertImage` command, and set the width or height to a percentage.
[code]

### Expected results

I expect the percentage

[2022-11-09 11:17] Bertg opened #1936 "Remirror will override application locale [lingui-js]"
### Summary

When a project is uses `lingui` and `remirror`, in certain situations, Remirror will override the the active language.

### Steps to reproduce

* Create a project that uses Lingui and Remirror.
* Make sure that Remirror is loaded async
* When Remirror is loaded in the page, the locale will be reset to English

### Expected results

Remirror should not modify the current active languag

[2022-11-09 11:18] Bertg commented on #1936
For people experiencing this issue, a quick fix today is to `import '@remirror/i18n'` before you make your own `i18n.activate` call. This way you are sure to always override the Remirror default.

[2022-11-10 09:49] ngamanda opened #1937 "Resized table columns is not reflected when editable is set to false"
### Summary

We're using the Remirror editor to edit and display the content. After resizing the table columns and setting the editor mode to false, the table columns are back to equal width instead of the resized width.

### Steps to reproduce

Create an editor, resize the column, save the changes and display the content when the editor has the `editable` prop set to false.

### Expected results

[2022-11-16 17:15] leonard-henriquez opened #1941 "Can't write some none ascii characters in controlled editors"
### Summary

Some french characters need two key strokes to be written (for instance `ï`, you need to press `¨` and then `i`).
I can write those characters in any "regular" text input.
I can also use it in Prosemirror editors (for instance the one on their landing page: https://prosemirror.net/)
However I can't do it on some Remirror editors (for instance this one: https://remirror.vercel.app/?pat

[2022-11-23 10:26] werreour opened #1945 "jest-prosemirror do not set text selection correctly"
### Summary

After update jest-prosemirror do not set text selection correctly anymore. `<start>`, `<end>`, `<cursor>` tags are ignored and the whole node is selected.

### Steps to reproduce

the easiest way to reproduce is via sample code (it fails):

[code]

I built a codesanbox also to demonstrate the issue:
https://codesandbox.io/s/friendly-jerry-4z9o10?file=/test/index.test.js

(tab "tests"

[2022-11-23 13:10] dgaletto commented on #1937
hey @ngamanda

I have been working on a solution for this.
The solution that worked best for us was to add the width to the table, since we use the resulting html for different outputs (email, pdf, etc).
 Here is my progress https://github.com/remirror/remirror/commit/a5e542ee09a645139b00fed2f2ea0b2afa0d211f

![resizing-table](https://user-images.githubusercontent.com/3117239/203552937-688c8518-25

[2022-11-23 15:24] leonard-henriquez commented on #1941
@ocavue I'm sorry to mention you but do you have any clue I could solve that? Can I do it on my side?

[2022-11-23 19:45] young-trigold opened #1946 "The Remirror Editor has abnormal behaviors in composing input mode (chinese language for me)"
### Summary

I'm using prosemirror for my personal blog project and I'm trying to read the source code of remirror to refactor my blog project, but I found this serious problem: the editor behaves badly in Chinese input mode (it causes a lot of errors in my project). At the moment, I don't know if this problem occurs in other languages.

### Steps to reproduce

just input in chinese mode, below is

[2022-11-24 02:19] ngamanda commented on #1937
Hi @dgaletto, this looks great and exactly what I was looking for. Right now my intermediary solution was to set it as `enabled` initially to trigger the loading of the extensions, and then disabling them with a `SetTimeout` after.

This approach is way better than what I came up with.

[2022-11-25 15:23] whawker commented on #1937
This should be resolved by https://github.com/remirror/remirror/pull/1948

[2022-11-25 15:24] #1937 closed

[2022-11-25 16:24] whawker commented on #1933
The Link extension [explicitly excludes all other marks](https://github.com/remirror/remirror/blob/main/packages/remirror__extension-link/src/link-extension.ts#L318)

To allow it to mix with other marks you need to add

[code]

##### Aside

Also it seems like the `LinkExtension` has [Medium priority](https://github.com/remirror/remirror/blob/main/packages/remirror__extension-link/src/link-extensio

[2022-11-25 16:24] #1933 closed

[2022-11-25 16:24] whawker commented on #1933
CodeSandbox: https://codesandbox.io/s/inspiring-bash-vdwn5e?file=/src/App.tsx

[2022-11-26 05:38] sandzone opened #1950 "Controlled Editor in Firefox has a bug when Selecting text using Shift Key and Mouse cursor"
### Summary

If you select a range of text using shift key and a mouse cursor, it doesn't work properly in Firefox. You can see this behavior even in the demo app at.

https://remirror.vercel.app/?path=/story/editors-controlled--editable

### Steps to reproduce

Select any range of text using mouse cursor and shift key in Firefox on a Controlled editor.

### Possible Solution

Shift key is registe

[2022-11-27 10:44] whawker commented on #1945
Need to investigate here, but at first glance looks like your `li` might be missing a paragraph child?

[code]

[2022-11-27 10:46] #1786 closed

[2022-11-28 12:08] werreour commented on #1945
Yeap, it does seem to fix the issue 🤔 was a bit confused it worked before update. Thank you!

[2022-11-28 12:08] #1945 closed