[2019-01-28 11:18] ifiokjr opened #1 "Remirror 1.0 release roadmap"
## Introduction

Remirror is a beautiful editor deployable to any environment.

The foundation is Prosemirror which brings with it, years of production usage and a brilliant developer [Marijn Haverbeke](http://marijnhaverbeke.nl/) managing its future.

Here I outline the key goals for Remirror and how it can transition into something that makes developing your next text-editor fun.

<br>

## Key g

[2019-02-08 19:55] chimon2000 commented on #1
Another robust editor worth mentioning as a potential UI package is [Dropbox Paper](https://paper.dropbox.com)

[2019-03-04 02:54] ifiokjr opened #15 "Can't delete emoji nodes on android with any keyboard"
## Description

Deleting emoji (or any nodes) with the keyboard doesn't work on Android devices.

## Expected Behavior

Expected to be able to delete the emoji on Android.

## Actual Behavior

![android-cant-delete-emoji](https://user-images.githubusercontent.com/1160934/53707510-2c562300-3e27-11e9-9261-046ea3ce52fb.gif)

## Possible Fix

This seems to be a known issue that doesn't yet have a reso

[2019-03-04 06:42] ifiokjr opened #16 "Create unit testing package jest-remirror for editor, ui and extensions"
## Detailed Description

This project currently has abysmally low test coverage and as complexity increases, and as contributors come aboard this needs to change.

A simple library that makes testing possible and some guidance on how to write tests would reduce the barriers to entry for this project.

## Environments Affected

- [ ] Web

Tests will be web specific for now.

[2019-03-04 06:44] ifiokjr opened #17 "Placeholder persists on android devices"
## Description

The placeholder on android persists even after typing has started.

![android placeholder bug](https://user-images.githubusercontent.com/1160934/53715110-b5318680-3e48-11e9-97ab-bdea3f1b8d23.gif)

[2019-03-04 07:59] ifiokjr commented on #1
@chimon2000 Thanks for the great suggestion.

This project is still quite a long way off from that kind of sophistication but that's definitely the direction I'd like to it head in.

Ideally, remirror becomes a go-to for off the shelf complex text editor ui's. Collaborative editing environments like Dropbox Paper are definitely part of this goal.

[2019-03-04 09:02] ifiokjr opened #18 "Add emoticon to emoji input rule"
## Detailed Description

When typing out `:-)` the smiley 😀emoji should be rendered.

This should be configurable when instantiating the emoji extension.

## Possible Implementation

- Create a regex that matches all emoticons
- Create an input rule that replaces an emoticon followed by a space with the relevant emoji
- Add configuration option `useEmoticons?: boolean` to enable the input rule.

[2019-03-04 09:38] ifiokjr opened #19 "Speed up travis-ci build times through parallelization"
## Detailed Description

The Travis build has gotten pretty slow - up to 17mins lately.

At the moment everything is running sequentially and if we split the tasks out into separate Travis containers this will speed up the runtime.

## Possible Implementation

Split the build into the following:

- lint and typecheck: `yarn lint && yarn typecheck`
- build modules and build rollup: `yarn build:modu

[2019-03-04 09:45] ifiokjr opened #20 "Create a logo for the project"
## Detailed Description

This project needs a logo which captures its goals and identity.

I'm not really a designer so I would prefer this wasn't me

The logo would need to be made available for complete and free usage use within this project (Creative Commons / MIT license).

[2019-03-04 10:37] ifiokjr opened #21 "Adjacent empty nodes (emoji) cause the editor to lose focus when moving forward (ltr)"
## Description

When two emoji are next together without a space moving backward (LTR language) with the left arrow key causes no issues. Moving forward with the right arrow keys causes the cursor to disappear and all subsequent actions to be lost by the editor.

It's also possible to work the editor into a pretty dangerous state where it can delete other nodes and text although this is hard to re

[2019-03-04 22:38] ifiokjr opened #22 "Unexpected identifier when consuming the @remirror/ui-twitter library"
## Description

Currently, the library can't be consumed because of faulty configuration and imports from `emoji-mart`. The build is resolving to the es6 emoji-mart build instead of the commonjs version.

To fix this, remove all references to dist-es when importing from emoji-mart. This may require an upstream fix to the DefinitelyTyped repo for emoji-mart which doesn't currently export all types

[2019-03-05 00:12] ifiokjr opened #23 "Documentation"
## Description

Currently, the individual package documentation is lacking.

Each package should include the following

- [x] Badges for build size, latest version, downloads / month, open pull requests by label, open issues by label, close prs by label, license, stars
- [x] Integrate [**lgtm**](https://lgtm.com/)
- [x] Logo on all readme.md pages
- [ ] Code examples for each package
- [ ] Include

[2019-03-05 11:15] #19 closed

[2019-03-05 11:52] #22 closed

[2019-03-05 14:33] ifiokjr opened #26 "New extension: @remirror/extension-epic-mode"
## Detailed Description

An extension that implements the most important of features, power mode.

![image](https://cloud.githubusercontent.com/assets/688415/11440971/aadfae8e-9507-11e5-8aa0-0ecc87ca84b6.gif)

This is a good extension to create for documenting how to build your own custom extension and that should be a part of this as well.

## Possible Implementation

Some examples to build from

[2019-03-05 14:38] ifiokjr opened #27 "Add server side rendering support"
## Detailed Description

Currently when loading this library in a next.js application it breaks because document is not defined.

Automated SSR checks should be made possible so that a react rendered version of the content appears and once loaded in the browser it automatically switches over to using the dom for the content.

## Possible Implementation

More information to come.

[2019-03-05 14:44] ifiokjr opened #28 "Add emoji query support"
## Detailed Description

Typing a colon should activate emoji search where the query is passed to a handler which can render search results and submit the command when an option is selected.

## Possible Implementation

More to come.

[2019-03-06 16:52] ifiokjr opened #30 "Refactor the menu positioning something more generic"
## Detailed Description

At the moment the menu position is calculated in the main remirror React component. However, it would be best to move this into a core-extension where it can be used if needed and tree shaken when unused.

It also makes it much easier to consume the current cursor position within other extensions. At the moment things are being passed back via `SchemaParams` but at this ra

[2019-03-08 00:19] #20 closed

[2019-03-08 01:41] ifiokjr opened #34 "Pasting mentions doesn't auto format the matched text"
## Description

When pasting in mentions such as  `#HASHTAG` or `@NAME` the mention isn't activated.

![mention-paste-issue](https://user-images.githubusercontent.com/1160934/54001374-ff658100-4142-11e9-8a43-c6079242acfa.gif)

## Possible Fix

Create a paste rule for mentions with a regex that matches the mention explicitly.

[2019-03-08 02:16] ifiokjr opened #35 "Add docs on how project is managed"
## Description

The project is managed with [zenhub](https://www.zenhub.com/) so those who would like to see more of what is planned and engage better with tasks should [sign up](https://app.zenhub.com/login) and [install the extension](https://www.zenhub.com/extension).

[2019-03-08 02:27] ifiokjr opened #36 "Add support for mentions as marks"
## Detailed Description

Mentions are currently only available in their prosemirror node form. Unfortunately, this comes with the limitation of not being able to edit the node once it's created. It's also quite difficult to prevent two nodes being created directly after each other (with no separation).

**Current implementation**

![mention-node-example](https://user-images.githubusercontent.com/1

[2019-03-08 05:35] #26 closed

[2019-03-08 08:35] ifiokjr opened #37 "Add new package `@remirror/extension-native-bridge`"
## Description

The goal of this project is to be an editor available on all platforms. Handling text in a WebView with bidirectional communication via React Native, Expo helps a lot in this regard.

`Flutter` and `NativeScript` could be looked at post 1.0.

## Possible Implementation

- Create a new package called `@remirror/native-bridge`
  - This extension will be responsible for handling bi-di

[2019-03-08 13:23] ifiokjr opened #38 "Auto generate readme files from .mdx files"
## Detailed Description

At the moment changes to the `readme.md` files need to be copied over to the relevant `.mdx` files in a tedious and repetitive update flow. It would be nice to have a script that can automatically create `readme.md` files from their corresponding `.mdx` representations so that the two are always in sync.

The files that would be controlled would match the following pattern

[2019-03-08 16:31] ifiokjr opened #39 "Epic mode effect positioned relative to the window and not editor component"
## Description

When the editor appears further down in the page the positioning of the effects is wrong since the position is relative to the window and not the editor component.

![broken-epic-mode-effect](https://user-images.githubusercontent.com/1160934/54041360-6cb6f780-41bf-11e9-9d3f-f33812390bf6.gif)

## Possible Fix

Use the same method being used for the menu positioning.

[2019-03-08 16:38] ifiokjr opened #40 "Make Azure pipelines the default build and split steps into jobs"
## Detailed Description

Azure CI is really fast and reliable and it feels right to switch over to using it as the main build pipeline.

Travis CI will still remain in the project, it just won't be required for pull requests.

## Possible Implementation

Split up into jobs and create templates for different build steps and tests.

[2019-03-09 02:37] ifiokjr opened #41 "Enable updates to extension options via props"
## Detailed Description

Currently, once a component is built the options passed into the extensions can no longer be updated.

Test some methods of enabling extensions to be updated via the passing of props.

## Possible Implementation

Something could be learned from the implementation that [tiptap](https://github.com/scrumpy/tiptap/pull/210) is using

[2019-03-09 06:34] ifiokjr opened #43 "Lerna changelog integration"
## Detailed Description

Automatically create changelogs from pull requests.

## Possible Implementation

Copy how it's being done in [babel](https://github.com/babel/babel).
 https://github.com/babel/babel/blob/b2b96e0b150b56d47fbe5ec1ef7727a13e86a899/lerna.json#L6

[2019-03-09 07:20] ifiokjr commented on #43
I can't get this to work and having the same issue as https://github.com/lerna/lerna-changelog/issues/87.

I'll revisit once the project moves out of alpha status.

[2019-03-09 07:50] #35 closed

[2019-03-12 12:45] ifiokjr opened #44 "Cmd-Delete into any node only deletes the node and not the whole line (⌘ + ⌫)"
## Description

When backspacing into a node with the Cmd-key (⌘ + ⌫) it should delete the whole line. However, at the moment it only deletes the emoji or mention node directly before the cursor.

[2019-03-13 06:28] ifiokjr opened #46 "New package emoji-svg-data"

[2019-03-13 06:29] ifiokjr opened #47 "Emoji picker ui and components"

[2019-03-13 06:29] ifiokjr opened #48 "Enhanced emoji support"
Currently, this library uses emoji-mart as the provider of emoji support. However, it's not ideal since it brings in a large dependency since for some reason the build always pulls in the data.json file.

Another issue is that the emoji library uses PNGs rather than SVGs so the quality depreciates on high definition devices.

This is a top-level issue for enabling much better emoji support

- [ ]

[2019-03-13 06:37] #17 closed

[2019-03-13 06:37] #21 closed

[2019-03-13 07:49] ifiokjr opened #49 "New package @remirror/extension-tables"
## Detailed Description

Allow for the creation of advanced tables.

## Possible Implementation

`@atlaskit` has a pretty great implementation that can be copied from.

[2019-03-13 08:01] ifiokjr opened #50 "New UI package @remirror/ui-wysiwyg"
## Detailed Description

Create a **what you see is what you get (wysiwyg)** editor with documentation on how to customise it.

The editor should support:

- [ ] Tables
- [ ] Chrome on iOS, android and desktop
- [ ] Font selection
- [ ] Bold, italic, underline, fontsize
- [ ] Headings
- [ ] Custom links
- [ ] Pasting images into editor
- [ ] Embeds (youtube videos, tweets, etc...)
- [ ] Unordered

[2019-03-13 17:13] ifiokjr opened #52 "After deleting an emoji node on Android the cursor disappears"

[2019-03-13 17:14] ifiokjr opened #53 "Android: Collation of bugs and issues"
## Description

Use this issue as a means to collect the list of bugs noticed on Android since there are many and fixing them is proving difficult.

## Issues

- [x] ~Can't delete emoji nodes on android with any keyboard~ #15
- [x] ~Sometimes can't delete marks~ #15
- [x] ~Placeholder persists after typing starts~ #17
- [ ] After deleting an emoji node the cursor disappears #52

[2019-03-17 18:43] #40 closed

[2019-03-17 23:48] ifiokjr commented on #15
This was fixed in a previous PR.

[2019-03-17 23:48] #15 closed

[2019-03-18 00:03] #16 closed

[2019-03-18 00:03] #27 closed

[2019-03-20 11:52] #30 closed

[2019-03-20 11:52] #39 closed

[2019-03-22 03:16] jashmenn opened #59 "Trouble creating TypeScript extensions (within Next.js SSR)"
My problem is an intersection between `remirror` and module loading (with Next.js). It may not be a bug per-se, but it is something I've only encountered with this library.

I realize I risk getting this issue closed and told to open it at Next.js, but my hope in posting here is that we can clear up how one should ingest the core types to write extensions in TypeScript.

The core idea: I'm running

[2019-03-22 05:33] ifiokjr commented on #59
@jashmenn Thanks for such a well laid out issue and reproduction environment.  I've confirmed that what you've posted is a genuine bug and it's certainly one that this project needs to address.

### Needed changes

It highlights to me that better testing of how the codebase will actually be consumed is needed. This kinds of problem can be addressed long before it reaches the end user.

I'm thinkin

[2019-03-22 09:58] ifiokjr commented on #59
@jashmenn A really quick fix from your end would be to replace your `.babelrc` file with the following.

[code]

You can see the results in a fork of your reproduction git repository.

https://github.com/ifiokjr/loading-issue-ignore-this/blob/patch-1/.babelrc

That being said I don't think it's fair to require users to be aware of this implementation detail. The problem is coming from the fact tha

[2019-03-22 12:50] ifiokjr opened #62 "Introduce github actions to improve build quality"
## Detailed Description

Add actions support to the repository.

Inspired by https://github.com/zeit/next-stats-action

- Create an examples folder with next.js, gatsby and create-react-app
- Use [verdaccio](https://verdaccio.org/docs/en/docker) to install the latest version of the codebase
-  Check the install times and perhaps add a few simple tests to ensure nothing is breaking in the examples

[2019-03-22 12:55] ifiokjr commented on #59
@jashmenn this all works now with the latest update. No need to change the babel plugin settings.

You can test it out [here](https://github.com/ifiokjr/loading-issue-ignore-this/tree/patch-2).

[2019-03-22 13:13] jashmenn commented on #59
🙏 Thank you _so_ much. I struggled w/ this for hours and your fix works perfectly.

Remirror is amazing, btw! It's a near-perfect structuring of Prosemirror with React. Thanks for sharing it!

[2019-03-24 11:52] ifiokjr opened #63 "Configure multiple chars for mention extension"
## Detailed Description

Extensions should enable multiple character configurations to be passed in.

- The index of the characters determines their priority
- The `0` index is the first to be checked
- The character must be unique (and this is checked at the start)
- Each character can register a custom class
- Callbacks are called with the currently selected type

## Possible Implementation

Cha

[2019-03-24 12:55] ifiokjr opened #64 "RFC: A proposal for a new Provider API"
## Proposal

I've found the current way of dealing with extensions as classes quite cumbersome. It places the burden of configuration on the `user` and is not very **React**ish.

The following is a proposal which I believe makes configuration much simpler.

[code]

- `RemirrorManager` injects an ExtensionManager instance into the context.
- `RemirrorEditor` inject the `InjectedRenderProps` into th

[2019-03-24 14:08] ifiokjr opened #65 "Upgrade docz to v1"
## Detailed Description

Implement the new docz version following the [migration guide](https://github.com/pedronauck/docz/blob/master/MIGRATION_GUIDE.md)

- Upgrade to v1
- Explore different themes

[2019-03-27 21:28] 100ideas commented on #23
I'd like to contribute to the documentation as I teach myself prosemirror & attempt to integrate remirror into one of my own projects.

I propose using this issue (or starting a new one) to maintain a todo-list of documentation tasks & suggestions. In particular I would like a place where I can list specific bits of documentation I needed but couldn't find while using remirror. I'll start the list

[2019-03-27 23:26] 100ideas opened #66 "Should <RenderTree> use default marks consistent with @remirror/core-extensions"
## Description

The "A basic editor' example demo at [docs.remirror.org/examples/json-document-model](https://docs.remirror.org/examples/json-document-model) allows for setting `bold`, `italic`, & `underline` marks.

`<EditorLayout />` which contains `<Remirror >` correctly shows the marks in the prosemirror [json-dom it renders](https://github.com/ifiokjr/remirror/blob/master/docs/examples/docume

[2019-03-27 23:29] 100ideas commented on #23
- [ ] [RenderTree] document how to configure RenderTree if Remirror has user-defined extensions like new marks or nodes #66

- [ ] [Remirror] document how to hook into Remirror events / prosemirror events

  - Is the way to do this by configuring proseMirror [`EditorProps`](https://github.com/ifiokjr/remirror/blob/master/support/types/prosemirror-view/index.d.ts#L406) on `<Remirror>` instance, i.e

[2019-03-28 03:14] ifiokjr commented on #66
@100ideas thanks for raising this issue. One thing it highlights is just how bad the current state of documentation is for the project. Addressing this deficiency will be the priority over the coming weeks.

Your fix looks good. If you open a PR I'll merge it straight away. I'm knee-deep in a PR of my own right now so your help would be highly appreciated. Let me know if you have any issues with t

[2019-03-28 04:06] #59 closed

[2019-03-29 03:21] #64 closed

[2019-03-29 03:28] ifiokjr commented on #63
This has been implemented by #69

[2019-03-29 03:28] #63 closed

[2019-03-29 05:00] 100ideas commented on #65
I took a shot at upgrading docz to v1.0.0-rc.1.

I couldn't get it to work, but my impression is that docz@v1 has better built-in support for typescript codebased, so potentially docz-babel-webpack configuration might not need to be so involved.

Took a bunch of notes: https://github.com/100ideas/remirror/blob/doczv1/support/docz-v1-WIP-notes/NOTES-docz-v1.0.0-experiments.md

[2019-03-29 05:13] 100ideas commented on #65
here's a screenshot of `docz@v1.0.0-rc.1`[/examples/typescript](https://github.com/pedronauck/docz/tree/master/examples/typescript) running w/ a copy of remirror/docs/examples/document-model.tsx.

![remirror-docz@v1 0 0-rc 1 Screen Shot 2019-03-28 at 10 06 48 PM](https://user-images.githubusercontent.com/57006/55210704-0281e900-51a6-11e9-880e-efb5eb026809.png)

[2019-03-29 07:07] ifiokjr commented on #59
@jashmenn I've noticed that an unintended side effect of the changes made to fix this bug, is a 30% increase in the size of the `@remirror/core` [library](https://bundlephobia.com/result?p=@remirror/core@0.0.1-alpha.10), from `37.5kb` to `48.8kb`.

I'll keep an eye on this as it may be possible to achieve the desired outcome (build compatibility with next.js and other platforms), without adding th

[2019-03-29 19:50] dpaez opened #70 "[Question] how to use an extension?"
Hi @ifiokjr, great library by the way I really like your effort mixing up prosemirror with react 👍

I'm trying to create a markdown editor (using the [markdown schema](https://github.com/ProseMirror/prosemirror-markdown)) but I'm a bit lost. Should I add the schema like a remirror extension?

Thanks in advance!

PS: going beyond if I'm able to create the md editor successfully, the next step would

[2019-03-30 05:34] ifiokjr commented on #70
@dpaez thanks for taking the time to create an issue.

I think there are two questions you're asking

1. How does one create a custom extension?
2. Is it yet possible to create a markdown editor?

### 1. How does one create a custom extension?

Currently, the docs are very poor but you can look through some of the examples for inspiration. There's also a tiny introduction to the concept in the [`@

[2019-03-30 06:04] ifiokjr commented on #65
@100ideas thanks for looking into this, the notes should prove extremely useful.

[2019-04-02 19:09] #50 closed

[2019-04-04 22:26] jashmenn opened #74 "0.0.1-alpha.11 breaks - can't init manager (context: Next.js)"
## Description

👋 Something in `0.0.1-alpha.11` breaks when running in Next.js.

Here's a minimal repo that reproduces the problem:

https://github.com/jashmenn/loading-issue-ignore-this/tree/remirror%400.0.1-alpha.11

Fwiw, it works just fine on `remirror@0.0.1-alpha.10`. [alpha.10 repo branch here](https://github.com/jashmenn/loading-issue-ignore-this/tree/remirror%400.0.1-alpha.10)

### Stack T

[2019-04-04 22:49] jashmenn opened #75 "Unable to render a ReactNodeView in initial document"
## Description

👋 There appears to be a bug if we try to include a custom `ReactNodeView` in the initial render of the doc. This is more problematic than it sounds because it effectively means one cannot use `ReactNodeViews` in their documents (at the moment).

## Example.

**The runnable example repo of this issue can be [found here](https://github.com/jashmenn/loading-issue-ignore-this/tree/reac

[2019-04-05 02:12] ifiokjr commented on #74
Thanks for raising the issue.

The API changed quite significantly between `alpha.10` and `alpha.11`. It's now (imo) a better fit with the react component model, but it does require some changes to get things working.

This was definitely a huge breaking change. See (#64) for an outline on some of the motivations.

The main change is that the foundational `Remirror` component now expects a `manage

[2019-04-05 02:35] jashmenn commented on #74
Ah! Okay great. I will swap this over. Thanks!

[2019-04-05 02:35] #74 closed

[2019-04-05 02:41] ifiokjr commented on #75
@jashmenn Just so you know, I'll be looking into this today.

I was aware that NodeViews weren't yet ready for SSR, however, it shouldn't be causing an error like this.

The idea is that any extension which registers a `nodeView` should also register a custom SSR component which receives the node attributes as props and renders when no DOM is available. I still need to work out the exact API. But

[2019-04-05 17:43] ifiokjr opened #76 "New package @remirror/extension-canvas-draw"
## Detailed Description

I saw this [tweet today](https://twitter.com/juliandoesstuff/status/1114172547745161216) which got me thinking, how about adding an extension which enables canvas doodles to be added to the editor.

![image](https://user-images.githubusercontent.com/1160934/55646304-bac91600-57d2-11e9-9a33-fc8db54a6b1a.png)

## Possible Implementation

The [codesandbox](https://codesandbox

[2019-04-06 15:45] ifiokjr commented on #75
@jashmenn I've just had a play around and I'll be able to push up a hotfix at some point this weekend (to stop the crashing). This won't be ideal since it would still leave a flash of unstyled content since it basically just ignores the node views when in a server environment.

The real fix requires an actual API update as mentioned previously and that will be available at some point next week ( 🤞

[2019-04-08 07:18] ifiokjr commented on #75
Just to update, the hacky fix isn't working as I'd thought. I'll implement the proper API fix for the upcoming release.

I can't say exactly when it's going to be available but I'm working through it at the moment.

[2019-04-09 07:46] ericedouard opened #77 "Missing typescript definitions"
## Description

Hi, thanks for this great project. I'm having an issue while trying to run the basic example:

<img width="815" alt="Screenshot 2019-04-09 at 09 23 44" src="https://user-images.githubusercontent.com/19872411/55782176-036f2080-5aac-11e9-8012-422e6b2216fb.png">

It seems the packages makes reference to files located in "support", which are not exported.

Thanks

[2019-04-09 09:35] ifiokjr commented on #77
Thanks for raising this @ericedouard. I can fix it by moving all type patches into the packages that consume them. I'll have to look into `hoistNonReactStatics` though.

[2019-04-09 09:38] ifiokjr commented on #77
@ericedouard as a short-term fix have you tried adding `"skipLibCheck": true,` to your `tsconfig.json` compilerOptions.

[2019-04-09 09:41] ericedouard commented on #77
@ifiokjr  That did the trick, thanks !
Congrats on this library, it's really refreshing to see clean nice architectures like this.

[2019-04-13 10:42] ericedouard opened #78 "Dynamically set state of prosemirror"
Hello,

I am trying to implement an editor with tabs (like vscode), for that, I would need to dynamically set the state of the prosemirror editor (when the user changes tabs). Is there anyway to do this with the current implementation of remirror?

Thanks !

[2019-04-13 19:41] ifiokjr commented on #78
@ericedouard Controlled remirror component design is coming soon. It'll use a combination of `onStateChange` and `value` to manage the state from outside the component.

If I could see some pseudo code for what you're currently trying to implement, it may be possible to achieve the same outcome without controlling the state.

[2019-04-13 19:47] ifiokjr opened #79 "Remirror as a controlled component"
## Detailed Description

Allow for the remirror editor to be used as a [controlled component](https://reactjs.org/docs/forms.html#controlled-components).

Proposal:
- `onStateChange` called for every state update
- `value` contains the state that should be passed down into the editor (can be set to undefined to create an initial state with the initial value).
- `initialValue` used to create the fi

[2019-04-15 15:06] ifiokjr opened #80 "Version 0.1.0-rc.1"
## Detailed Description

Prepare a codebase with enough quality to be considered ready for a general release candidate release.

More information to follow. This will be similar to #1.

[2019-04-15 15:17] ericedouard commented on #78
I'm currently using SlateJS, (which works fine but has huge performance problems as soon as the document gets a little bit complex, so using slate is not possible for us. From what we have been able to test, Prosemirror seems outstanding regarding performance.)

 Essentially, the state in our editor page is as such:
[code]
with State being the editor state (with cursor position, active selection e

[2019-05-02 00:27] hennessyevan opened #82 "@remirror/renderer-react skipUnknownTypes behavior is reversed"
## Description

@remirror/renderer-react throws errors if the prop is set which seems to be the opposite of the desired behavior of the prop. https://github.com/ifiokjr/remirror/blob/master/%40remirror/renderer-react/src/renderer.tsx#L128

[code]

## Possible Fix

[code]
should do the trick. Let me know if you'd like a PR

[2019-05-02 06:59] ifiokjr commented on #82
@hennessyevan good spot!

[2019-05-02 07:00] #82 closed

[2019-06-04 16:03] jashmenn commented on #75
@ifiokjr What's the API update and rough description of changes we need to make to get SSR working here? (Getting SSR working for React components is the #1 thing blocking me from using this in production.)

I'm happy to help fix it it, but I would love any guidance you could give me on where to look 🙏

[2019-06-11 05:13] #65 closed

[2019-06-11 05:13] #79 closed

[2019-06-11 05:13] #75 closed

[2019-06-11 05:13] #77 closed

[2019-06-11 05:13] #78 closed

[2019-06-11 06:56] ifiokjr commented on #66
Fixed in https://github.com/ifiokjr/remirror/commit/12e0d7988c2aadfa4bb803a328ce1e8862a1dccc

[2019-06-11 06:56] #66 closed

[2019-06-17 13:20] alexluong opened #87 "[Question] Project direction"
Hey @ifiokjr,

Thanks for creating a very interesting library. Excited to see how it turns out.

My questions are:

- What's your objectives with `remirror`?
- Do you see it becoming the [`tiptap`](https://github.com/scrumpy/tiptap) of React? Or is this just an experiment?

Just wanna make sure if I should commit to the library. I intend to use it on a side project (not corporate), so I don't mind

[2019-06-17 16:35] ifiokjr commented on #87
Hey @alexluong! I'm glad you stumbled across this library and are willing to use it while still in its infancy.

Firstly, while the API's in this library are experimental, I don't see this library and its future as experimental. Working on `remirror` has captivated me. Iterating towards better API's while deepening my own understanding of React, TypeScript, the JS ecosystem, and the art of program

[2019-06-17 18:07] alexluong commented on #87
Appreciate the detailed response, @ifiokjr.

It's awesome to hear that you want to see `remirror` through. I'd start using it in the upcoming weeks and come back later with feedback/bug reports/enhancement ideas.

As for the time being, I'm working on a WYSIWYG editor that ideally also supports most markdown syntax. What I means is that, for example, if I type `# Hello World`, I should see `Hello

[2019-06-17 22:24] hennessyevan commented on #87
Good to hear @ifiokjr let me know if you need any help. I’m thinking of adding an image plugin maybe with filepond if that’d  be helpful

[2019-06-18 07:21] ifiokjr commented on #87
This is certainly possible and to an extent is already implemented with `inputRules`. I think bold and italic should just work already. Headers could also be added quite trivially.

This weekend and, quite probably the next few as well, my focus will be on the react native integration and making that possible. In my mind, that will be the final foundational piece in place and I'll be able to build

[2019-06-18 07:27] ifiokjr commented on #87
@hennessyevan I appreciate this a lot and I'd love your contributions!

One thing to be aware of:  I'll be working on the `ReactNative` integration this weekend and I'm pretty sure certain things will arise that require an API change.

There's a risk that anything you build will need significant changes within the next few weeks. That being said, it may be a good idea to open an issue where we can

[2019-06-18 13:26] alexluong commented on #87
Hey I'd love to see the `RN` integration. Once you're done, I bet everyone would love to read some documentations regarding that and any changes in API.

I'd be able to make a PR after I get familiar with the codebase. I've built the input rule for it when I was still experimenting with `prosemirror` and `react`. It's very achievable!

[2019-06-18 13:30] #80 closed

[2019-06-18 14:59] hennessyevan opened #88 "RFC: New package @remirror/extension-image"
## Detailed Description

This issue is to track discussion for an image extension. The extension should follow the given `RemirrorExtension` api (subject to change).

Borrowed configuration structure from https://github.com/pqina/filepond. Will possibly use `filepond` under the hood.

[code]

## Possible Implementation

`Constructor` would handle the prosemirror schema logic.

`Provider` expects a

[2019-06-20 13:52] alexluong commented on #88
Hey @hennessyevan, I saw you mentioned `filepond` in the issue. I'm not sure if that means we should use it for image upload?

I wonder if there's any way we can build an image extension without being opinionated about how the image is uploaded/sourced.

For example, if the extension is built upon `filepond`, what if I want the image from a url? Do I need to rebuild the extension in that case?

[2019-06-20 15:54] hennessyevan commented on #88
@alexluong Yeah, I'm just borrowing `filepond`'s configuration API syntax because it's well thought out. You can read more about that here: https://pqina.nl/filepond/docs/patterns/api/server/#advanced

The provider prop exposes some lifecycle methods that act as a configuration. It doesn't assume anything about how you want to handle the network logic. It lets you "bring-your-own" image provider.

[2019-06-20 20:10] ifiokjr commented on #53
Closing as not really helpful.

[2019-06-20 20:10] #53 closed

[2019-06-20 20:11] ifiokjr commented on #43
Using a manual changelog for now. May revisit if this becomes unmanageable.

[2019-06-20 20:11] #43 closed

[2019-06-23 15:09] ifiokjr opened #94 "Rename server side rendering to domless rendering across the codebase (SSR -> domless)"
### Description

I think I'll change the name from `server-side` rendering (SSR) to `domless` rendering. Part of the ReactNative solution will be to inject HTML into a webview and will need "SSR" before hydrating within the WebView.

It doesn't make sense to call it `SSR` anymore.

This would be a breaking change, but so is most of what is happening at the moment in the library.

[2019-06-24 16:34] TeemuKoivisto opened #95 "Question about the whole React + ProseMirror integration"
Hey there, been doing rich-text editing for a while and got stuck with a performance problem with Slate so I decided to see if ProseMirror would be the answer.

Since I am, I guess, an idiot, I am hell-bent on doing this app with React so I can't leverage something like TipTap, which has led me to write this short story on this repo. From what I have gathered glueing React and PM together isn't a

[2019-07-01 09:19] ifiokjr commented on #95
@TeemuKoivisto thanks for the questions and patience. I fell a bit ill last week so wasn't able to respond as soon I would have like to.

<br>

I actually think DOM manipulation is better for simpler prosemirror functionality but I can see where the React integration will be helpful for more complex components. The main reason for this is that the current abstraction that I've copied from `atlaski

[2019-07-01 17:27] joonhocho opened #96 "Invalid position at 334 at https://docs.remirror.org/editors/wysiwyg"
Go to https://docs.remirror.org/editors/wysiwyg

On load, select all content delete press undo and it breaks the page. there are error logs on console

[2019-07-02 01:25] ifiokjr commented on #96
@joonhocho thanks for raising this. I have confirmed the issue 👍

The offending line is in the positioners.

https://github.com/ifiokjr/remirror/blob/26f51ae94ca102c4282de45d3f123a929f0fc368/%40remirror/react/src/positioners.ts#L61

While there are several easy fixes, the fundamental issue is that the EditorState held by the remirror component is one step ahead of the EditorState stored by Prosemi

[2019-07-02 03:20] joonhocho commented on #96
@ifiokjr Thank you so much for details. Awesome work on your repo, btw. I've been searching for editors for past few days and ,after trying out so many options, decided yours is the best one for my use case (prosmirror + react + typescript). I still see performance issues with slate. I don't have much experience on editors yet, though I've read ProsMirror documentations.
You said your work is insp

[2019-07-06 13:49] jashmenn opened #97 "RFC: Node attrs passed as props in ReactNodeView?"
Hey @ifiokjr, what do you think about passing node attrs as props to `ReactNodeView`? The reason I think we should is because we pass node attrs as props when using an `SSRComponent`.

Right now, if we try to use the same component for a `ReactNodeView` and `SSRComponent` then we get the props two different ways.

Here is [the current `render` function of `ReactNodeView`](https://github.com/ifiokj

[2019-07-06 14:43] ifiokjr commented on #97
Oh yes, @jashmenn that's a great idea. Let's make it happen.

[2019-07-06 15:06] ifiokjr commented on #96
@joonhocho thanks for the pointer in the [atlassian](https://bitbucket.org/atlassian/atlaskit-mk-2/src/master/packages/editor/) direction.

Credit where credit is due, I've used a lot of code from them in making this library. The current implementation of NodeView's with React components is basically a direct copy.

I've also got some work coming (at some point) for tables which borrows heavily fr

[2019-07-06 15:34] jashmenn commented on #97
I’ll take a stab at it

On Sat, Jul 6, 2019 at 9:43 AM Ifiok Jr. <notifications@github.com> wrote:

--
Nate Murray
(661) 607-8789
http://eigenjoy.com
@eigenjoy

[2019-07-08 21:40] TeemuKoivisto commented on #95
Hey, thanks for answering. Sorry for the delay, I originally had written a reply soon after you answered but since I felt a little inadequate about my knowledge about this stuff, I decided to work on my own editor to give a more descriptive reply.

I ended up with creating a secondary repo to write all the boilerplate as I figure stuff out, to which I'm soon going to add my Toolbar component that

[2019-07-11 04:54] #34 closed

[2019-07-11 04:54] #96 closed

[2019-07-11 05:01] ifiokjr commented on #36
Closed by #98

[2019-07-11 05:01] #36 closed

[2019-07-11 05:08] ifiokjr commented on #41
I've decided against this. It is not advisable to update schema on the fly since it can have unintended effects.

Also, using the `RemirrorManager` we can effectively reconfigure props for any extensions on the fly. Each change leads to a change in the underlying `ExtensionManager` and causes the `RemirrorEditor` to update its functionality.

[code]

However, it is not advised that you do this for

[2019-07-11 05:08] #41 closed

[2019-07-11 05:10] ifiokjr commented on #95
Sounds exciting @TeemuKoivisto! I hope this project can be of help in the future.

[2019-07-11 05:10] #95 closed

[2019-07-14 11:17] ifiokjr commented on #97
@jashmenn I hope you haven't done too much on this. I'm actually doing a bit of work around this code so will make the changes available soon.

It should be finished soon.

[2019-07-14 19:05] jashmenn commented on #97
I haven’t had time to get to it this week. Thanks for letting me know!

On Sun, Jul 14, 2019 at 6:18 AM Ifiok Jr. <notifications@github.com> wrote:

--
Nate Murray
(661) 607-8789
http://eigenjoy.com
@eigenjoy

[2019-07-15 12:04] cusxio opened #100 "server side rendering and client mismatch"
## Demo

[2019-07-15 14:10] ifiokjr commented on #100
@cusxio That's an interesting warning.

Yes SSR is supported and support was added back in [v0.2.0
(https://github.com/ifiokjr/remirror/releases/tag/v0.2.0).

Sadly the docs haven't really been looked after so well recently. It's on my todo list once the API becomes more stable.

The bug you're seeing can be viewed in more detail [here](https://stackoverflow.com/questions/45350360/react-16-warning

[2019-07-15 14:48] ifiokjr commented on #100
@cusxio Had a look and I think this is the only difference I could see.

![image](https://user-images.githubusercontent.com/1160934/61224907-6c071280-a717-11e9-8b61-1dc8390999b3.png)

For some reason, the test suite didn't highlight that there was any difference. Only that the output looks the same via `puppeteer snapshot testing`.

I'll make the change and include it the next release (`0.4.0`) co

[2019-07-16 09:00] cusxio commented on #100
Thanks for the prompt reply.

👍

The diff does indeed look similar to mine.

Left is server markup
Right is client markup (after React hydration)

<img width="1459" alt="Screenshot 2019-07-16 at 4 40 36 PM" src="https://user-images.githubusercontent.com/6487613/61279377-94127680-a7e8-11e9-8d39-ef1a3f59065a.png">

Is it possible that the markup used in `puppeteer` is taken before `React.hydrate`

[2019-07-16 19:20] ifiokjr commented on #100
@cusxio I've just realised that this warning will always appear. While on the server the prosemirror document is transformed into a react component so that it can be rendered. The moment it enters the DOM environment prosemirror takes over control of the root element.

As a result, there will always be a mismatch.

I've just read through the [`hydrate`](https://reactjs.org/docs/react-dom.html#hydr

[2019-07-17 08:40] ifiokjr commented on #100
Just so you know I've had to remove `contenteditable` to prevent this warning on the server.

[code]

I think that's the reason I left it out in the first place.

[2019-07-17 09:01] cusxio commented on #100
I'm not sure if this helps, but libraries like Draft.js and Slate uses [`suppressContentEditableWarning`](https://reactjs.org/docs/dom-elements.html#suppresscontenteditablewarning) to mute the error above.

[Slate](https://github.com/ianstormtaylor/slate/blob/82c9e82d416d5af30fc9c53b5e67ba37f8b47035/packages/slate-react/src/components/content.js#L555)

[Draft.js](https://github.com/facebook/draft-

[2019-07-17 09:24] ifiokjr commented on #100
@cusxio It helps a lot! You know I should actually probably take time to read the React docs 😅

[2019-07-18 22:14] hennessyevan opened #102 "document is not defined"
## Description

v.0.3.0 in a razzlejs build with ssr balks when I add remirror editor to the mix. The renderer is working just fine.

[code]

## Possible Fix

🤷‍♂ I can't find any reference to document in the codebase so I don't know what's going on.

[2019-07-19 13:59] ifiokjr commented on #102
@hennessyevan I'll look into this. You don't by any chance have a [sandbox](https://codesandbox.io/) I could look at?

[2019-07-19 15:51] hennessyevan commented on #102
It's coming from this line in emotion which is strange but I think it's this issue https://github.com/emotion-js/emotion/issues/1246, not anything about remirror. I'll keep this open until I figure it out and then post my findings here

![image](https://user-images.githubusercontent.com/16711653/61548144-f3f06380-aa1a-11e9-8205-c06d11cb65c7.png)

[2019-07-19 16:40] hennessyevan commented on #102
I don’t know much about rollup but is this a similar setting to webpack’s target? https://github.com/ifiokjr/remirror/blob/master/support/rollup/factory.js#L32

The emotion issue’s solution seems to be bundling with the ‘node’ target so that ‘isBrowser’ becomes false in ‘esm’.

I’ll check against my fork

[2019-07-19 22:56] hennessyevan commented on #102
Yeah so I forked it and changed the browser setting but to no avail. It seems the @emotion/cache package gets bundled by https://github.com/preconstruct/preconstruct/blob/5674b34ca7ed9e46c7db4526eed249441089b0d3/src/build/rollup.js#L212 and `document` the `isBrowser` check gets swallowed up.

In the `@remirror/react-ssr` dist files this check is missing, I assume because of some check that `precon

[2019-07-20 20:50] ifiokjr commented on #102
@hennessyevan I'm looking at this now and have replicated your error.

[code]

I've created a `with-razzle` project in the projects folder and will keep it around to run tests against going forward.

No guarantees, but I'll see if I can find a solution before the next release at some point this weekend.

[2019-07-20 21:41] charlex opened #111 "Feature: Populate <LinkInput /> with the current href"
## Description

Usecase: When a user clicks on an existing anchor link (`<a href="...">...</a>`), the `<LinkInput />` box should populate with the current value to allow for editing.

## Possible Implementation

Right now I am trying to implement this myself in my own custom link modal component, but I can't figure out how to get the current mark's attributes. Figuring this out right now, and may

[2019-07-20 22:25] charlex commented on #111
Progress update. I think I may have figured this out in my own custom implementation, but its kind of hacky. Posting here to see if this is the way it would be implemented within remirror itself:

[code]

[2019-07-20 22:35] charlex commented on #23
Small piece of feedback, that could be an easy todo:

It seems like headers in the docs are a bit inconsistent. It seems like we'd want to make sure each page has a similar title just to help users navigate and keep things looking clean.

**For example: a page with a large title (h1)**

![image](https://user-images.githubusercontent.com/1542740/61584843-89d0df00-ab3e-11e9-9e53-68a707f2c048.png)

*

[2019-07-20 22:40] charlex opened #112 "Bug: Navigating to examples/extension-epic-mode throws an error and white page of death"
## Description

URL: https://docs.remirror.org/examples/extension-epic-mode

I am seeing this in Chrome (75.0.3770.142) and Firefox (68 and 68.0.1 as well).

<img width="760" alt="Screen Shot 2019-07-20 at 10 37 49 PM" src="https://user-images.githubusercontent.com/1542740/61584873-0663bd80-ab3f-11e9-9851-705daa98ef08.png">

Errors:

[code]

## Possible Fix

In general, a [react error boundary](ht

[2019-07-20 22:58] charlex commented on #112
Another possible fix (and enhancement) would be to try and use Docz's `<Playground />` comp which might bring with it, its own error boundary. This could be used to wrap any code examples, and have the added benefit of showing the code inline in the docs! (See the Docz screenshot and snippet of the Playground usage on their homepage: https://www.docz.site/)

 But if `<Playground />` doesn't have a

[2019-07-20 23:51] charlex opened #113 "Feature: Allow additional attributes to be parsed for links"
## Description

Currently, Remirror *writes* all attributes in `LinkExtension.schema.toDOM()`, but only *reads* the `href` attribute. My usecase is to support the `title` attribute, but I could imagine a world in which options could be passed to support arbitrary attributes for any usecase.

## Possible Implementation

This could be included in the LinkExtension to accept an array of whitelisted a

[2019-07-21 03:13] ifiokjr commented on #112
@charlex Thanks for raising this. I'll see if I can find out what's going on.

[2019-07-21 03:48] charlex commented on #23
Another addition to the todo list since I can't seem to find any other relevant tickets:

I am right now in the midst of trying to figure out how to implement an html-only (no markdown) controlled editor. I went to https://docs.remirror.org/guides/controlled-editor and noticed that it seems to just be placeholder. This would be really helpful, as I'm sure it will increasingly become an important u

[2019-07-21 03:53] ifiokjr commented on #102
@hennessyevan I've managed to find a fix for this. It'll be available in the next release.

It's a sneaky one and would likely have caused a lot of issues down the line so I appreciate you raising it.

I've added a brief explanation to #115 in case your interested 👍

[2019-07-21 04:24] charlex opened #116 "Create a showcase for a controlled editor"
## Description

I mentioned in https://github.com/ifiokjr/remirror/issues/23 that I was attempting to try my hand at creating a controlled editor, and looking for guidance from the documentation. I'm going to post my code below to see if this is either helpful for people on a similar path to me, and also see if anyone who has been down this path can help.

My usecase is that I'd like the user to b

[2019-07-21 04:38] ifiokjr commented on #23
This will be very appreciated 👍

Let me know how I can help.

Also, I've actually been meaning to revisit that markdown editor code. It's completely unfinished so this is a timely reminder to get it into shape.

I'll probably be able to provide better assistance once that's in progress. I created the controlled editor in response to a feature request but I haven't had time to dive into the intrica

[2019-07-21 04:40] ifiokjr commented on #94
This might also involve changing the name of `@remirror/react-ssr` to `@remirror/react-domless`

[2019-07-21 05:03] charlex commented on #23
Thanks @ifiokjr! For me, the big benefit is being able to, without remounting the editor, swap the content out on the fly.

This allows me to have an array of content, and when the user selects an item in the array, the editor will then be populated with that content. This array could be stories from an RSS feed, or different pieces of available content, etc, etc.

[2019-07-21 05:14] ifiokjr commented on #116
@charlex I'll look into the bug 👍

Please be aware that the markdown editor code is more like pseudo-code at the moment. I haven't tried running it before so I'm sure it's completely broken.

[2019-07-21 05:20] charlex commented on #116
Haha, that would probably explain that, then! Thanks for looking into! This would be great to pull off!

[2019-07-21 06:43] #102 closed

[2019-07-21 06:54] ifiokjr opened #117 "Add example: `with-gatsby`"
## Description

Add the simplest possible example of how to use this library with [gatsby](https://github.com/gatsbyjs/gatsby).

This issue is open to anyone and could serve as a fun introduction to `remirror` 😄

## Possible Implementation

Take a look at the current [`with-next`](https://github.com/ifiokjr/remirror/tree/master/examples/with-next) and [`with-razzle`](https://github.com/ifiokjr/rem

[2019-07-21 06:55] ifiokjr opened #118 "Add example: `with-create-react-app`"
## Description

Add the simplest possible example of how to use this library with [create react app](https://github.com/facebook/create-react-app).

This issue is open to anyone and could serve as a fun introduction to `remirror` 😄

Examples are located within the `support/examples` directory.

[2019-07-21 08:25] ifiokjr opened #119 "Adding prettier formatter to the wysiwyg example has slowed down docs massively"
## Description

Recently I added an optional formatter to the `codeBlock` configuration. Naturally, [prettier](https://prettier.io/) is what I've used for the example of how it can be done.  The problem is that it adds 1Mb to the bundle size, and slows down the load on all other documentation pages.

While [docz](https://www.docz.site/) supports code splitting, it puts everything inside a vendor f

[2019-07-21 10:04] ifiokjr commented on #119
It looks like [Docz V2-rc](https://github.com/pedronauck/docz/pull/955) landed with better support for gatsby and a nicer design. There are a few issues and it's still a release candidate but this may be the answer to the above problems.

[2019-07-21 20:10] #112 closed

[2019-07-22 04:31] ifiokjr commented on #100
@cusxio New release with the `suppressHydrationWarning` prop will no longer show the warning.

https://codesandbox.io/s/remirror-suppresshydrationwarning-y65kv

[2019-07-22 13:44] hennessyevan commented on #102
Fantastic!

[2019-07-22 18:06] alexluong commented on #117
Hey I'd like to help with this. Is there a date you'd like to get this done before?

[2019-07-22 21:45] ifiokjr commented on #117
@alexluong that would be brilliant. There's no particular date I have in mind although sooner is better than later.

[2019-07-22 22:02] ifiokjr commented on #113
@charlex nice suggestion 👍

I previously created the `extraAttrs` `BaseExtenion` option to solve this problem. Theoretically, it is available on every `(Node/Mark)Extension`, although currently implemented for the `MentionExtension`. Improving this functionality, and making it a standard for all `core-extensions` might solve the problem you're facing without needing to extend the extension.

####

[2019-07-22 22:04] ifiokjr commented on #23
@charlex I'll get started on this probably towards the backend of this week.

[2019-07-23 00:58] ifiokjr opened #121 "Implement automated canary builds and deployments"
## Description

Over the coming months, the library will change a lot and it's difficult to wait weeks for fixes between versions. I myself will be working to use this library in a production environment and will personally need a more frequent release cycle.

Inspired by [Next.JS](https://github.com/zeit/next.js) I want to set up a `canary` based release pipeline. The canary branch will become th

[2019-07-23 03:55] ifiokjr opened #123 "Add extraAttrs to nodes and marks in core-extensions"
## Description

Add `extraAttrs` functionality to the node and mark extensions within the `@remirror/core-extensions` library.

The option allows users to customise the recognised attrs without having to extend or create a new extension.

This is a great way to dive into the library and learn more about remirror.

## Possible Implementation

See this commit (https://github.com/ifiokjr/remirror/pul

[2019-07-23 03:58] #113 closed

[2019-07-23 05:38] alexluong commented on #117
@ifiokjr Yeah I'm working on a theme for Gatsby ThemeJam which ends on July 31st. I can get started with this right after!

[2019-07-23 12:13] charlex commented on #123
This might satisfy this: https://github.com/ifiokjr/remirror/issues/111#issue-470717126

[2019-07-24 02:18] ifiokjr commented on #117
Nice 👍

[2019-07-24 10:58] ifiokjr commented on #121
Closing as this is mostly done. I'll revisit automated publishing at a later time.

[2019-07-24 10:58] #121 closed

[2019-07-24 16:30] jashmenn opened #125 "SSR of nested toDOM extensions is ordered improperly"
I've hit an interesting bug that I'm not sure how to fix:

SSR for nested `toDOM` in extensions seems to order improperly - even though it renders fine once JavaScript loads. The result of this bug is that any nodes that require a nested DOM rendering don't SSR properly.

Here are the details (links to runnable code below):

## The extension

Say we have an extension that has a `toDOM` of the foll

[2019-07-24 18:45] ifiokjr commented on #125
Hi, @jashmenn thanks for raising this 👍

This was fixed in `@remirror/react-renderer@0.4.x`. I stumbled across it when working on the new `codeBlock` component and here's the commit which fixed the issue https://github.com/ifiokjr/remirror/commit/a353718dba352d1914d2f51602d9b566e918bd98.

I think the only solution is to upgrade. However, when upgrading, please note that there've been a number of b

[2019-07-24 18:47] ifiokjr commented on #111
@charlex I'll hopefully have a chance to take a look at this at some point in the next 24 hrs.

[2019-07-26 05:54] #125 closed

[2019-07-26 06:49] ifiokjr opened #127 "Add example: `with-electron`"
## Description

Add the simplest possible example of how to use this library with [electron].

This issue is open to anyone and could serve as a fun introduction to `remirror` 😄

Examples are located in the `./support/examples` folder.

[2019-07-27 18:30] charlex opened #129 "[question] How can a react element be rendered as a block or mark?"
## Description

If this is vague, let me know and I can try and be more specific.

I am attempting to render a React element directly into the ProseMirror body. Should I use a Portal for this?

Added constraint: I don't think that I can just start a new react tree, because I would like to use my application's context.

## Proposed implementation

I have created an extension that I am hoping using

[2019-07-27 18:40] charlex commented on #129
Possibly relevant link to discussion on Prosemirror: https://discuss.prosemirror.net/t/rendering-a-react-component-inside-a-node/349/23

[2019-07-27 20:08] charlex commented on #129
I think with the help of the Emoji Extension's source code I was able to do this. Pretty straightforward to do with the `nodeView` property on Extensions:

[code]

[2019-07-27 20:11] charlex commented on #129
Closing because I answered my own question!

[2019-07-27 20:11] #129 closed

[2019-07-27 21:17] charlex opened #131 "[question] How can an action be called from within a nodeView?"
## Description

I've successfully set up a react nodeView (see https://github.com/ifiokjr/remirror/issues/129), but I cannot figure out how to call an action from within the nodeView.

The problem I'm having is that the Remirror context is not found (`useRemirror` throws an error), so I cannot get the actions from the context.

## Checklist

- [x] I have read the [**contributing**][contributing] d

[2019-07-27 21:45] charlex commented on #131
Ah, I see when the nodeView is created the props `view`, `getPosition`, and `node` can be used to dispatch a transaction.

Pseudo code:

[code]

[2019-07-27 21:47] charlex commented on #131
@ifiokjr do you think this is ideal way to perform updates from within a nodeView? It would be preferable in terms of DRY to move this logic to a method on the Extension, and have the command and the nodeView call this method, right?

[2019-07-27 22:02] ifiokjr commented on #131
@charlex this is a very good point. It would be difficult to add the same context as `useRemirror` but I see no reason why `actions`, `manager`, `view` and `state` can't be added to a `usePortalContext` hook.

Let me quickly test it out and see if it would work.

[2019-07-27 22:03] charlex commented on #131
@ifiokjr thank you!

[2019-07-27 22:16] ifiokjr commented on #131
@charlex I just realised it should already have access to the manager, via the `useRemirrorManager` hook.

To get access to actions you can try:

[code]

Let me know if it works.

[2019-07-28 08:09] ifiokjr commented on #88
Okay, I'm now visiting this.

The API feels stable enough to begin working on a general case `@remirror/extension-image` package.

[2019-07-28 08:09] ifiokjr commented on #131
@charlex let me know if #132 is a good enough solution.

[2019-07-28 12:33] charlex commented on #131
@ifiokjr your solution in the above comment satisfied my question!

I'm attempting to understand What #132's `usePortalContext()` offers beyond the above mentioned `useRemirrorManager()`. Essentially this is a helper context to avoid having to mentally juggle which place to pull values from (e.g.: should I use props? should I use context?)?

[2019-07-28 16:58] ifiokjr opened #134 "Move from custom tslint setup to `@typescript-eslint/eslint-plugin`"
## Description

TSLint is being phased out by the TypeScript team in favour of ESLint. It'd be nice to also move with the community and embrace this change.

## Possible Implementation

The [docs](https://github.com/typescript-eslint/typescript-eslint) are very good and the only thing that held me back in the past was the lack of a drop-in replacement for `ordered-imports`. However, I can probably

[2019-07-30 04:17] ifiokjr commented on #131
@charlex I think for now `useRemirrorManager` is sufficient. The main properties it lacks are the `getPositioner` and `getRootProps`.

[2019-07-30 21:04] hennessyevan opened #137 "React Renderer should optionally support a default type"
## Description

The React Renderer will skip over types (when `skipUnknownTypes` is specified) if they don't exist but that currently filters out strings whereas the core editor allows for a `stringHandler` prop to transform string inputs into valid prosemirror documents.

## Possible Fix

Add a `defaultType` prop to the `RenderTree` component that will supply the given type after checking for a `

[2019-07-31 03:56] ifiokjr commented on #131
@charlex it turns out that `useRemirrorManager` will currently not work since the Portals were broken. I've fixed them in the branch I'm working on and once I've untangled the code I'll submit a PR.

**For the curious:**

The issue is to do with the following line.

https://github.com/ifiokjr/remirror/blob/c2fe2de0b5cfc51963f3a27c6e454a3a8f33210a/%40remirror/react/src/components/node-view-portal.t

[2019-07-31 09:57] #131 closed

[2019-08-02 16:33] benjie commented on #116
@ifiokjr I'd like to help you get the (controlled) markdown editor up and running. I'm hoping that I can spend next Friday working on it (hopefully most of a work day), and maybe some more time the Friday after that. Would this contribution be welcome, and if so would you like to discuss anything before-hand? I'm fairly new to Prosemirror (but am an old-hand at React and JavaScript) so any pointer

[2019-08-03 16:06] charlex commented on #134
I just did this for my project, I'll see if I can get this going for Remirror.

[2019-08-03 16:19] charlex commented on #134
@ifiokjr When I did this for my project (also a TS monorepo), I ended up ripping out much of per-package tslint stuff I had, and running eslint at the root level. Seems to have simplified most of my package.json files, and when I need to update the linting packages or scripts, I can do so simply at the root.

I suppose the thing I'm losing is that more granular control, but I've never needed that

[2019-08-03 16:40] ifiokjr commented on #116
@benjie the contribution would be highly appreciated 😄
Let me know if you need pointers. I'll also try to clean up the code slightly in the meantime 👍

[2019-08-03 23:12] benjie commented on #116
Cool; any pointers you can give would be welcome. If you wanted to lay out in broad strokes how you’d go about it, it may make the PR more likely to be what you’re after :)

[2019-08-04 11:47] ifiokjr commented on #116
@benjie awesome! I'll get back to you with some pointers during the week.

[2019-08-04 12:06] ifiokjr commented on #134
@charlex that sounds good.

Currently, linting commands take a long time to complete since each package has its own separate lint command. Some of the previous [tslint rules](https://github.com/kickjump/tslint-rules/blob/master/base.json) required a `tsconfig` file to run.

If eslint makes it easier to get away from this then that's great news.

One rule I'm keen to replicate is [tslint-no-circula

[2019-08-04 15:53] tylercollins590 commented on #37
Thank you for the great work on Remirror. How is progress coming with react native/expo support. I would love to use this in my cross platform apps

[2019-08-05 15:38] charlex commented on #134
@ifiokjr It's been my experiencing that Typescript won't build a project if there is a circular dependency. I don't have any screenshots or documentation handy to replicate this behavior.

If at build time TS just refused to build, wouldn't this suffice in lieu of tslint-no-circular-imports, or am I not following?

[2019-08-06 05:07] ifiokjr commented on #134
@charlex I haven't found this to be the case. For example, this [example repo](https://github.com/ifiokjr/ts-circular-dependency) still builds even with the circular dependency. I've had some bad experiences with circular dependencies in the past. They don't always cause errors, but when they do, the errors are cryptic and difficult to track down.

It may be the case that the issues I faced before

[2019-08-06 05:39] ifiokjr commented on #37
@tylercollins590 thanks for your kind words and interest in this project. Native integration is still a goal.

The main problem is deciding the best compromise for integration.

### `WebView`

My initial thoughts were to use WebViews for the bridge.

The reasons I haven't rushed into it are the following.

#### Poor performance

React native WebViews on Android don't pass messages as quickly as I'

[2019-08-06 08:55] ifiokjr opened #143 "Add support for `all-contributors`"
## Description

Add support for [`all-contributors`](https://github.com/all-contributors/all-contributors) to the repository. I've never done so before so would be happy to have someone else implement or at least receive pointers on how it can be done.

[2019-08-09 03:58] ifiokjr commented on #97
@jashmenn to make types easier what I ended up doing was setting both the SSR component and the NodeView component to receive the `node` (or `mark) and extension `options` as props.

They now both use SSRComponent Props as their base.

https://github.com/ifiokjr/remirror/blob/b9897ce1f2a1100a37978bde453f7bba645e8139/%40remirror/core/src/types/index.ts#L305-L311

#### Mark SSR Component

https://gi

[2019-08-09 03:58] #97 closed

[2019-08-09 03:59] ifiokjr commented on #87
I'm closing this to clean up issues which don't require further actions.

[2019-08-09 03:59] #87 closed

[2019-08-09 07:53] ifiokjr commented on #116
@benjie It's been a pretty busy week. I'm travelling this morning but will send through my thoughts this afternoon.

[2019-08-09 12:44] benjie commented on #116
Cool; I'm just starting now so I'll clone it down and start familiarising myself with the codebase. I've got about 3 hours, so today is likely to be more discovery than much in the way of changes.

[2019-08-09 13:17] benjie opened #146 "3 E2E tests failing (code formatting)"
## Description

Hey, three of the E2E tests are failing for me (all the other tests pass); wanted to check if this was expected, or if there's something wrong with my setup?

![Screenshot_20190809_141550](https://user-images.githubusercontent.com/129910/62781692-71eeda00-bab0-11e9-8a94-c7c2114d6bd7.png)

## Checklist

- [x] I have read the [**contributing**][contributing] document.

[contributing]

[2019-08-09 14:35] ifiokjr commented on #146
@benjie are you on a windows machine? I've only run the test suite on mac. I was meaning to test out the shortcuts that are being used to trigger that command.

This is the key modifier being used to test and perhaps it's not correct for windows.

https://github.com/ifiokjr/remirror/blob/7d30fbcfb39e549dc3ca4e9dd9f230b135fc9f88/%40remirror/core/src/helpers/keys.ts#L36

If we add an integration tes

[2019-08-09 15:04] benjie commented on #146
I'm on Linux actually; recently switched back after a decade on Mac.

If I go to https://docs.remirror.org/showcase/wysiwyg and type in

[code]

and then press alt-shift-f then it does format. How can I debug the tests? (They run invisibly for me.)

[2019-08-09 15:29] ifiokjr commented on #146
You can try.

[code]

That will launch the browser visibly and run the tests.

[2019-08-09 15:55] benjie commented on #116
Indeed, I did not get very far. Here's some things I've figured out (other than in the PRs I've raised):

- remove `private: true` from the `@remirror/editor-markdown/package.json` file so that `yarn build` and `yarn dev:modules` can see (and compile) it
- run `yarn build` on a fresh install to build the initial version of everything
- run `yarn dev:modules` in the background to keep everything ti

[2019-08-09 15:58] benjie commented on #116
AH! `RemirrorProvider` (which is called by `ManagedRemirrorProvider`) is what ultimately renders `Remirror`; so I just need to pass select props into that provider. Which is what I've done, actually, but I get an error:

![Screenshot_20190809_165752](https://user-images.githubusercontent.com/129910/62792284-d9b01f80-bac6-11e9-9e06-49fd2ebea990.png)

[2019-08-09 16:10] benjie commented on #116
Right so here's a controlled component:

https://github.com/ifiokjr/remirror/commit/001059b00b480b7052b0c4a74c16b01430e5b043

The error before was because I didn't realise `onStateChange` was passing a complex object, I was just expecting the newState. The object is super obvious now, since this is how ProseMirror works. It's suddenly starting to come together, right at the end of the day...

When

[2019-08-09 16:43] benjie commented on #116
I've added a new page to the docs for debugging this, on it I've put a controlled editor, and next week I'm going to try and use the `toMarkdown` / `fromMarkdown` to populate the textarea with the markdown live from the editor. If I can get two-way sync working that'd be epic, but it's going to be challenging due to partial syntax matches.

https://github.com/benjie/remirror/commit/4c3dc5ebbfff5d3

[2019-08-09 17:48] charlex commented on #116
@benjie thank you for your work and the update! Two-way syncing will be a big addition to my usecase of Remirror.

[2019-08-10 08:10] #146 closed

[2019-08-11 01:45] tylercollins590 commented on #127
Would love to see this example

[2019-08-12 10:04] benjie commented on #116
@ifiokjr Would it be possible for you to produce a small sandbox example of two synchronised Remirror editors using the controlled interface? Is it even possible, do you think, or do we need to use [the "collab" interface](https://prosemirror.net/docs/ref/#collab) to achieve that? Asking not because I need this for an app, but because it would significantly help me understand how data is flowing t

[2019-08-12 11:09] ifiokjr commented on #116
@benjie I think that's a good idea.

These last few weeks I've been occupied with integrating `remirror` into a new platform for a company based in the US. Working on it has opened my eyes to several areas which are severely lacking. The main pain point I noticed was implementing a UI around the text editing functionality and I've decided to attack that problem first.

It's a big chunk of work and

[2019-08-12 11:21] benjie commented on #116
@ifiokjr Awesome, I look forward to hearing how you progress. I'm back to this for a few hours on Friday again :+1:

[2019-08-16 07:05] ifiokjr commented on #116
@benjie I'm looking at it now. I'll add my work to the ui branch which is still in progress, but I feel like I'm ready to tackle the controlled editor part.

Hopefully, I can get something running before you get started today 🤞

[2019-08-16 09:17] ifiokjr commented on #116
@benjie

### Current Progress

![2019-08-16 10 12 50](https://user-images.githubusercontent.com/1160934/63157375-b7f6f100-c00e-11e9-962b-8dca04ba8137.gif)

There are actually some fundamental bugs that are coming to light though as I work on this.

- I'm seeing the same transaction error you were seeing which suggests there's a bug in the way `onStateChange` is handled by the `Remirror` component

[2019-08-16 11:20] benjie commented on #116
@ifiokjr Cool, thanks for doing this work. Do you have suggestions on where I should start/focus? The last bullet seems the most serious, but I don't think I have enough context to figure out if/how to solve this.

[2019-08-16 11:48] ifiokjr commented on #116
@benjie do you mind I take this one on. I'll include it as part of the next version v0.5.0 with a target release of this Sunday.

It's just it might take a rewrite around the controlled editor functionality and that's not the easiest place to start as a contributor.

It's a lesson to me about adding functionality without testing the implementation.

[2019-08-16 12:08] benjie commented on #116
No problem at all. We're hoping to use Remirror using markdown as the interchange format in our app. Previously we were using DraftJS and had a custom markup (inspired by Slack's markup) for simple text that just had tags/mentions/etc, and we were just storing the DraftJS content object for everything else. We'd like to use Markdown as the interchange format, whilst still allowing features like co

[2019-08-16 12:11] benjie commented on #116
(By the way, the plan is to use "special links" in markdown for the mentions, e.g. `[@benjie](mention://27)` to indicating mentioning user with ID=27. This should enable us to keep to core markdown featureset whilst maintaining WYSIWYG editing.)

[2019-08-16 12:56] benjie commented on #116
@ifiokjr Heads up: it's Wednesday I'll be working on this next week rather than Friday.

[2019-08-21 08:18] benjie commented on #116
Hey @ifiokjr (is there a better channel for us collaborating?) I'll be looking at Remirror next on 6th September; let me know if there's anything I can do on that day to help move things forward. Thanks for all you do! :pray:

[2019-08-22 03:03] ifiokjr commented on #116
Thanks, @benjie I've sent you an email (I think) with my details 😄

[2019-08-26 19:23] ifiokjr commented on #116
I had some time today to look at the controlled editor and I think I've managed to fix all the bugs mentioned above. You can watch my progress in #149

There's still a fair bit of work to go into that branch, but the markdown editor will be part of the next major release.

![2019-08-26 20 18 49](https://user-images.githubusercontent.com/1160934/63716935-0d1cd900-c83f-11e9-95f0-bf5deeb916b5.gif)

[2019-09-03 08:50] benjie commented on #116
This is amazing progress @ifiokjr ─ congratulations!

[2019-09-20 10:36] ifiokjr commented on #1
A lot has changed since creating this issue. I'll create a new issue with a pseudo plan and direction for the `remirror` project.

Closing for now 😄

[2019-09-20 10:36] #1 closed

[2019-09-20 10:43] ifiokjr commented on #137
The `stringHandler` is actually for converting a string into a prosemirror document. It really doesn't come into play within the `react-renderer`.

The react renderer is purely for converting the prosemirror node (or in reality the JSON from the prosemirror node) into a react tree. If it's a string e.g. markdown the library user should use a markdown library to convert to their desired react compo

[2019-09-20 10:43] #137 closed

[2019-09-20 10:44] ifiokjr commented on #119
The switch over to gatsby seemed to solve the issue.

Closing as fixed.

[2019-09-20 10:44] #119 closed

[2019-09-20 10:45] ifiokjr commented on #52
Emojis nodes are being removed. This no longer needs fixing.

[2019-09-20 10:45] #52 closed

[2019-09-20 10:46] ifiokjr commented on #46
Nope.

[2019-09-20 10:46] #46 closed

[2019-09-20 10:47] ifiokjr commented on #70
Closing as answered.

[2019-09-20 10:47] #70 closed

[2019-09-23 08:46] #28 closed

[2019-09-23 08:46] #18 closed

[2019-09-23 08:46] #23 closed

[2019-09-23 08:46] #44 closed

[2019-09-23 08:46] #47 closed

[2019-09-23 08:46] #48 closed

[2019-09-23 08:46] #116 closed

[2019-09-23 09:59] benjie commented on #44
Haven't read the diff, just wanted to check that this works for non-Mac OS also (i.e. uses Ctrl instead of Cmd on non-Mac OS).

[2019-09-24 14:46] ifiokjr commented on #44
I'll have to test this out. I wasn't aware of the `ctrl-del` shortcut on windows.

I'll set up windows as an **e2e** test environment in the next PR and see what happens. The tests seem a lot less flakey now.

The main reason I marked this as fixed is that the two prosemirrer nodes which caused problems within remirror, `mention`'s and `emoji` are no longer nodes and no longer suffer from that pro

[2019-09-24 15:03] benjie commented on #44
I misread the issue; ignore my above comment. On linux ctrl-backspace is equivalent to alt-backspace on Mac (delete word).

[2019-09-25 12:25] ifiokjr commented on #134
This has been addressed by #150

Thanks for your support and contributions @charlex 😊

[2019-09-25 12:25] #134 closed

[2019-09-25 12:32] ifiokjr commented on #111
**Narrator**
He did not.

[2019-09-25 12:33] ifiokjr commented on #38
Urrrm no

[2019-09-25 12:33] #38 closed

[2019-10-04 16:41] kajmagnus opened #164 "[question] This looks lovely — and why do you develop Remirror?"
Hi Ifiok,  Remirror looks just like something I was hoping would eventually get created, based on ProseMirror.

I'd like to take a closer look at Remirror — and, I'm also wondering, what made you start this project? Why do you develop Remirror and publish it here at GitHub open source?

If you'd like a StackOverflow style support forum for Remirror over at Remirror's own website, then maybe you'd

[2019-10-08 05:46] jhnsnc commented on #123
This appears to be complete unless you want to make simple marks like bold, code, italic, strike, and underline extensible with `extraAttrs`.

[2019-10-19 23:26] aarongreenlee commented on #143
I looked into this but it looks like you must have sufficient rights to install the bot into the repo. Setup is rather straight forward from there. The boy will even modify the readme to setup the initial table. Once installed it is maintained by mentioning the bot in a comment and sending commands to recognize contributors and their contribution type(s).

[2019-10-19 23:29] aarongreenlee commented on #118
I tried to make this work today and had some challenges. The TypeScript config seemed to be one of the issues. Ultimately, I copied the social and wysiwyg examples and ended up with storybook components that could not apply state changes. Typing a key resulted in a stuttering with the keystrokes briefly showing before being removed. It was as if the component was controlled. I manually reproduced

[2019-10-29 19:43] hennessyevan commented on #88
Just as an update to this, I know it's been a while but I'm currently working on this extension internally in an app and will publish as an extension when it's done 👍

[2019-11-01 11:50] ifiokjr commented on #88
@hennessyevan nice!

[2019-11-01 11:52] ifiokjr commented on #118
@aarongreenlee thanks for looking into this. I completely missed this message under a barrage of github notifications. I'll look into the issue over the weekend.

[2019-11-01 11:54] ifiokjr commented on #143
@aarongreenlee thanks for looking into this. I've added you as a contributor. Does that make it possible?

[2019-11-05 11:44] aarongreenlee opened #170 "Themes Not Working (Emotion Configuration)"
## Symptom

Styles, themes, and perhaps even the white-space character are not rendering. The console may also show an error such as:

[code]

**Problems**

1. White-space cannot be added to the end of input (the focus of this issue; see animation; in FireFox but not Chrome)
2. The theme does not work for the editor.

## Recording of White-Space Issue
![Screen Recording 2019-11-05 at 06 29 AM](htt

[2019-11-05 14:49] aarongreenlee commented on #170
I observe my example is working in Chrome but not FireFox. I am now investigating after [reading this post from the Prosemirror board](https://discuss.prosemirror.net/t/firefox-space-insertion-behavior-during-typing/810/3).

[2019-11-05 14:52] aarongreenlee commented on #170
## Solution

I was not importing the Prosemirror CSS file. Specifically, this CSS resolves the issue:

[code]

Now, I will continue to explore **why** the theme itself is not working when I assemble the editor directory. The `white-space` rule listed above should be applied from remirror's `baseTheme`.

[2019-11-05 15:55] aarongreenlee commented on #170
I'm convinced I don't have the proper setup for `emotion` and am now working to configure it. This is no doubt observable in the repository I've shared after looking through the emotion documentation and looking at my babel configuration.

I moved from styled-components to emotion a few weeks ago in my main app and was delighted the migration was straight forward; however, I was using the `styled.

[2019-11-05 16:06] aarongreenlee commented on #118
To support `create-react-app` the way we use the emotion dependency will need to change for any components we want to make importable into an editor being assembled in `create-react-app`.

Specifically, the styles will need to be converted to use the `styled.div` format (similar to styled-components) or we'll have to use the JSX Pragma method ([see docs](https://emotion.sh/docs/css-prop)).

Withou

[2019-11-05 17:46] aarongreenlee commented on #170
I've gone through my configuration several times. I think there is an issue with themes when using the `ts-loader` for webpack possibly related to this [open emotion pull request](https://github.com/emotion-js/emotion/pull/1220).

[2019-11-06 04:12] dj0nes commented on #170
Thanks for posting about this @aarongreenlee, I'm seeing the same issue with the wysiwyg editor components and emotion + babel plugin.

Oddly, adding the jsx pragma to the `wysiwyg` source files (copied straight out of @remirror/editor-wysiwyg/src/components) fixes the issue for me.

[code]

[2019-11-06 09:57] aarongreenlee commented on #170
Agreed, @dj0nes. I have been trying to get the babel presets to work so the core extensions don't need modification; however, I think may want to modify the core so folks can assemble with create-react-app which won't let you customize babel.

[2019-11-06 11:15] aarongreenlee commented on #170
I've opened a pull request to convert to using the JSX pragma explicitly. This change will avoid adding documentation which complicates adoption by asking folks to modify their build setup.

[2019-11-07 10:52] #170 closed

[2019-11-07 13:15] ifiokjr commented on #170
Thanks for raising this @aarongreenlee

[2019-11-08 19:50] aarongreenlee opened #174 "RemirrorExtension/Collaboration Extension: `this` is undefined"
## Description

Adding the collaboration extension `@remirror/extension-collaboration` results in an error as soon as a transaction occurs: `this` is undefined in the following function within the collaboration extension:

Extract from `@remirror/extension-collaboration/src/collaboration-extension.ts` ([link](https://github.com/ifiokjr/remirror/blob/47b4fceb2704be09380c4dabf713e1816bd2b1e3/%40remi

[2019-11-12 20:23] ifiokjr commented on #174
Hi @aarongreenlee I'll work on a fix soon.

[2019-11-17 18:51] #174 closed

[2019-11-17 20:20] aarongreenlee commented on #174
Thank you @ifiokjr

[2019-11-24 22:06] marek-baranowski opened #178 "Extending menus in Wysiwyg"
Hi,

Once again many thanks for the recent [PR](https://github.com/ifiokjr/remirror/pull/176) regarding additional prop for extensions in Wysiwyg.

I'm trying now to add relevant buttons regarding my extension to both menus. Is that possible the easy way? :)

One more thing, I have not yet managed to fully investigate the problem but it seems like there is an issue with my native Prosemirror plugi

[2019-11-25 08:00] ifiokjr commented on #178
In short, extending menus for the built in editor is not a built in feature right now, but it needs to be.

I'll look into how best to add this functionality.

I'm not sure what you mean by this?

[2019-11-25 17:24] sijad opened #179 "Add bidi support"
## Description

some languages, such as Persian, Arabic, Hebrew, etc need to be aligned from Right To Left in editor.
a direction extension need to be added to change `dir` attribute.
another possible solution would be handling bidi automatically by input, please see https://github.com/ianstormtaylor/slate/pull/204

## Possible Implementation

## Checklist

- [X] I have read the [**contributing**]

[2019-12-05 23:25] dj0nes opened #180 "RangeError: Schema is missing its top node type ('doc') using jest-remirror"
## Description

I get the following error when running the example given in the jest-remirror readme:

[code]

Example repo: https://github.com/dj0nes/jest-remirror-error

I see that similar tests run without issue in the remirror monorepo, but I'm not sure what is different between that setup and mine which would cause this error.

## Checklist

- [x] I have read the [**contributing**][contributi

[2019-12-07 10:46] ifiokjr commented on #180
I've just verified that this is a bug.

It's a tricky one though. I've narrowed down the bug to the `jest-prosemirror` library and occurring around the [`prosemirror-test-builder`](https://github.com/ProseMirror/prosemirror-test-builder), but at the moment I'm not sure why.

One thing I've also been able to do is partially replicate the issue in the library by switching off the module mapper withi

[2019-12-10 16:01] #180 closed

[2019-12-10 16:09] ifiokjr commented on #117
Since the docs are now built with gatsby, this is no longer required.

[2019-12-10 16:09] #117 closed

[2020-01-14 16:57] sorokinvj opened #195 "Question about tables support"
Hey guys, I am considering Remirror for the replacement of new beta-Slate-JS, so I am now choosing a new RichText Editor.

The main thing is that I need tables and just wondering how you guys are dealing with them? Are there any problems that I need to know in advance? All the frameworks I worked before have some problems with tables, either connected to performance or just too complicated to impl

[2020-01-14 23:47] ifiokjr commented on #195
Right now `remirror` doesn't support tables by default, but it's available via [`prosemirror-tables`](https://github.com/ProseMirror/prosemirror-tables). It's a feature I really want to see added to the core libraries in the near future.

[2020-01-15 15:40] sorokinvj commented on #195
@ifiokjr thanks! how do you connect prosemirror modules to remirror?

[2020-01-17 09:19] ifiokjr commented on #143
All sorted 😄

[2020-01-17 09:19] #143 closed

[2020-01-17 09:25] ifiokjr commented on #179
This is really important and is something to be addressed.

[2020-01-17 11:30] sijad commented on #179
one approach can be like `draft-js` which try to guess `dir` based text input.
there also can a new extension to let user change the `dir` similar to CKEditor and TinyMCE.

do you have any suggestion which approach would be better or how it should be implemented?

[2020-01-24 13:47] aried3r opened #201 "Create standalone examples with rollup and other build tools"
## Description

Hey! After playing around with the with-next example (see also #193), I failed to create a minimal working example using the WYSIWYG editor package with rollup. Seeing as you use rollup as well, maybe you could help me out?

It seems the with-next example is heavily tied to this repo as well (hence building it was necessary, see #193), but I fail to get ReMirror running properly. :

[2020-01-24 13:57] aried3r opened #202 "[Docs Bug] Advanced example doesn't work"
## Description

First of all, thanks for this project! Should have opened with this in #201. :)
Opening this separately, since – while related – it doesn't necessarily have the same solution as #201.

I believe the [advanced example](https://docs.remirror.org/guides/advanced-guide/) doesn't work, or is at least heavily tied to being run within the context of this repo. Ideally, it should be standa

[2020-01-26 11:28] ifiokjr commented on #201
Thanks for raising this. I'll take a look when I have some free time.

[2020-01-30 17:14] RaphaelFreedactics opened #203 "Compatibility with standard PM / Custom Node Types"
Hey there,

thank you very much for this library! First of all I have to appologize, if the following question is stupid. We're currently migrating away from Slate due to the lack of Android support and API stability. This looks really promising. However we have two questions remaining:

- Is remirror's Data format standard ProseMirror? That is, can we potentially interchange with standalone Prose

[2020-01-30 18:24] benjie opened #204 "Easy keybindings"
## Description

It's quite common to want to take actions on certain keypresses (for example Enter -> save/send, Escape -> dismiss popover). The best way to do this in Remirror seems to be with an extension. However, the extensions seem to replace the keybindings rather than work together, it feels like Remirror extensions should automatically chain keybindings, or at least give the user a way of

[2020-01-30 18:40] ifiokjr commented on #203
Yes

Yes and it's something that can be prioritised if requested by others. It's definitely something I'm looking at due to interest https://github.com/ifiokjr/remirror/issues/195

**Yes** although I've avoided nodes where possible due to some inherent difficulties. The [emoji extension](https://github.com/ifiokjr/remirror/blob/canary/%40remirror/extension-emoji/readme.md) was initially a node ext

[2020-01-30 18:46] ifiokjr commented on #195
@sorokinvj I somehow missed your question, I'll add some documentation on how to do this as it's a common question.

[2020-02-01 17:21] sorokinvj commented on #195
@ifiokjr Thanks Ifiok! It would be nice also if you can clarify how to init Remirror with text from db, like from json or other source.

[2020-02-03 13:29] hboylan commented on #88
Great work on the library guys. I was able to drag-n-drop images in with the newly minted `@remirror/extension-image` so this issue could likely be closed.

Additional image features I'd like to see are:
- image resize
- image import menu button
  - from URL
  - from computer

I really like the way [this](http://cdn.summitlearning.org/assets/czi_prosemirror_0_0_1_1_20181129151434_index.html) `pros

[2020-02-03 14:48] hennessyevan commented on #88
Yeah @hboylan I haven't used that extension yet actually, I'd rather bring some of what I've been working on to this extension rather than strip mine down to be more generic. If you open a PR I'd be willing to help get those features under way.

[2020-02-03 14:48] #88 closed

[2020-02-04 11:44] hboylan opened #209 "Add support for resizing images"
## Description

`@remirror/extention-image` supports the ability to drag and drop images into the DOM. It would be nice to have the ability to import images from URL or computer using a menu button as well. Also, I've seen prosemirror examples that allow image resizing in the editor that would be nice as well.

https://github.com/ifiokjr/remirror/issues/88#issuecomment-581413715

## Possible Imple

[2020-02-06 13:18] benjie opened #215 "Bad interaction between Italic Extension and mentions plugin"
## Description

Easiest way to reproduce:

1/ Edit fake-users.ts so one of the usernames contains an underscore, e.g. change `purplebird177` to `purple_bird177`:

https://github.com/remirror/remirror/blob/d7432539554b6a293fc0d92c29cc3d14189df0a9/%40remirror/showcase/src/data/fake-users.ts#L112

2/ `yarn build`

3/ Run the Next example: `cd examples/with-next && yarn dev`

4/ visit http://localhost

[2020-02-06 14:26] ifiokjr commented on #215
Good spot

[2020-02-06 16:26] benjie opened #218 "CodeBlockExtension / HardBreakExtension - bad interaction with shift-enter"
There's a few issues here; forgive me for bypassing the issue template.

All of these examples use the with-next example, on the `render-source` branch so the document model can be viewed. Reproduced at http://localhost:3000/editor/rich-social

(Shift enter is because we submit the message on enter, so shift-enter is required to gain a newline.)

## Swallowed keypresses

1. type `Hello: `
2. shift

[2020-02-06 18:26] kikoanis opened #220 "any plans to support I10n/I18n (internationalization) ?"

[2020-02-08 13:49] ocavue commented on #49
@ifiokjr Do you have any recent plan to implement `@remirror/extension-tables`. If not, I can submit a PR for it.

BTW, when you say "`@atlaskit` has a pretty great implementation", do you meems [ProseMirror/prosemirror-tables](https://github.com/ProseMirror/prosemirror-tables)? It seems that the code maintainer of this package is  from Atlaskit.

[2020-02-08 13:51] ocavue commented on #195
Related issue: #49

[2020-02-10 08:51] ifiokjr commented on #220
Nothing concrete is planned yet but this is definitely something I want to add to the core.

I'm considering building on top of [react-intl](https://github.com/formatjs/react-intl) as it's something I've used in the past but am open to suggestions.

[2020-02-10 18:42] ericraio opened #221 "Unable to use Remirror for SSR with ExecJS/Node"
## Description

When you process a React Application through Rails's ExecJS/Node, you'll receive the following error message.

```Error: secure random number generation not supported by this browser use chrome, FireFox or Internet Explorer 11```

This is happening because the nano library has a dependency that roots down to the [randombytes library](https://github.com/crypto-browserify/randombytes

[2020-02-11 03:48] ifiokjr commented on #221
I'm not keen on modifying the codebase to (potentially) support what seems to quite an adhoc build process.

How are you planning on using ExecJS with `remirror`?

Additionally it looks like [support for node@6](https://github.com/rails/execjs/issues/64#issuecomment-466085193) and above is missing. `remirror` officially supports versions `>=10`.

[2020-02-11 03:49] #220 closed

[2020-02-11 10:18] zhaoyao91 opened #222 "add text-color and text-background-color extensions?"
## Description

How about add extensions to change text color and text background color?

## Possible Implementation

They may be mark extensins. use span with style to wrap the styled text.

## Checklist

- [ ] I have read the [**contributing**](https://github.com/remirror/remirror/blob/canary/docs/contributing.md) document.

[2020-02-11 10:26] zhaoyao91 commented on #1
@ifiokjr hi, I can't find the new plan or roadmap, is it here?

[2020-02-11 15:52] ifiokjr commented on #222
That would be great! Would you be comfortable creating a PR?

I can provide guidance.

[2020-02-12 01:56] zhaoyao91 commented on #222
Yeah, these days I am researching how to use remirror to create an editor suit for the requirements of our project. It's hard, since lacking of deep docs.

I thought wypiwys-editor may be the start point, but the doc only write one line to add it, no more explanation about how to customized it: customize the style of menu? remove/add some item? how to write an extension? how to bind extension to m

[2020-02-12 02:55] zhaoyao91 commented on #178
vote for customizing the wysiwyg:

- customize extensions (add/remove)
- customize menu items (add/remove)
- customize theme/styles
- guide for concepts and how-to

[2020-02-12 14:43] tomas-c opened #224 "BubbleMenu positioner throws when view.state != newState"
## Description

I set up the WysiwygEditor as a controlled component. It looks like this causes the BubbleMenu component call bubblePositioner.getPosition() when view.state != newState which ends up throwing an exception [here](https://github.com/remirror/remirror/blob/b096ed1dd300d682e28f9a7721ad9debbe1c1eb3/%40remirror/react/src/react-positioners.ts#L73) with message  "Error: Invalid position X"

[2020-02-12 14:44] zhaoyao91 opened #225 "Wrong indent of list item"
## Description

![Kapture 2020-02-12 at 22 42 17](https://user-images.githubusercontent.com/3808838/74345595-48a96080-4de9-11ea-9b3e-d15739e0ee2a.gif)

When the current item is indented and have no content, pressing enter would create an item with less indents.

## Possible Fix

## Checklist

- [ ] I have read the [**contributing**](https://github.com/remirror/remirror/blob/canary/docs/contributin

[2020-02-12 17:54] tomas-c opened #226 "isEnabled not implemented for bullet and ordered lists"
## Description

If current selection is an ordered list, it's not possible to convert it to a bullet list by pressing the bullet list button. Yet the button is not disabled. This is because BulletListExtension and OrderedListExtension are using the default isEnabled implementation that always returns true.

## Possible Implementation

The following code solves this:

[code]

Options:

1. Add the a

[2020-02-13 02:37] zhaoyao91 opened #227 "Feature: alignment extension"
## Description

Alignment seems a basic function in many text editors.

As image is inline in remirror, supporting alignment for blocks would make the image positioning much easier.

## Possible Implementation

Currently I have no idea how to implement it. Marks are for inline styling, but alignment is block level styling. It would be tedious to extend every block types to support it.

## Checklis

[2020-02-13 05:40] zhaoyao91 opened #228 "`prosemirror.css` is not injected."
## Description

I got the warning in the browser console: `ProseMirror expects the CSS white-space property to be set, preferably to 'pre-wrap'. It is recommended to load style/prosemirror.css from the prosemirror-view package.`

The prosemirror doc says we **SHOULD** include the css file: https://prosemirror.net/docs/ref/#view

But as the remirror is a css-in-js project, the css may be ported as

[2020-02-13 06:21] zhaoyao91 commented on #209
alignment of image would be a nice feature :)

[2020-02-13 08:29] ifiokjr commented on #226
Oh I like option 2 as well!

[2020-02-13 08:30] #221 closed

[2020-02-13 11:55] benjie opened #229 "Make it easy to programatically focus a remirror editor, including derivatives"
## Description

In our existing (DraftJS) codebase, we use React refs to store a link to the editor, and we do `ref.current.focus()` to focus the editor and `ref.current.blur()` to unfocus it. We're trying to port over to Remirror; but we cannot find a way to focus an existing Remirror editor cleanly when using derivative Remirror editors, such as `SocialEditor`.

Workaround: pass a child to the e

[2020-02-13 14:26] #195 closed

[2020-02-13 14:28] benjie commented on #229
Extending this example further (and changing the subject); in order to create an initial `value` to pass in we need to have a `schema` and `plugins` to pass to `EditorState.fromJSON(...)`. But the `schema` and `plugins` are currently located inside the extension manager which is rendered by SocialEditor, so we cannot have access to them before actually rendering the SocialEditor (and doing it in a

[2020-02-13 19:55] watlandc opened #230 "Incompatibility between emojis and mention/tags"
## Description

Consumers are unable to insert a mention/tag directly after an emoji.  A space must be inserted after the emoji before a mention/tag (i.e. typeahead menu) will be recognized.

**To reproduce**
* Insert an emoji into the `social-editor`.
* Type `#` or `@` immediately after the emoji without adding a space.
* Mention/tag typeahead menu won't appear unless you insert a space first.

*

[2020-02-14 08:19] ifiokjr commented on #230
This is by design.

By default the only valid prefix characters directly before the activation character are whitespace characters.

https://github.com/remirror/remirror/blob/db20a731608970a4948fc97faf8c3a31bd6df333/packages/prosemirror-suggest/src/suggest-types.ts#L58-L81

This setting can be amended when creating the mention extension.

[code]

[2020-02-14 08:21] ifiokjr commented on #230
Turns out that setting doesn't actually get passed through at the moment. I'll create a PR with the change.

[2020-02-15 07:12] ocavue opened #231 "Backspace behaviour is wrong when a non-empty selection at the beginning of the code block"
## Description

When I have something like below in my remirror editor (It's not the actual HTML but you can get my point):

[code]

When I press the Backspace key, I expect that the `123` part will be deleted. However, the actual behavior is that the cursor jumps to the block before the code block and nothing is been deleted because of [these codes](https://github.com/remirror/remirror/blob/v0.7.

[2020-02-16 14:20] #231 closed

[2020-02-16 14:31] ifiokjr commented on #229
I really like this suggestion. It would need some large changes to the codebase and API but it would definitely work better with **hooks**.

It also gives us the opportunity to write better documentation. I'll give some greater thought to how much work is needed for this to happen, but I'm making this a high priority request.

Thanks for opening the issue.

[2020-02-16 14:33] ifiokjr commented on #62
This has been done.

[2020-02-16 14:33] #62 closed

[2020-02-16 14:33] ifiokjr commented on #94
Not important. SSR is good enough.

[2020-02-16 14:33] #94 closed

[2020-02-16 15:52] ifiokjr commented on #204
Sounds like the way forward. I started working on this and then got sidetracked. Looking at it today.

[2020-02-19 13:03] ifiokjr commented on #228
I can't replicate on the docs editor https://docs.remirror.org/showcase/social/.

Can you provide your setup?

[2020-02-19 13:06] ifiokjr commented on #227
Sounds good. Might be an idea for a new formatting group of extensions which cover all these scenarios.

[2020-02-19 16:38] zhaoyao91 commented on #228
strangely, I removed my css injection, this time it does not show the warning.
BUT, I did notice some lost style:

![Kapture 2020-02-20 at 0 36 07](https://user-images.githubusercontent.com/3808838/74853590-19f73100-5379-11ea-8ad6-f4f701b01997.gif)

![Kapture 2020-02-20 at 0 35 10](https://user-images.githubusercontent.com/3808838/74853412-def4fd80-5378-11ea-87ba-29a9ba8710e1.gif)

- the first gif

[2020-02-19 16:57] #204 closed

[2020-02-20 14:27] zhaoyao91 opened #237 "Failed to upgrade to @remirror/core v0.8.0"
## Description

I've upgraded remirror from the previous version to the latest one, and fixed a type from `CommondFunction` to `ProsemirrorCommandFunction`, but my extision just cannot work with strange error:

[code]

My update is

- @remirror/core: 0.7.4 => 0.8.0
- @remirror/core-extensions: 0.7.4 => 0.7.5
- @remirror/react: 0.7.5 => 0.7.6

Here is the full code of the extension:

[code]

Here a

[2020-02-20 14:46] zhaoyao91 commented on #237
even stranger, I just copy the `BulletListExtension` and rename it as `EmptyExtension`, and use it to replace the original BulletListExtension, it won't work neither!

[2020-02-20 15:29] ifiokjr commented on #237
@zhaoyao91 I've verified the bug and it's an annoying one.

It seems that our `browserlist` configuration is changing the way the code is rendering and outputting classes rather than functions.

https://github.com/remirror/remirror/blob/2a79b20fa7406a802273e7c61e35fe5d26fdf0f2/package.json#L171-L178

The extension from the [`@remirror/core@0.8.0`](https://unpkg.com/browse/@remirror/core@0.8.0/lib/

[2020-02-20 15:35] ifiokjr commented on #237
It's actually an interesting dilemma. The current JavaScript ecosystem embraces the latest code and newest language features via tools like babel, but when actually trying to output some of these features in the browser, most frameworks like `NextJS` (and any framework using the default browser settings of `@babel-preset-env`) default to producing `ES5` code which isn't compatible with some `ES6`

[2020-02-20 15:55] zhaoyao91 commented on #237
adding  browserslist works for apps.

I am building a library using tsdx, it will generate es and cjs module while target es5, but it won't transpile the dependencies and the final app will have to recognize and bundle them.

it's ok for me to add some browserslist in the apps since these apps are just playground, but my library will pass this problem to the final user which create app using our l

[2020-02-20 16:23] zhaoyao91 commented on #237
More problems found in this change.

- I have to update the lib's browserslist to generate codes which can consume your code, and this requirements is in fact propogated to the final user, force them to update their app's settings.
- The browserslist you provided is actually too narrow, if we have to keep the pace, the defaults may be a proper option.
- Now my playground app can only comsume the g

[2020-02-20 17:00] ifiokjr commented on #237
Makes sense. I'll make a patch fix later on this evening.

[2020-02-20 22:01] #237 closed

[2020-02-21 10:27] ifiokjr commented on #228
That was intentional, I had removed the outlined by setting the styling to `outline: 'none'` in several places within the codebase. However, I can see that without alternatives, that could be an accessibility issue. I'm happy to merge a PR which reverts this change.

I'll close this issue for now since the initial bug raised isn't reproducible.

[2020-02-21 10:27] #228 closed

[2020-02-21 11:28] zhaoyao91 commented on #228
The prosemirror css is below, leave it here so you can have a glance and check if all their concerns have been covered by remirror:

[code]

[2020-02-21 11:50] zhaoyao91 opened #241 "What's the standard/best way to disable the editor?"
I've searched the codebase with `disabled`, only found some of them in the menu item button.

I've thought aobut setting the `contenteditable` of the editor, but the root props are only applied to the wrapper of the editor, and it was not a style, so I can't override it with css.

Could you please give some hint or thought about this problem?

## Checklist

- [ ] I have read the [**contributing**]

[2020-02-21 13:06] ifiokjr commented on #228
Here's the equivalent in the remirror codebase.

https://github.com/remirror/remirror/blob/b096ed1dd300d682e28f9a7721ad9debbe1c1eb3/%40remirror/ui/src/ui-theme.ts#L244-L261

I think it's missing `font-variant-ligatures: none;` and `font-feature-settings: "liga" 0;` which may not have been a part of the `prosemirror.css` the last time I checked.

Feel free to open a PR to add. It's probably there f

[2020-02-21 15:14] ifiokjr commented on #229
Just so you know, I'm exploring some ideas around this and will hopefully 🤞push a draft PR in the next few days. I'm open to suggestions on how the API should eventually look.

[2020-02-21 15:37] watlandc commented on #230
That's good to know that a feature by design and that it's configurable 👍

I'm used to finding many small quirks in in our previous DraftJS implementation, thus I assumed it was a bug.

[2020-02-21 15:45] #230 closed

[2020-02-21 15:49] watlandc commented on #229
Very nice. Thought it would be worth noting here common focus related use cases that would be set programmatically.

* Focus
* Blur
* Autofocus
* Autofocus w/ text selected (UX convenience for easy editing)

Of note, iOS browsers do not allow focus to be set programmatically – but `autofocus` should work.

We found that `autofocus` wasn't working on iOS in our DraftJS implementation, but we didn't

[2020-02-21 18:53] zhaoyao91 commented on #228
I'd suggest introducing the prosemirror css content as it is somewhere and make additional stylings based on it. Since remirror is conceptually based on prosemirror, this way could keep it to be integral.

[2020-02-22 04:18] zhaoyao91 opened #246 "Use remirror editor as controlled component"
The document about this topic is empty.

I tried to read the source code, found `value` and `onStateChange` props of Remirror component, but it seems that the editor state is created inside the Remirror and no examples how to create it outside of it safely and manually.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/canary/docs/contributing.md) do

[2020-02-22 08:05] zhaoyao91 commented on #241
I've had a hard wary to finally make out a workaround for this.
It's hard to use remirror as controlled component. So I made a helper component which expose remirror context upward via ref. And then, the parent component could listen to the onChange and if it is disabled, just set the content as the previous state to prevent any change:

[code]

[2020-02-24 14:22] tomas-c commented on #246
I have an example [here](https://github.com/tomas-c/remirror/commit/5015256c686a408b042df140ee6343ed553190d3) which I created as a demo for issue #224

[2020-02-24 14:33] tomas-c commented on #111
@ifiokjr this can be closed

[2020-02-25 01:53] zhaoyao91 commented on #246
@tomas-c thanks. I've tried this method. So this way we could have a chance to have a glance at the state, but the initial state is generated inside of the editor. I have some use cases which I don't know how to achieve:

(assume the parent component hold the editor component and the state and pass the state to the editor)
- how could the parent component create the initial state from predefined c

[2020-02-25 05:36] ifiokjr commented on #246
I'm in the process of [reworking some of the API](https://github.com/remirror/remirror/issues/229#issuecomment-586713697) for remirror. Controlled components should be a lot easier to create once that happens.

[2020-02-25 07:01] #226 closed

[2020-02-27 17:42] benjie commented on #229
Following some discussion, we're looking at an API that might look something like this.

I'm going to try and lead through the example, so the code will be a little out of order...

First, we want to render our application:

[code]

Our application consists solely of a Remirror editor.

Importantly, we need to be able to get a Prosemirror schema from our extensions in order to load data, so we do

[2020-03-01 15:03] ifiokjr commented on #229
I've created a `next` branch (#251) were the API changes and progress can be followed.

Additionally, there's an open PR (#252) which adds a `focus()` method to the remirror context.

[2020-03-01 23:21] #229 closed

[2020-03-02 18:16] ifiokjr commented on #111
Oh yes, thanks. I'm not sure why it didn't close automatically.

[2020-03-02 18:16] #111 closed

[2020-03-02 19:08] ifiokjr opened #255 "Next"
You can follow along with the development of this the new API on the [`next` branch](https://github.com/remirror/remirror/tree/next).

## Project History

Originally, remirror was built as a fun side project; a challenge to myself to see if I could create an extensible editor for React. It was inspired by the implementations of [slate](https://docs.slatejs.org/), [draftjs](https://draftjs.org/), [

[2020-03-02 19:41] #49 closed

[2020-03-02 19:44] ifiokjr commented on #218
I'll take a look at this sooooon.

[2020-03-05 06:17] zhaoyao91 commented on #255
will this affect the data structure? I mean, currently our app use the v0 version of remirror, and save the contentState to db to allow reload to update. if in the future we have to switch to the new version of remirror, is the data compatible?

[2020-03-05 08:20] ifiokjr commented on #255
@zhaoyao91 There are no plans to change the data structure of the schema or json object. Changes to specific extensions may update attributes which may cause issues.

One of the things that's been discussed is a migration assistant to make the editor less brittle. If a json object includes an unexpected node or mark, it'll call and `invalidContent` callback which you provide. The callback allows y

[2020-03-05 11:35] onoufriosm commented on #255
That's a great initiative @ifiokjr ! We've been looking to migrate from SlateJS and we've narrowed it down to prosemirror (mostly because of stability and mobile support) so having a react integration such as remirror would be amazing.

Are you planning to keep this library open source (MIT license)?

[2020-03-06 01:57] ifiokjr commented on #255
Of course! 😄

This kind of project only works if it's open source.

[2020-03-06 02:59] watlandc opened #261 "Add class to editor when `autoFocus: true` for pseudo iOS support"
## Description

In testing the WYSIWYG Remirror Showcase, it appears autofocus is not working on iOS.

**To reproduce**
* Visit [WYSIWYG Showcase](https://docs.remirror.org/showcase/wysiwyg)
* Editor autofocuses on desktop, but not iOS

iOS does not allow focus to be set programmatically, but autofocus should work.  Autofocus is useful on mobile for a variety of cases (e.g. creating a social post)

[2020-03-06 07:54] ifiokjr commented on #261
This should be fixed by #262

[2020-03-06 16:30] lightpohl opened #263 "mention-extension: add extraction of extraAttrs to parseDOM"
Hello! We've recently started using Remirror and the `mention-extension` to create a new text editor. It's been working really well so far, and has been a big step up from what we were using before.

## Description

We noticed when reinitializing a new editor from saved HTML that the custom attributes saved in the HTML for mentions were not being parsed, and that they would fallback to their defau

[2020-03-06 18:51] ifiokjr commented on #263
Thanks for raising this issue, and I'm glad you're enjoying using remirror! There's a lot of work going into the codebase, so hopefully your experience keeps improving.

There's actually a `getExtraAttrs` method defined on every `Extension` that provides the functionality you seek.

https://github.com/remirror/remirror/blob/9d13d46f29c9c02fe28408e34e5d71f3780344e4/%40remirror/core/src/extension.ts

[2020-03-06 21:46] lightpohl commented on #263
Thanks for a bunch for the code examples and letting me know about `this.getExtraAttrs`. The doc for contributing is really handy by the way--getting setup locally was easy.

[2020-03-07 05:57] #263 closed

[2020-03-07 09:31] arpitchaudhari opened #266 "Tab Key not working in code block extension"
I am not able to use tab key in the code block.

[2020-03-07 10:35] ifiokjr commented on #266
Can you provide an example? A screenshot would be helpful.

[2020-03-07 11:00] ifiokjr commented on #261
Reopening, even though it works on the simulator, it doesn't actually seem to be working on device. I think it'll need a similar `FocusExtension` to make the functionality identical to `tiptap`.

[2020-03-07 18:50] arpitchaudhari commented on #266
![tab](https://user-images.githubusercontent.com/29978858/76150630-83de3d00-60d2-11ea-84d3-d8c1ef17d5c8.gif)
When I use tab key, instead of giving space it is moving to url.

[2020-03-09 14:18] arpitchaudhari opened #267 "How to get data from Wysiwyg Editor?"
I want to get data from editor so that I can save in the database.

`<WysiwygEditor onChange={(e)=>console.log(e)}/>`

I had tried this but not getting the data.

[2020-03-09 18:37] ifiokjr commented on #267
There are two options

https://github.com/remirror/remirror/blob/d1359ada00898e6f2092b1f9da33c2cb0f530c03/%40remirror/react/src/react-types.ts#L449-L459

- `getJSON()` - the json for the full state value including the current selection.
- `getObjectNode()` - the json for the editor content.

It's not well documented right now but that's being fixed in the upcoming version.

[code]

[2020-03-09 18:37] #267 closed

[2020-03-09 21:17] arpitchaudhari opened #268 "How to add a New Extension to Wysiwyg Editor?"
I am trying to add table extension in  menu bar in Wysiwyg but can't figure it out.

![IMG_6966](https://user-images.githubusercontent.com/29978858/76258225-2f28f680-6279-11ea-81b4-eb6fb7a67147.JPG)

File: https://github.com/remirror/remirror/blob/master/%40remirror/editor-wysiwyg/src/components/wysiwyg-menu.tsx

[2020-03-10 06:35] ifiokjr commented on #268
I'm don't think support was yet added for this. I'd be open for a PR if you're happy to give it a go 😊

[2020-03-10 06:36] ifiokjr commented on #246
In the meantime, the example [here](https://github.com/remirror/remirror/blob/e97db44/examples/with-next/pages/editor/rich-social/rich.tsx) should provide a good starting point for now.

[2020-03-10 06:57] ifiokjr commented on #268
I'm closing this as it's a question. Feel free to open it again if you feel the functionality should be added and have some ideas on how it can be done.

[2020-03-10 06:57] #268 closed

[2020-03-10 06:59] ifiokjr commented on #215
This still needs to be addressed. Again, I'll add a failing test case and then create a fix.

[2020-03-10 07:01] #164 closed

[2020-03-10 07:12] #218 closed

[2020-03-10 07:12] #266 closed

[2020-03-12 06:29] ifiokjr commented on #261
The new extension will be added as part of the new updated API.

[2020-03-12 11:54] zhaoyao91 opened #271 "Render ReactNodeView instance into the element of toDOM"
By the original NodeView logic, my dom/node will replace the original element from toDOM. But if I use the ReactNodeView, it will render the react component inside the element from toDOM.

see the related code here:

![image](https://user-images.githubusercontent.com/3808838/76519166-70005580-649b-11ea-8890-9c39fb905bd7.png)

![image](https://user-images.githubusercontent.com/3808838/76518622-662a

[2020-03-12 11:56] zhaoyao91 commented on #271
here is my related code
![image](https://user-images.githubusercontent.com/3808838/76519232-91f9d800-649b-11ea-996c-51d4412f1269.png)

[2020-03-15 14:16] fubhy opened #272 "Relation between schema definition and extensions"
## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/master/docs/contributing.md) document.

## Question

Hi there!

I've discovered this project while researching the different options for ProseMirror / React bridges. Now, I've finally had the time and spent a few days this past week to see if Remirror would be a viable alternative for my use case.

NOT

[2020-03-15 14:35] fubhy commented on #255
That sounds great! I've recently experimented with Remirror too. I documented one of my findings regarding Schema & Extensions in this issue: #272

I was also wondering if you could make the dependency on `emotion` less strict? A separation between the schema, editor behavior and visual output (rendering with emotion / styled components / whatever) would be a great improvement (don't assume any st

[2020-03-17 17:23] ifiokjr commented on #271
Good spot!

I'm open to a PR to fix it.

[2020-03-18 03:29] ifiokjr commented on #272
You've raised some good points in this post. I think the main motivation for coupling the schema with the editor was to reduce the need for a deep prosemirror understanding when getting started.

However with the `next` version of this API the issues raised can be addressed. I think there's space for providing an _optional_ way of predeclaring the schema that will be used. This can be passed as a

[2020-03-18 07:51] fubhy commented on #272
Oh, right... It could actually be sufficient to simply separately export the default schema from each extension and then just pass it back to it when initializing it.

Great. I am looking forward to that. I am happy to engage more and contribute back if desirable.

[2020-04-03 10:23] zhaoyao91 opened #277 "Question: how to create cross-node-type extension?"
I want to create an alignment extension for all block nodes. A key point is not to modify the pre-defined built-in extensions.

Looking through the codebase, extraAttrs seems a way to go, but I found extensions such as heading extension didn't parse the extraAttrs. And I didn't make it to create a workable demo for this purpose.

I noticed the paragraph extension already has an attr `align`, which

[2020-04-04 15:44] ifiokjr commented on #277
Thanks for taking a look at alignment. It'd be great to have that integration.

Based on what you've just mentioned, I'm going to look at improving the extraAttrs to automatically parse the added attributes for all nodes and marks in the `next` branch.

Thanks for the suggestion.

I'm actually not sure. I'll look at it. If it can't be done I'll think through how it can be improved in the `next` re

[2020-04-04 15:47] ifiokjr commented on #271
Node views aren't great in `remirror` at the moment. Mainly because I'm actually not currently using any. The times I did there were some issues with mobile support so I just reverted to other solutions.

However, I'm very impressed by [this repo](https://github.com/johnkueh/prosemirror-react-nodeviews) which has a great `NodeView` with `React` integration. I've reached out to the developer and wi

[2020-04-07 10:03] rafalp commented on #241
In WYSIWYM editors "disabling" editor is usually known as "making editor read-only", so try searching codebase for `readonly` ;)

[2020-04-09 02:01] zhaoyao91 opened #278 "link extension should not select word on mod-k if there is already a selection"
## Description

![image](https://user-images.githubusercontent.com/3808838/78849969-8a9cfe80-7a48-11ea-96a4-b18376437de4.png)

This is a strange user experience. With some text already selected, mod-k should just apply link to this selection instead of try to select a word.

## Possible Fix

if there is selection, do not select the word

## Checklist

- [ ] I have read the [**contributing**](https

[2020-04-09 03:23] zlv-thisF opened #279 "Question: how does the "next" in chainKeyBindingCommands works"
remirror's code organization based on prosemirror is  amazing !!!!<br>
I check the source code of extension-manager and really interested in the **keymaps** method. it has a **chainKeyBindingCommands** method to loop all the commands from **keys** method in each extension with it's priority.  <br>
the question is that i don not see any extension's keys methods call the **next** manually., in fact

[2020-04-11 12:36] ifiokjr commented on #241
@zhaoyao91 you should be able to set the prop `editable` to be `false` when creating the react component.

https://github.com/remirror/remirror/blob/aa0fe5736e6da7cd1b3bb20223a4ee299ea5d1d7/%40remirror/react/src/react-types.ts#L88-L92

[2020-04-11 12:36] #241 closed

[2020-04-11 12:41] ifiokjr commented on #278
@zhaoyao91 I'm open to a PR.

If you add the following to the beginning of the method in you PR it should fix the issue.

[code]

[2020-04-11 12:52] ifiokjr commented on #279
Thanks for the kind words @zlv-thisF

### `next`

The `next` parameter allows a keybinding to run its own commands when a key press happens while at the same time running all the other matching keybindings from the editor.

Calling `next` says, "remirror, please run every matching keybinding provided by the lower priority extensions". If anything happened it will return true, and if nothing happen

[2020-04-11 12:52] #279 closed

[2020-04-13 08:27] zhaoyao91 opened #280 "geMarkRange cannot handle hardBreak"
## Description

I have created a link extension which trigger activation handler after click the link:

[code]

Most of the code is copied from the original link extension.

After enabling the hard break, if the text with link is broken by a `<br/>`, then clicking the link will only select the first part of the link.

![Kapture 2020-04-13 at 16 25 32](https://user-images.githubusercontent.com/3808

[2020-04-13 19:43] ifiokjr commented on #280
I actually think the bug is that a hard break maintains the link across both lines. Even if it's desired behaviour in some circumstances, it probably shouldn't be a default.

I'm currently working on the `next` version so not finding much time to fix these. I'll try and take them into account in the `next` branch.

If you're happy to tackle the problem for yourself and future users, then I think t

[2020-04-13 19:49] ifiokjr commented on #225
Just verified that this happens. It seems to be a general bug with prosemirror list items. Might take a deep dive in order to work out why it's happening.

It only happens for me once the indent level is at least 2 levels deeps.

[2020-04-13 19:52] ifiokjr commented on #224
Thanks for the well written issue.

While there may be some simple fixes around this, I think the fundamental issue is around poor controlled editor testing and support currently.

This is being addressed currently in the next branch #251.

[2020-04-14 13:57] #278 closed

[2020-04-15 02:04] zhaoyao91 commented on #241
Great, this works. PS, the commands will continue to work with editable `false`, so users should disable the buttons too.

[2020-04-15 05:34] ocavue opened #289 "Remove JSDOM selection API warning"
Currently, `jest-remirror` will mock some methods from `EditView` and print a [warning](https://github.com/remirror/remirror/blob/jest-remirror%400.11.1/packages/jest-remirror/src/jsdom-patch.ts#L43) about "Test depends on DOM selection API which is not supported in JSDOM/Node environment".

In this [PR](https://github.com/jsdom/jsdom/pull/2719), someone added the implementation of selection API f

[2020-04-17 05:16] zhaoyao91 commented on #280
@ifiokjr follow [this comment](https://github.com/remirror/remirror/pull/286#issuecomment-613835353)

this varaible extension is below

[code]

In a word, it's just an inline atom node, nothing special. the getMarkRange just cannot handle it properly, like with hardBreak.

[2020-04-20 00:37] lanyusan opened #291 "Inject custom prop to remirror context"
## Description

`useRemirrorContext` is very convenient. I need to pass some extra props for `useRemirrorConext` to capture, for example a GraphQL client instance.

Is there a way to do it now? If not, can I propose such a feature. For max flexibility, it should use a template type for user to define what to pass to the context.

Thanks in advance

## Possible Implementation

## Checklist

- [x] I

[2020-04-20 12:25] jhlabs opened #292 "Using Mention Extension throws `Extension Manager must be initialized before attempting to access the data`"
First of all, this project is amazing and exactly what I have been looking for. After returning frustrated from SlateJS and DraftJS projects, I am happy to have found a project based on Prosemirror.

## Description
I am following the template laid out in the `@remirror/editor-wysiwyg` package and have successfully connected several extensions.

Now I want to connect the `@remirror/extension-mentio

[2020-04-21 10:28] ifiokjr commented on #292
It’s hard for me to diagnose with seeing the rest of the code. The mention extension isn’t currently the easiest to use (it’s being updated in the `next` #251 branch).

It’s probably easier to add the wysiwyg functionality to the social editor than the other way around, due to just how tricky, the current version of `MentionExtension` is to use.

[2020-04-21 10:36] ifiokjr commented on #291
This is an interesting suggestion. In the `next` version #251 of the codebase, I’ve sought to make the underlying core more extensible. So much so that, now, all core functionality is implemented with`builtin` extensions.

However, I’m not sure I see the benefit in adding extra props to the context of the react provider. Could you shed more light on what it is you’re trying to achieve and how pass

[2020-04-21 11:13] lanyusan commented on #291
My use case is that my extensions would need to access remote resources, through graphql. The graphql client could be passed down through extension options, but  since the client is a shared resource, it would be nice to put it in editor context.

Generally speaking, context is a nice place for shared resources.

[2020-04-21 12:11] ifiokjr commented on #291
What would you suggest the API should look like? Perhaps it's a change that can be added to the `next` version.

[2020-04-21 12:22] lanyusan commented on #291
May be as a prop of ` <RemirrorManager extensions={extensions}>` , as  expanded to  ` <RemirrorManager extensions={extensions} externalContext={{gqlClient, credentials, ... }}`>

[2020-04-21 15:13] jhlabs commented on #292
The problem I believe is that I am using a functional component and a ref instead of instance variable in the example. My full code is:

[code]
Looking forward to the `next` version!

[2020-04-22 14:36] jhlabs commented on #292
I resolved this issue by wrapping the `mentionKeyBindings` into the `useCallback` hook in case anyone stumbles upon this issue.

[2020-04-22 14:36] #292 closed

[2020-04-23 07:57] ifiokjr commented on #292
@jhlabs glad to hear that you resolved it 👍

[2020-04-23 19:25] bennidhamma opened #293 "Guidance on how to make a social editor with markdown and image upload support?"
Thanks for this great looking project. We're considering using it for a project. My apologies if an issue is the wrong medium, let me know if stackoverflow or something is better.

The social editor seems like a pretty good starting point for our needs. We use markdown for our comments, and also have a need to support image uploading.

Would a reasonable starting point be to fork the editor-social

[2020-05-04 14:02] lightpohl opened #294 "Transform pasted content before parsing"
## Description

I would love a way to transform pasted content before it's parsed by the editor. Currently, I'm seeing a clash between some pasted content and my implementation of the mentions extension, and if I was able to clean up the pasted HTML before parsing it could be prevented pretty easily.

## Possible Implementation

Naively, I think what I'm looking for is to surface ProseMirror's [`t

[2020-05-04 17:13] ifiokjr commented on #294
That would be excellent. I'm open to a PR. Let me know if you need any pointers. It's been a while since I looked at the paste logic.

[2020-05-06 05:40] DiamondYuan commented on #255
When will it be released ？

[2020-05-07 12:36] ifiokjr commented on #255
I'm tentatively targeting feature parity (with the current master) in prerelease within 2 - 3 weeks (21st - 28th Apr). After that it's all about how many bugs surface before the final `1.0.0` release.

I don't want to rush that stage to avoid the need for drastic API changes in the future.

Also, I really like what you're doing with https://github.com/webclipper/web-clipper. It looks lovely.

[2020-05-08 01:42] DiamondYuan commented on #255
Originally I wanted to develop the editor myself until I found remirror.

[2020-05-12 11:22] onoufriosm commented on #203
@ifiokjr

From my understanding this is a requirement to render a node as any react component (similar to slate), correct?

Is this something that is going to get better support in the **next** version?

[2020-05-15 10:03] zhaoyao91 opened #298 "cannot add link when use cmd + a to select all content"
## Description

in my app and the [wysiwyg editor showcase](https://docs.remirror.org/showcase/wysiwyg), when select content with `cmd + a`, and click the url button to add url, it has no effect.

other cases work well:
- `cmd + a` to select but use `cmd + k` to enter url
- use cursor to select all content and click the url button

![Kapture 2020-05-15 at 18 02 07](https://user-images.githubuserco

[2020-05-15 10:22] zhaoyao91 commented on #298
I've found the problem is from here:
https://github.com/remirror/remirror/blob/remirror%400.13.1/%40remirror/core-extensions/src/marks/link-extension.ts#L107

When I remove the `(!isTextSelection(selection) && !isMarkActive({ state, type }))` part, it works well. But I am not sure if they have other purpose here.

[2020-05-16 13:33] mjsarfatti commented on #37
I was wondering if there was any development on the native side of things?

[2020-05-18 05:33] ifiokjr commented on #298
Thanks for such a well crafted issue, with a potential fix as well. I'm sure there was a reason for adding this guard, but it's not coming to my mind right now. Since tests don't fail, feel free to open a PR.

[2020-05-19 23:58] ifiokjr commented on #37
I'd love to get it done. I'm in the middle of a rewrite at the moment, so between that, work and other things it's difficult to find the required time. Fingers crossed there's time to make build a sample during June.

[2020-05-20 00:07] ifiokjr commented on #289
Thanks for posting this issue.

I'll fix it in the `next` branch.

The questions you've asked are questions I keep asking myself. Jest is lovely to use but it's lack of real browser support is a massive cost for developing a text editor. The test suite doesn't provide enough assurance since most of the meaningful api's are being mocked insufficiently.

A problem is that most of the other solutions

[2020-05-20 00:59] qwwwpp commented on #116
@ifiokjr  Hi I spend hours trying to figure out how to switch between markdown and Wysiwyg node. This gif shows exactly what I want.
Can you tell me where can I find this code and how to run it?

[2020-05-20 14:43] jhlabs opened #300 "Using getPositionerProps with a popup menu"
## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/master/docs/contributing.md) document.

I am currently trying to setup a popup menu that I am using with the mention plugin to correctly position itself at the beginning of the inserted suggestion item. I have looked at the emoji extension and tried to replicate the example, but the position values nev

[2020-05-21 02:18] qwwwpp opened #301 "Make wysiwyg editor a controlled component"
I am trying to create a component that can switch between plain text/markdown editor and WysiwygEditor editor.
If I use defaultMarkdownParser and defaultMarkdownSerializer from prosemirror to convert the node , it will throw error every time I type markdown syntax(e.g. ```). Also, I won't be able to type anything, if I add `initialContent={defaultMarkdownParser.parse(text)}`

Here is the sample co

[2020-05-21 04:36] ocavue commented on #289
First of all, I'm really happy that you like Rino. It's my honor to add my project to what's being built with remirror.

---

During the development of Rino, I've written *a lot* of puppeteer tests because (1) it provides a true browser environment so I don't have to mock those API that missing from JSDOM environment (e.g. Selection API, localStorage) and (2) it provides a way to debug my code in

[2020-05-21 10:48] ifiokjr commented on #289
That's a real encouragement. I'm glad the API is proving useful.

This sounds like a good path forward. The only change would be to use [playwright](https://github.com/microsoft/playwright) for improved browser support. I'll monitor how it feels using the current test suite for the rewrite and if I run into too many mocking problems, I'll revisit the whole running jest directly in the browser idea

[2020-05-21 10:59] ifiokjr commented on #300
Looking at the code, nothing is jumping out to me as an obvious error. Can you try removing the `right` and `bottom` props. I've found that over specifying the absolute position can sometimes create issues.

Also do you have a codesandbox visible where you can replicate the issue?

[2020-05-22 07:14] jhlabs commented on #300
Thanks @ifiokjr! Good to hear that it should be possible to use the `positionerProps` like this. It seems that when I console log the values for `top` and `left` that they never change from their initial value of `-99999`. I will prepare a sandbox later today.

[2020-05-24 16:30] ocavue commented on #289
Sorry for the late response. I haven't got the time to respond to your comment these days.

Thank you for your explanation of the new API. It's very detailed and I do understand the new API better.

----

Most changes in my option are pretty great. However, I do have a small question:

A `plainExtension` object could provide 3 lifecycle methods tho will be called during the initiation of the manag

[2020-05-25 19:36] ifiokjr commented on #289
Not a problem at all. That's actually the beauty of using **GitHub** for communication. It's asynchronous and there's never a rush.

This sounds like a great idea! `onCreate` is probably all we need. I was refactoring from the `master` branch, which uses the `initialize` method to pass in a state getter and other properties.

The reason I added the `forEachExtension` pattern is to help improve the

[2020-05-26 06:17] ocavue commented on #289
Could you give me a reference link to the document?

[2020-05-26 07:18] ifiokjr commented on #289
This was the link https://docs.remirror.org/showcase/wysiwyg/

But turns out it's actually seems quite fast. Not sure maybe I was on a slower machine or mobile.

[2020-05-26 08:02] ocavue commented on #289
I don't think there is much performance improvement by adding `forEachExtension`.

For example, there are N extensions in total, and M extensions have lifecycle methods.

- With `forEachExtension`, we will call `afterExtensionLoop`  M times and `forEachExtension` N*M  times
- Without `forEachExtension`, we will still call `afterExtensionLoop` M times. Each `afterExtensionLoop` method will accept a

[2020-05-26 10:51] ifiokjr commented on #289
I wrote a little [gist here](https://gist.github.com/ifiokjr/b49563482ae301bf31ccb1d2b7374982#file-for-each-extension-md) and would be happy to change my mind. I've pasted it into this reply for brevity.

## Why `forEachExtension`?

For the sake of this example let's assume that all extensions implement all the lifecycle methods. With that assumption we can compare the reasoning behind the `forEac

[2020-05-26 12:23] ocavue commented on #289
I don't understand this part:

I write some sample code:

### Inner Looping

[code]

### `forEachExtension` (current implementation)

[code]

In the examples below, both implementations will call `this.#doSomethingHeavy` 100 times so I don't see how to get "50 steps". Maybe we have different definitions for "step"?

[2020-05-26 14:16] ifiokjr commented on #289
Oh wow! Yes you're right. I completely missed the fact I was doing that in the code. 😅

Haha, I must have been at my computer too long. I'll update the API in the next refactor in a few days.

[2020-05-26 14:24] lightpohl commented on #294
Apologies for the delay! Realized a few days ago that while some of the ProseMirror props are not available on the top-level manager, they are available and easy to use via use of a Remirror extension.

Here's some example code in case anyone needs to do something similar. 👍

[code]

[2020-05-26 14:24] #294 closed

[2020-05-30 09:57] jhlabs commented on #300
I am sorry this took such a long time. I can't even get the simple example from the docs up and running on the codesandbox since I believe they are not updated with the latest version. I will close this for now and add a solution if I find one. This will be a great library once the `next` branch and documentation are ready!

[2020-05-30 09:57] #300 closed

[2020-06-08 17:04] hennessyevan opened #305 "How to transpile map-obj is an es6 module in @remirror/core-extensions"
## Question

Hey, I know this probably isn't really related to remirror directly but there is an untranspiled es6 module in `@remirror/core-extensions` called `map-obj` that is somehow slipping through my webpack and babel transforms and killing browsers that don't support object rest spread in the process. This one line in my repro is what is causing it. https://github.com/hennessyevan/razzle-tra

[2020-06-08 23:04] ifiokjr commented on #305
Thanks for raising this issue. I'll take a proper look soon.

At a glance it may be to do with the `browserlist` configuration used by remirror.

[2020-06-09 15:14] ifiokjr commented on #289
I'll close this since it's been addressed in the `next` branch.

[2020-06-09 15:14] #289 closed

[2020-06-09 17:41] ifiokjr commented on #203
It's definitely possible, and the functionality will be retained.

Personally, I've found fewer bugs when using the DOM to interact with anything inside `contenteditable` areas. Mobile support is easier to guarantee when working this way.

[2020-06-18 02:13] ifiokjr commented on #301
Full and robust support for controlled components has been added here https://github.com/remirror/remirror/pull/308

I'll be integrating this into the social, wysiwyg and markdown editors over the coming days.

[2020-06-18 02:15] ifiokjr commented on #37
Okay, progress update.

I'm pitching my current company to see if they'll give me a few weeks to work on this functionality. If that materialises then it will be part of the `next` release.

[2020-06-18 02:26] ifiokjr commented on #246
This has been reworked in the `next` branch. You can see how it can be used in the example provided in the description of #308.

[2020-06-18 03:18] ifiokjr commented on #301
Closing as duplicate #246

[2020-06-18 03:18] #301 closed

[2020-06-18 04:14] ifiokjr commented on #123
This has now been addressed in the `next` branch.

The `createNodeSpec` and `createMarkSpec` methods of the `NodeExtension` and `MarkExtension` classes each receive a  parameter that should be used  to add the extra attributes in the right place.

If you don't apply the attributes when creating an extension an error will be thrown. To avoid this error you can set the static property `disableExtraA

[2020-06-18 04:14] #123 closed

[2020-06-18 07:40] ifiokjr commented on #179
Okay, this is addressed in the `next` branch by #309. It currently only supports inference at startup but it should be trivial to add continuous checks as you type.

[2020-06-18 07:42] ifiokjr commented on #179
Oh and thanks for raising this issue. The PR you referenced was very useful for adding the functionality.

[2020-06-18 09:53] ifiokjr commented on #305
I hope you don't mind, I've been so busy with the `next` branch I haven't had a chance to look into this. How comfortable would you be at looking into a PR?

I've completely revamped the build system in the latest branch so hopefully stuff like this doesn't come up once it's ready.

[2020-06-18 09:55] ifiokjr commented on #224
I'll start looking at reimplementing `wysiwyg` editor with the new API next week.   The new controlled editor support is more robust and I've rewritten the positioner to consume the `extension` API.

Hopefully 🤞 it's all fine when I test it.

[2020-06-18 09:57] ifiokjr commented on #118
This may have become more difficult. I've switched over to `pnpm`, which uses  symlinks, for the package manager. I think `create-react-app` struggles with symlinks. Maybe I'll create an examples' repository instead.

[2020-06-18 10:00] ifiokjr commented on #201
I still haven't had a chance to look at this. I'll revisit in the upcoming week.

It may have already been solved. Switching to `pnpm` which doesn't hoist dependencies did shine some light on a whole host of issues.

I've also added some lint rules around the monorepo packages in the `next` branch so things are a lot more robust.

[2020-06-18 10:40] aried3r commented on #201
Thank you for your reply! Sounds good.

I'll have a look at the branch.

[2020-06-18 10:55] ifiokjr commented on #201
Just so you know there are probably other things broken in the branch, but thanks for taking a look. I'm working to get everything ready on the `next` branch.

[2020-06-22 16:25] ronnyroeller opened #317 "jest-prosemirror docu: mention React dependency"
I just figured out that `jest-prosemirror` depends via `@remirror/core-types` on `react`, which isn't really convenient for non-React setups.

It would be great to state the React dependency in the README for `jest-prosemirror`.

PS: I love the idea of `jest-prosemirror`. Thanks for open sourcing!

[2020-06-22 20:22] samuelnunoo commented on #317
Yeah, I'm not just realizing this as i'm getting an error

`  Cannot find module '@emotion/core' from 'react-utils.js'`

[2020-06-22 20:57] ifiokjr commented on #317
Oh yes, this was an oversight on my side. It's been* fixed in the upcoming version which will sit behind a `next` release flag. I can prepare a release soon if you're happy to test it out.

The plan is to eventually move this package into its own separate repository.

[2020-06-24 16:29] ronnyroeller commented on #317
Awesome. Thanks!

[2020-07-01 18:10] ifiokjr commented on #221
Turns out you were right. I've had some problems with `nanoid` in other parts of the code and I've removed it in the `next` branch.

[2020-07-01 18:12] ifiokjr commented on #305
I've removed `map-obj` from the codebase in the `next` branch. So this won't be a problem once the release is made available.

[2020-07-01 18:12] #305 closed

[2020-07-02 05:20] ifiokjr commented on #178
I'm currently addressing these issues in #320 .

[2020-07-03 18:49] pie6k opened #322 "Is it possible to add some reasoning behind coupling remirror with emotion"
First of all, thank you so much!

I've created quite advanced text editor with raw Prosemirror:

![image](https://user-images.githubusercontent.com/7311462/86492326-14b9e200-bd6e-11ea-8428-5fa67f18bb69.png)

but due to fact I'm using React, I've used tons of weird hacks and workaround to integrate it nicely with API that hides those hacks.

With time it became more and more problematic and what ha

[2020-07-03 19:25] ifiokjr commented on #322
`emotion` has been removed from the `next` version. It's now optional `.css` files but you're free to use whatever styling you choose.

[2020-07-03 19:35] pie6k commented on #322
Thanks for quick reply!

Is it possible to play with `next` right now? I have 'free' weekend and would like to try to migrate to it :)

[2020-07-03 19:41] ifiokjr commented on #322
It won't be easy to play with it until it's released. Cloning, and linking is possible but with almost 80 packages, it might get tedious.

I'm hoping to have a release this weekend. Whether that is possible depends on whether I bump into any bugs with the work I'm currently doing.

Thanks for taking a look at `remirror`. I'm really excited for people to start using the `next` version. It's magnitu

[2020-07-03 20:49] pie6k commented on #322
I think I'll try to build it myself. Is there anything undocumented that could be helpful for me to build it ?

[2020-07-04 09:46] pie6k commented on #322
Ok, so I've tried for a moment, was able to build it, but was not sure how to continue from there.

If I'll start using 'old' version - will it be hard to migrate it later on to 'next'?

[2020-07-05 05:37] ifiokjr commented on #322
I didn't see these replies until now.

In the `next` version the best working example is available via the `@remirror/react-social` package. Once the release is available I'll start adding examples to code sandbox and the documentation.

I'd recommend to not use the previous version as a release should be available within an hour. Please note this is the first pre-release so there will be edge cas

[2020-07-05 05:52] #322 closed

[2020-07-05 06:22] pie6k commented on #322
Sounds amazing! I'm checking npm every 2 hours hoping it's released :)

But TBH I don't want to put pressure! Thanks again

I'll share my thoughts

[2020-07-05 07:09] ifiokjr commented on #322
Every push right now is showing me another error with the `release` pipeline. It should be fixed sooon.

![image](https://user-images.githubusercontent.com/1160934/86527468-d53ae500-be96-11ea-8d84-01709e55872d.png)

[2020-07-05 10:41] ifiokjr commented on #322
So after multiple false starts, there's a release available.

[code]

However. I've just realised it completely falls apart when wrapped in `React.StrictMode`. I've got an update coming soon. Just want to change all my tests to use `StrictMode` by default.

[2020-07-05 11:01] ifiokjr commented on #317
@ronnyroeller It took longer than planned but a new version is available with the following.

[code]

[2020-07-05 11:02] #317 closed

[2020-07-05 11:21] pie6k commented on #322
wooohoo!

I'll play with it and let you know!

Amazing work

[2020-07-05 11:30] pie6k commented on #322
I'll post my 'journey journal' here, so this issue might be a bit spammy, but I'll try to describe everything I face

[2020-07-05 11:31] pie6k commented on #322
https://remirror.io/docs/guide/create-editor example has unclosed tags eg. `<Menu>` instead of `<Menu />` which breaks syntax. Took me a moment to find out

[2020-07-05 11:33] pie6k commented on #322
![image](https://user-images.githubusercontent.com/7311462/86531710-d9312c00-bec3-11ea-82de-e29d54bf54d4.png)

Context is untyped (I have probably to create my type-wrapper for context) - to have all commands properly autocompleted.

Typescript magic you've got is amazing, but less experienced devs might be very confused by this.

Maybe it'd be good to create those hooks instead of importing them.

[2020-07-05 11:35] pie6k commented on #322
Ok, I think I've faced a bit blocking one:

![image](https://user-images.githubusercontent.com/7311462/86531767-578dce00-bec4-11ea-8ff3-86cc182ed85c.png)

Seems it's trying to import uncomiled ts files directly

[2020-07-05 11:36] pie6k commented on #322
Oh, it's even different - it's trying to import `'/Users/ifiokjr/Coding/kickjump/remirror/prs/packages/@remirror/pm/src/commands.ts'` which looks like your own home folder on your machine. It's definitively should not be there :P

[2020-07-05 11:44] pie6k commented on #322
So I see this in the file inside node_modules

[code]

I thought I'll try to replace it with my own user folder just to give it a try, but I could to find proper `commands` file there so I gave up :)

Let me know if I can help anyhow

[2020-07-05 13:21] ifiokjr commented on #322
Oh, that's perhaps because you've installed `@remirror/pm@1.0.0-next.0`. Try `@remirror/pm@1.0.0-next.1`. I had some real trouble getting changesets to work and the one time it did work I had missed the build step so had to release again.

The fixed file is here: https://unpkg.com/browse/@remirror/pm@1.0.0-next.1/commands/dist/pm.esm.js

This is the version you're seeing https://unpkg.com/browse/@

[2020-07-05 13:21] ifiokjr commented on #322
By the way, thanks for this. It's really really helpful to have this feedback.

[2020-07-05 13:23] ifiokjr commented on #322
Since I seem to keep missing you, do you want to continue the conversation on our [discord channel](https://discord.com/invite/C4cfrMK). Might be easier to diagnose and fix issues.

[2020-07-05 16:49] hrahimi270 commented on #246
Hi guys.
I'm new to this package.
I'm trying to build an application that has an editor on its pages. I need to fetch data from the server in HTML format and pass it to the editor. Then, the user can edit that data inside the editor and save the changes again in HTML format.
Sorry to explain it like StackOverflow questions type, currently I'm not able to ask it on StackOverflow (:
Now, I build the

[2020-07-05 16:57] pie6k commented on #322
not sure why, but I cannot get verification email from discord and verify my account - and this means I cannot send any message :<

[2020-07-07 01:58] ifiokjr commented on #291
Thinking about this again. It seems possible to just create your context provider that can also be used within the editor. Adding this to `useRemirror` would complicate the types unnecessarily.

[2020-07-07 01:58] #291 closed

[2020-07-07 07:35] DiamondYuan opened #326 "dist file is not correct."
## Description

![image](https://user-images.githubusercontent.com/9692408/86738108-61036b80-c067-11ea-8071-c1b64f404d30.png)

## Checklist

    "@remirror/pm": "^1.0.0-next.0",
    "remirror": "^1.0.0-next.1"

[2020-07-07 08:06] Bertg commented on #255
🎉🎉🎉

Just saw the pre release of v1.0.0...
Wanted to celebrate it!

[2020-07-07 08:34] ifiokjr commented on #326
Yeah there was a problem in the first release. Use `@remirror/pm@1.0.0-next.1`.

[2020-07-07 08:34] #326 closed

[2020-07-07 08:40] ifiokjr commented on #255
Thanks @Bertg 😄  I decided to get out a release to surface a lot more bugs. I'll put together an announcement later this week once I've worked on the `react-wysiwyg` package and updated the playground for general usage.

A lot of the goals have been met, and even more have been amended.

I'll announce all the juicy details later.

[2020-07-07 08:57] ifiokjr commented on #326
@DiamondYuan I'm happy to provide guidance on the discord server https://discord.gg/C4cfrMK

I respond pretty quickly 😄

[2020-07-07 13:16] ifiokjr commented on #246
@hrahimi270 I don't mind taking questions here. In fact, I prefer using this to stack overflow, especially with the incoming discussions feature.

The best way to get started is with the new version.

I don't yet have an example `wysiwyg` but I'm working on it right now. I can give you some guidance if you need. Feel free to join the discord for some real-time discussion, https://discord.gg/C4cfrM

[2020-07-08 04:55] ifiokjr commented on #271
Okay, I remember why it's like this.

It's not possible not to have the nesting in `React` due to this issue https://github.com/facebook/react/issues/12227. Also, it's unlikely that any changes will be made in ProseMirror, which makes a lot of sense https://github.com/ProseMirror/prosemirror/issues/803

NodeViews have a `dom` node which is the top element. For paragraphs this would be the `p` tag

[2020-07-08 05:36] #179 closed

[2020-07-08 15:49] ifiokjr opened #327 "Add range parameter to `commands.insertText`"
## Description

[code]

We could add a second parameter which takes an object of the following shape. If you're interested in a **pr** the relevant code is linked below.

[code]

https://github.com/remirror/remirror/blob/c26fa635a8271e00e1e2b3141695866332156358/packages/%40remirror/core/src/builtins/commands-extension.ts#L161-L169
## Possible Implementation

## Checklist

- [x] I have read the [**

[2020-07-09 17:19] oliver-hoff opened #328 "Cannot create editor"
## Description

Following the instructions at: https://remirror.io/docs/guide/create-editor

I installed the packages:

`yarn add remirror@next @remirror/pm@next`

Whenever I try to run the example to create my own editor, this is the result:

node_modules/@remirror/pm/view/dist/pm.esm.js:15:25: Cannot resolve dependency '/Users/ifiokjr/Coding/kickjump/remirror/prs/packages/@remirror/pm/src/view.t

[2020-07-10 12:33] ifiokjr commented on #328
Try now?

[2020-07-10 12:34] ifiokjr commented on #328
See #326 for the fix

[2020-07-10 12:34] #328 closed

[2020-07-12 16:55] hrahimi270 commented on #246
Thanks, @ifiokjr.
I think I'm using the last version.
But I don't know how to do that.
It would be great if you prepare that example.
I will join the discord and will ask my question there 👍🏻.

[2020-07-12 22:41] ted-mccarthyfinch commented on #255
I'm excited for version 1! I was just wondering if it was a good time to start migrating v0 to v1 (pre-release) and if there was any documentation to help with the process?

[2020-07-14 18:27] tommoor commented on #237
I believe this is broken again on the `@next` version, I get the same error attempting to create a custom extension that extends NodeExtension

[2020-07-14 18:56] ocavue commented on #237
Hi @tommoor . Can you try to add `"browserslist": ["since 2017"]` in your `package.json` and see if there are still problems?

Quota from the [document](https://remirror.io/docs/guide/installation#browser-support):

[2020-07-14 19:32] tommoor commented on #237
No luck with that unfortunately

[2020-07-14 21:06] tommoor commented on #237
Upgrading babel fixed the issue, looks like there is a bug that was fixed in `7.10`
https://github.com/babel/babel/commit/f6c7bf36cec81baaba8c37e572985bb59ca334b1

[2020-07-14 23:12] tommoor commented on #271
Hey @ifiokjr do you have a snippet of how this should be achieved on `next` branch? I have `ReactComponentExtension` in `useManager` and my custom block which extends NodeExtension with a `ReactComponent` attribute, but it seems that method is never called :(

[code]

[2020-07-15 00:29] tommoor opened #336 "ReactComponent extensions do not work in next branch"
## Description

I have created a minimal reproduction repo to show the problem here, https://github.com/tommoor/remirror-custom-blocks

Essentially, adding a custom ReactComponent block to the mix immediately throws prosemirror errors. If I add a `debugger` statement in the render method for the custom block it is never triggered, the custom block does seem to end up in the list of NodeViews provi

[2020-07-15 15:24] ifiokjr commented on #336
Good spot. It's actually odd since the package shouldn't even have been published yet. I need to look at how the release pipeline is publishing packages too early.

Anyway, thanks for flagging this as an issue and providing a thorough reproduction of the issue.

I'll be addressing the problem in #320.

[2020-07-15 15:28] ifiokjr commented on #255
@ted-mccarthyfinch glad to hear you're excited. I'll be putting a starter pack together soon, hopefully tomorrow.

[2020-07-15 15:39] tommoor commented on #336
No problem! I'm evaluating remirror for an internal project, but the current churn makes it hard to jump on board at this time. Do you have an idea of what's causing this? Perhaps I could patch in the meantime.

[2020-07-16 07:28] ocavue opened #338 "[next] expect(...).toEqualRemirrorDocument is not a function"
## Description

After I edit the Jest configuration as below,  `expect(...).toEqualRemirrorDocument` is still undefined.

[code]

## Version

jest-remirror@1.0.0-next.4

## Possible Fix

[code]

Remirror use `setupRemirrorEnvironment` to extend Jest `expect`. However, currently `jest-remirror/environment` doesn't call `setupRemirrorEnvironment` but only *exports* `setupRemirrorEnvironment`. So we

[2020-07-16 07:41] ocavue commented on #338
`jest-prosemirror` should have the same issue.

[2020-07-16 07:54] ocavue commented on #336
Maybe because I merged Changeset's PR? 😅

[2020-07-16 12:26] bart-kneepkens opened #341 "[docs] Usage example uses non existent exports"
I'm trying the guide over at https://remirror.io/docs/guide/installation/, which has the following in the example code:

`import { RemirrorProvider, useManager, useRemirror, useExtensionCreator } from 'remirror/react';`

Upon running this will give the error `Attempted import error: 'useExtensionCreator' is not exported from 'remirror/react'.`, because no such export exists

[2020-07-16 12:30] bart-kneepkens commented on #341
I'd be happy to fix this, btw, if you could add me as an assignee.

[2020-07-16 12:45] ifiokjr commented on #341
Thanks for raising this @bart-kneepkens

I completely forgot to change this when removing `useExtensionCreator()`. The recommended way now to create extensions is by using `new BoldExtension()` or whatever extension is needed.

I'd love a PR by the way.

[2020-07-16 15:33] hennessyevan opened #344 "React Renderer is no longer exported"
## Description

React Renderer is not longer exported in `@next`

## Possible Fix

Export renderers from `@remirror/react/renderers`

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/HEAD/docs/contributing.md) document.

[2020-07-16 17:09] ifiokjr commented on #336
I think this one is on me actually on me by adding the release via `pnpm`. I'm not too sure how to workaround it in the short term.

https://github.com/remirror/remirror/blob/a4c90e7f7976a18aaf69bb6d5a9c84d4354b25d8/.github/workflows/ci.yml#L425-L429

[2020-07-16 17:16] #341 closed

[2020-07-16 17:46] ocavue commented on #336
add `private: true` in `package.json`?

[2020-07-17 02:18] ifiokjr commented on #344
Thanks for raising this. If you're confident creating a PR that would be great otherwise I'll hopefully get to it in the next few days.

[2020-07-17 02:19] ifiokjr commented on #338
Oh good spot. Are you happy to create a PR?

[2020-07-17 05:29] ifiokjr commented on #344
@hennessyevan I had some time, take a look at #348 and let me know your thoughts.

[2020-07-17 10:00] #338 closed

[2020-07-17 10:30] #344 closed

[2020-07-17 12:25] ifiokjr commented on #336
@tommoor I've managed to replicate this by pasting the following into the [playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDCwsROkgFZ3Lv2GcBIqfO3MDExecl5cAFEAD1xQ0hRgh3FA5wVaehwVcmjY+N4VV3MAWgRArBCwjwMg419FdOxGBgA3FH5ybEsycgBZVl5WTnbOimo05USnGVSlDIL3ED0qox98ADlMNqiY3jjgy3W2gHEedEsS3

[2020-07-17 12:59] ifiokjr opened #352 "Social mentions trap the cursor when exiting from the beginning of the word"
## Description

Mentions trap the cursor when arrowing left and right through the mention.

## Possible Fix

The `onExit` handler seems to be triggered when exiting from start of the mention.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/HEAD/docs/contributing.md) document.

## Screenshot

![2020-07-17 13 54 10](https://user-images.githubusercont

[2020-07-17 13:04] ifiokjr opened #353 "Add support for matches with whitespace to `prosemirror-suggest`"
## Description

Space characters seem to remove the matching text from being matched by the plugin.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/master/docs/contributing.md) document.

[2020-07-17 15:28] ifiokjr commented on #336
So I've fixed the initial issue, but another issue has cropped up in it's place. When you delete a custom node view with content the same issue crops up for the same reason.

[2020-07-17 18:49] hennessyevan commented on #344
Works great, thanks @ifiokjr. The new API is fantastic as well. Is there a concept where the renderer loads it's mark/type map from the extensions themselves?

[2020-07-18 05:07] ifiokjr opened #357 "Migrating from 0.x to 1.x"
I'm excited for version 1! I was just wondering if it was a good time to start migrating v0 to v1 (pre-release) and if there was any documentation to help with the process?

_Originally posted by @ted-mccarthyfinch in https://github.com/remirror/remirror/issues/255#issuecomment-657285855_

[2020-07-18 05:07] #357 closed

[2020-07-18 05:22] ifiokjr commented on #201
I'll close this once I have a working example of the new `@remirror/react-wysiwyg`.

[2020-07-18 06:13] ifiokjr opened #358 "Duplication in helper methods with CommonJS and ESM build output"
## Description

The bundle is being bloated by repeated helper functions throughout the build. An example can be found [here](https://unpkg.com/browse/@remirror/core@1.0.0-next.4/dist/core.esm.js).

The following are duplicated multiple times.

- `_createForOfIteratorHelper`
- `_unsupportedIterableToArray`
- `_arrayLikeToArray`
- `_objectSpread`

## Possible Fix

I need to first understand what's

[2020-07-20 21:18] tommoor commented on #336
I think It's fair to count this as fixed now 👍

[2020-07-20 21:22] tommoor opened #364 "usePositioner does not work with controlled editor"
## Description

I have created a minimal reproduction repo to show the problem here, https://github.com/tommoor/remirror-custom-blocks/tree/use-positioner (branch = `use-positioner`)

The yarn.lock was created minutes ago, should have all the latest copies of remirror/babel etc.

## To reproduce

- `git clone git@github.com:tommoor/remirror-custom-blocks.git`
- `git checkout use-positioner`
- `yar

[2020-07-21 02:30] ifiokjr opened #365 "`previousState` and `state` always identical for controlled editor"
## Description

The previous state is always equal to the next state for controlled editors. This causes functionality like positioners to stop working in a controlled environment.

See #364

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/HEAD/docs/contributing.md) document.

[2020-07-21 02:43] ifiokjr commented on #364
Thanks again for a clearly written issue.

This actually looks like it's a problem with controlled editors. The previous state is always identical to the current state. I should have a fix ready soon but meanwhile, if you're happy with a workaround take a look at https://github.com/tommoor/remirror-custom-blocks/pull/2.

Since `previousState === state` is always equal to true, the default `hasChan

[2020-07-21 02:44] tommoor commented on #364
A hacky solution is fine for now, many thanks

[2020-07-21 02:45] ifiokjr commented on #364
I've created a new issue #365 which will track this, so I'll close this issue once you've verified that the hack works.

[2020-07-21 05:47] #364 closed

[2020-07-21 05:47] #365 closed

[2020-07-21 11:35] ifiokjr commented on #336
I think I'll leave it open till I've documented how to get do it.

I also want to take a look at inline content again later this week.

[2020-07-21 13:42] #352 closed

[2020-07-21 23:15] tommoor opened #370 "new ReactPreset is called every render (@next)"
## Description

On the `next` branch `new ReactPreset()` is called every render, this causes extensions to be instantiated every time a key is pressed in the editor.

There are no obvious problems that this creates other than making debugging more difficult and a hit on performance that will become noticeable as the number of extensions increases.

You can see this problem in action by putting a b

[2020-07-22 03:27] ifiokjr commented on #246
This has largely been fixed in the `next` version. If there are bugs in the implementation please open another issue.

https://remirror.io/docs/concepts/react-controlled-editor

[2020-07-22 03:27] #246 closed

[2020-07-23 07:12] ronnyroeller opened #371 "useRemirror:onChange callback isn't called in StrictMode"
## Description

I'm setting up a remirror editor with the `onChange` callback to capture the active state of the commands as explained in the [Usage example](https://remirror.io/docs/guide/create-editor/):
[code]

The `onChange` callback is correctly called if the editor element isn't placed within `<React.StrictMode>`. Yet, running it in StrictMode stops the callback from being called.

Reproduct

[2020-07-23 09:30] ronnyroeller opened #372 "commands.XXX.isEnabled returns old value in useRemirror:onChange()"
## Description

I'm setting up a remirror editor with the `onChange` callback to capture the enabled state of the commands:
[code]

This won't disabled the commands when the user took the action (e.g. disable heading when a block was changed to a list) but only during the next call of `onChange`.

Reproduction case: https://codesandbox.io/s/peaceful-wiles-mwbq2?fontsize=14&hidenavigation=1&theme=d

[2020-07-23 15:13] ifiokjr commented on #372
@ronnyroeller Good spot. I've got a local fix. I was using the wrong event handler which was called before the state had actually been updated. As a result the checks are always one update behind and is the reason that `setImmediate()` was working.

I'll push the changes in an hour or so.

[2020-07-23 19:36] #371 closed

[2020-07-23 19:36] #372 closed

[2020-07-23 21:06] ronnyroeller commented on #372
👏  Great solution! Thanks

[2020-07-24 19:08] timc1 opened #379 "active.heading({ level }) should return the active state of the specific heading level"
## Description

We'd ideally should be able to check a heading's active state by doing something like:

[code]

Currently, it seems as if we can only check whether _any_ header is active by using `active.heading()`.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/HEAD/docs/contributing.md) document.

[2020-07-25 03:54] ifiokjr commented on #379
**[Playground Link](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+AAS5Kz8KLycy-trXhk+2Up5AytDABa3e6Pc5GUL4AAyKFIuEYCgoBHW3S2OR26Dh

[2020-07-25 05:48] #379 closed

[2020-07-25 14:31] #370 closed

[2020-07-25 15:33] timc1 opened #381 "DropCursorExtension - Cannot read property 'nodeType' of undefined"
## Description

**[Example playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+AAS5Kz8KLycy-trXhk+2Up5AytDABa3e6Pc5GUL4AAiDH

[2020-07-26 04:10] ifiokjr commented on #381
Thanks for raising this as an issue. I'll look into why it's happening.

[2020-07-26 05:27] timc1 commented on #381
Thank you! 🙌

[2020-07-26 09:48] #293 closed

[2020-07-26 10:00] #277 closed

[2020-07-26 11:25] #272 closed

[2020-07-26 11:27] #203 closed

[2020-07-26 14:43] ifiokjr commented on #371
Forgot to say, thanks for opening this issue. I appreciate the effort that goes into it and it makes the codebase so much better.

[2020-07-26 14:46] ifiokjr commented on #370
Dropping by to say thanks for opening this issue. Let me know if it hasn't fixed it fully.

The fix was to wrap the instantiation of the extensions in a function call to prevent them being re-instantiated on every render.

Much better!

[2020-07-26 14:54] ifiokjr commented on #202
Thanks for opening this issue. It hasn't been fixed but it has been removed.

I'll create a working advanced example later. For now, the [playground](https://remirror.io/playground) should suffice.

[2020-07-26 14:54] #202 closed

[2020-07-26 14:55] ifiokjr commented on #222
Just letting you know that this is something I really want to see available for `remirror`. I'll start on it next week.

[2020-07-26 17:40] ifiokjr commented on #336
**[Playground Link](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDCwsROkgFZ3Lv2GcBIqfO3MDExecl5cAFEAD1xQ0hRgh3FA5wVaehwVcmjY+N4VV3MAWgRArBCwjwMg419FdOxGBgA3FH5ybEsycgBZVl5WTnbOimo05USnGVSlDIL3ED0qox98ADlMNqiY3jjgy3W2gHEedEsS3ib23ACwMD7BESTJKbrlFRKFSq8a-ApcACFmJgEABrAAq7HQ5AmyRk8leGXQYHegTuAl

[2020-07-26 17:40] #336 closed

[2020-07-27 16:31] timc1 opened #383 "ImageExtension – dropped number of images do not match actual amount displayed"
## Description

**[Playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+AAS5Kz8KLycy-trXhk+2Up5AytDABa3e6Pc5GUL4epgVicJZ7VZdd

[2020-07-27 18:17] ifiokjr commented on #383
Good spot! Do you think you could take a crack at it?

[2020-07-27 19:12] timc1 opened #384 "HeadingExtension – extra dom attributes should be passed down to headings"
## Description

While trying to add a unique `id` to each node, I noticed that the attribute was not being added when inspecting the DOM.

## Possible Fix

Looks like `extra.dom(node)` should be passed down to `HeadingExtension`'s `createNodeSpec.toDOM` [here](https://github.com/remirror/remirror/blob/857fd4ddc13b151ea9983cb965452cf35bf1eb81/packages/%40remirror/extension-heading/src/heading-exten

[2020-07-27 19:13] timc1 opened #385 "Active state for headings not working when there are additional attributes"
## Description

This might be what caused my issue with #379 🤔

I have an extension which appends a unique id to top-level blocks, something like:

[code]

At this point, when triggering the menu for `<h1 id="unique-id-1>Hello!</h1>`, the active state for H1 is false.

It looks like [`isNodeActive`](https://github.com/remirror/remirror/blob/9dafc29cc7a70ec1c9e5cbd19091f27e20d7b035/packages/%40remi

[2020-07-27 19:20] timc1 commented on #383
@ifiokjr for sure! I'll most likely be able to help after work hours 👍

[2020-07-27 19:25] tommoor commented on #385
This is default behavior or prosemirror's `hasMarkup` method, to do a deep comparison:
https://github.com/ProseMirror/prosemirror-model/blob/0a1decebf98c4c3cb4926b848d569ce4b7dfa2ff/src/node.js#L131-L135

Definitely unworkable for this usecase of unique ID's though 🤔

[2020-07-27 19:51] ifiokjr commented on #384
Oh, that's true. It also needs to receive `extra.parse(dom)` so that it can parse the attributes from the document.

[2020-07-27 20:21] ifiokjr commented on #385
Thanks for opening this. Based on your comment @tommoor, I've come up with a possible fix outlined in #386

[2020-07-27 21:07] ifiokjr opened #387 "Support dynamic attributes for nodes and marks"
## Description

**EDIT**: I want to make this more generic. The `ExtraAttributes` prop should support generating dynamic attribute. This is less code and saves us from yet another extension to maintain.

This can be used to add a unique id to each node or create a fresh hash of the content whenever the node is updated.

[code]

The above will replace the default attribute for both `hash` and `id`

[2020-07-27 22:05] #385 closed

[2020-07-28 05:07] ifiokjr opened #389 "Add ability to check for changes in API"
## Description

Currently, when changes are made to the API it's up to the user who made the changes to manually check what has changed and write a changeset.

[`@microsoft/api-extractor`](https://api-extractor.com/pages/overview/intro/) is able automatically check for changes to the type declarations and highlight what api changes have been made.

This should be added as a check on CI so that a b

[2020-07-28 05:17] ifiokjr opened #390 "Setup `Documentation & Publicity` project"
## Description

One area that `remirror` falls short, is with inadequate documentation. It's a personal failing of mine and I've found writing particularly difficult of late.

If there are any contributors who would like to help in this area, please reach out on the [discord channel](https://discord.gg/C4cfrMK) or reply to this issue. Your contributions and willingness to participate will be appre

[2020-07-28 05:58] ifiokjr opened #392 "Configure static extension properties with decorators"
## Description

Adding `defaultOptions` or a `defaultPriority` to extensions requires the use of static properties.

[code]

This requires a lot of knowledge on what static properties are meaningful. It also doesn't offer any support via TypeScript.

It also is complicated when configuring extensions which can use `Handler`, `Static` and `CustomHandler` options. Each of these requires a static pro

[2020-07-28 08:52] ronnyroeller opened #393 "Readme refers to non-existant preset-formatting"
## Description

Various points of the documentation refer to a preset "formatting", which doesn't seem to exists:
- https://github.com/remirror/remirror/tree/next/packages/%40remirror/extension-auto-link#alternatives
- https://github.com/remirror/remirror/tree/next/packages/%40remirror/extension-bold#alternatives
- https://github.com/remirror/remirror/tree/next/packages/%40remirror/extension-parag

[2020-07-28 08:56] ifiokjr opened #394 "Create new package `@remirror/react-hooks` for all core hooks"
## Description

It's already possible to consume hooks with `useExtension`.

[code]

The problem is that this leaves all the work to you, the developer. It's up to you to figure out how to wire things up.

To make getting started easier I want to create a new hooks package with the following hooks available from the start.

- [ ] `usePositioner` - for finding the exact position and displaying over

[2020-07-28 08:59] ifiokjr commented on #393
Thanks @ronnyroeller, good spot. Would you be able to open a PR to remove these occurrences?

[2020-07-28 09:46] ronnyroeller opened #396 "preset-react-checkbox isn't published"
## Description

The [readme of preset-react-checkbox](https://github.com/remirror/remirror/tree/next/packages/%40remirror/preset-react-checkbox#installation) stats that the preset can be installed via `npm install @remirror/preset-react-checkbox`.

Yet, executing this command leads to:
[code]

The package is indeed unknown in npmjs: https://www.npmjs.com/package/@remirror/preset-react-checkbox

##

[2020-07-28 09:50] ronnyroeller commented on #396
OK - my bad. The preset/extension isn't implemented so far. Makes sense to not have it published.

[2020-07-28 09:50] #396 closed

[2020-07-28 10:38] #393 closed

[2020-07-28 15:38] #392 closed

[2020-07-28 16:19] ifiokjr commented on #381
I've decided to simplify the drop cursor extension for now by using the `prosemirror-dropcursor` plugin. The issue is fixed as a result in #398.

[2020-07-28 16:20] #381 closed

[2020-07-28 16:22] timc1 commented on #381
💯

[2020-07-29 01:24] ifiokjr opened #401 "Add support for multiple positions with `Positioner`'s"
### Description

- [x] Add support for [`@popperjs/core@2.x` virtual elements](https://popper.js.org/docs/v2/virtual-elements/).
- [x] Allow positioners to respond to scroll events.
- [x] Add support for multiple positions.

[2020-07-29 01:27] ifiokjr opened #402 "Add support for creating mentions as uneditable nodes"
### Description

Right now mentions are always editable. This issue is for adding a new non-editable atom mention. Non-editable mentions are not fully editable.

- [ ] Create a new `@remirror/extension-mention-atom` package.

[2020-07-29 03:34] emilschutte opened #403 "Consider allowing the EmojiExtension suggestion popup to appear after just the leading colon is typed"
## Description

(May not be a bug but just a design choice.)

I'd like the `EmojiExtension` to show the popup as soon as I type a single colon `:`. Right now it doesn't appear until I type a letter after the colon.

The emoji list is not super useful with no letters typed unless you show recently-used first, but somehow I still prefer the feel of it showing me a popup as soon as I type the colon.

[2020-07-29 06:10] ifiokjr commented on #403
Thanks for opening this issue. The update should be live in less than an hour.

[2020-07-29 06:11] #403 closed

[2020-07-29 06:39] shakti64 commented on #390
Hi im interested to contribute to this documentation project as I am recently done a certification and working also as a API writer in Singapore. If interested can discuss more on the project.

[2020-07-29 09:13] ifiokjr opened #406 "Remove use of `export *` for better tree shaking"
## Description

Looking at [bundlephobia](https://bundlephobia.com/result?p=@remirror/core-helpers@1.0.0-next.13) it seems as though any import from the remirror codebase results in importing the whole library.

I suspect it might be the over zealous usage of `export *`.

- [x] Remove all package boundary `export *` statement and replace with named exports.

## Checklist

- [x] I have read the [**

[2020-07-29 11:23] ifiokjr commented on #390
@shakti64 are you able to join the [discord channel](https://discord.gg/C4cfrMK)?

[2020-07-29 13:51] ifiokjr commented on #403
Looks like emojis are matching mid word.

[2020-07-29 14:12] ifiokjr opened #407 "Improve playground loading screen and styles"
## Description

@benjie has been doing really cool work on the [playground](http://localhost:3001/playground). It's got to the point where we've started to care about how it looks.

This task is for anyone who enjoys that kind of thing.

- [ ] Style the loading screen.
- [ ] Fix the width on larger screens (white edges).
- [ ] _OPTIONAL_ - Give the rendered editor better default styles.

I'm avail

[2020-07-29 16:55] ocavue opened #408 "Allow user to exclude some extension when creating `CorePreset`"
## Description

In a previous PR, `GapCursorExtension` was been added to `CoreExtension`, which make one of my test case failed. In this case, I use `add().fire({ event: "click", position: 2 })` to simulate a click, and this event is catched by `GapCursorExtension`. `GapCursorExtension` uses `elementFromPoint`, which is not implemented by `JSDOM`, so an error is throwed.

The error stack is as bel

[2020-07-30 02:41] ifiokjr commented on #408
That sounds like a good solution.

[2020-07-30 03:12] ocavue commented on #408
ok. I will submit a PR for this.

[2020-07-30 03:22] ifiokjr opened #409 "Switch to using workspace ranges"
## Description

There's a problem with workspace installations. If a newer version of the workspace package is found, `pnpm` defaults to using the `npm` registry instead.

I opened an [issue](https://github.com/pnpm/pnpm/issues/2725#issuecomment-665512775) and the solution is to use [workspace ranges](https://pnpm.js.org/en/workspaces#workspace-ranges-workspace).

There's one problem; `manypkg fix

[2020-07-30 14:32] #408 closed

[2020-07-30 14:46] ifiokjr commented on #408
Thanks for the PR. I'm now wondering if this could be generalised so that all presets support it. Similar to how all extension support some base options.

It might lose the type support though.

[2020-07-30 15:21] ocavue commented on #408
This may be overdesign. For two reason:

Firstly, we don't necessarily need this option for other presets.

`CorePreset` is special. The framework may force users to use `CorePreset` and may not allow users to use the inheritance of `CorePreset`. `jest-remirror` is an example for this case: it creates a `CorePreset` object implicitly so I have not an easy way to remove `GapCursorExtension`.

But o

[2020-07-30 15:49] ifiokjr opened #416 "Trailing node extension not adding trailing nodes in the playground"
## Description

There is no trailing node created even when turned on.

## Possible Fix

Debug and see why this isn't working on the playground and see if it doesn't work in general.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/HEAD/docs/contributing.md) document.

## Screenshots

![2020-07-30 16 46 12](https://user-images.githubusercontent.com/

[2020-07-30 15:52] timc1 opened #417 "HorizontalRuleExtension – cursor should be placed below the created node"
## Description

**[Playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+AAS5Kz8KLycy-trXhk+2Up5AytDABa3e6Pc5GUL4AAyKFIuEYCgoB

[2020-07-30 15:56] ifiokjr commented on #417
Thanks for opening the issue. I'll take a look at this later today.

[2020-07-30 16:07] timc1 opened #418 "Calling multiple commands only registers the last command"
## Description

**[Playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDCwsROkgFZ3Lv2GcBItVr0mBgA3FH5ybEsycgBZVl5WTnDIij8lHAdxTEkZBX9lFVdzDwMMbysAIUxmfgBRAA9ccl5SFExeDKccxQDVcgamlraVACMq-mKvYyIACRwUAC823FZmSmJmcnrG5tb2kUzsl278vu3B3hUACznF3mXmAFpsdfIZfX0ENtICGoANABUagA5ADKAEkAPKg-AAXnwAG

[2020-07-30 17:04] ifiokjr commented on #418
Wow, this is a bad bug to have. It's definitely **high priority**.

[2020-07-30 21:29] #417 closed

[2020-07-31 05:02] ifiokjr commented on #418
So, it was in fact to do with the controlled editor.

### Explanation

Commands use the current state stored on `view.state` to dispatch transactions and create a new state. In most editors this is fine since once dispatched the state is updated synchronously. With **controlled** editors there's delay between the `view.dispatch` and the state being updated.

When attempting to synchronously run mu

[2020-07-31 06:01] ifiokjr commented on #416
This seems to have fixed itself automagically.

![2020-07-31 07 00 16](https://user-images.githubusercontent.com/1160934/89005127-9e23ec00-d2fb-11ea-8f43-7780b6cabb81.gif)

[2020-07-31 06:01] #416 closed

[2020-07-31 06:37] #418 closed

[2020-07-31 09:24] ifiokjr opened #426 "Provide error handling of invalid content for current schema"
### Description

Sometimes the content that is passed into the editor is invalid.

Maybe you've removed a node or mark extension from the manager since the content was created. If the content passed includes the invalid types ProseMirror throws an error.  At the moment when this happens the editor catches the error and overwrites the content with a fallback content. In essence, it overwrites every

[2020-08-01 06:24] ifiokjr opened #434 "Add new cla-assistant github action"
## Description

https://github.com/cla-assistant/github-action

I want to trial it out to ensure it doesn't create friction for first time contributors.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/master/docs/contributing.md) document.

[2020-08-01 06:51] ifiokjr commented on #434
Added via the [web UI](https://cla-assistant.io/). Hope it's good.

[2020-08-01 06:51] #434 closed

[2020-08-01 14:11] ifiokjr opened #435 "Use exact versions for remirror package dependencies and peerDepedencies"
## Description

Use exact versions while using `next` tag for pre-release versions.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror/blob/master/docs/contributing.md) document.

[2020-08-01 20:30] #384 closed

[2020-08-01 20:30] #406 closed

[2020-08-01 20:30] #435 closed

[2020-08-01 21:55] soullpoint opened #438 "Vue Support"
## Description

You mention that this is intended to be a cross platform solution, with Angular support to come; I was wondering if there are any plans to support Vue?

In either case, would you happen to have any documentation / be able to provide some direction for someone who would like to use your library in a Vue based project?

Thanks!

[2020-08-02 01:54] #438 closed

[2020-08-02 08:00] ifiokjr commented on #406
For anyone looking at this. In the end this change had zero impact on the overall bundle size. Tree shaking works with both `export *` and `export { Named }`

[2020-08-02 16:31] timc1 opened #441 "v1.0.0-next.16 – PositionerExtension broken from Positioner not exported"
## Description

The latest next.16 release exports `Positioner` as a type, whereas it should be exported as a module. This breaks the newly updated `extension-positioner`.

Also as a followup, default tests should probably always import from the root of the package to reflect how it would actually be used.

## Checklist

- [x] I have read the [**contributing**](https://github.com/remirror/remirror

[2020-08-02 17:50] ifiokjr commented on #441
Thanks for raising. I've got a fix ready and will push it up in a few minutes. There should be a new release at some point in the next few hours.

[2020-08-02 22:08] #441 closed

[2020-08-03 04:08] denisnazarov opened #444 "Exporting document to markdown"
## Description
Thanks for making this library.

I am trying to export a document from a remirror editor to markdown. I am accessing `view.state.doc` and trying to serialize it with Prosemirror's default markdown serializer.

https://github.com/prosemirror/prosemirror-markdown

The serializer works, except that it throws an error if the element I'm trying to serialize is an ordered list (among othe

[2020-08-03 04:23] #444 closed

[2020-08-04 10:39] ronnyroeller opened #448 "Emoji overlap with following character (Chrome)"
## Description

I'm using the EmojiExtension. The character typed after the emoji is overlaying the emoji.

This can be reproduced with the [social showcase](https://remirror.io/docs/showcase/social):
![image](https://user-images.githubusercontent.com/9339055/89284220-baeb5700-d64e-11ea-81ed-ff4a2cad71d8.png)

I see this behavior with:
- Chrome Version 84.0.4147.105 (Official Build) (64-bit)
- Chr

[2020-08-04 14:10] ifiokjr commented on #448
Does the behaviour only happen when using the emoji extension insert? What if you paste emoji from elsewhere?

[2020-08-04 15:09] ronnyroeller commented on #448
Indeed, the same issue occurs when pasting the emoji into the editor.
It does work though with other editors, e.g. Gmail with same browser:
![image](https://user-images.githubusercontent.com/9339055/89310521-1af4f400-d675-11ea-890e-12703454fd96.png)

[2020-08-04 15:15] ronnyroeller commented on #448
It also looks OK in the Prosemirror sample on https://prosemirror.net/:
![image](https://user-images.githubusercontent.com/9339055/89311308-1ed54600-d676-11ea-8037-2205ed66397c.png)

[2020-08-05 18:48] timc1 opened #450 "ImageExtension – clicking between two images within a few ms causes one to override the other"
## Description

**[Playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+PVgrJxLe6tdGT7ZSnkDK0Not2cgejVGUL4AAS5FY-BQvE4y32ay8z

[2020-08-06 13:55] Bertg commented on #448
What an issue, but I think I found it. It seems to be related to Retina displays, and how Chrome handles this.

How to reproduce: (YMMV)

* Have a Macintosh with retina display, running the latest macOS and Chrome versions
* Have a non retina display attached to said Mac
* Open the above Social example and enter the provided text
* Be mazed how the issue disappears on the Retina screen, but persis

[2020-08-06 19:24] ifiokjr commented on #450
Thanks for raising this. Taking a quick glance at the image extension code, the cause isn't immediately obvious.

[2020-08-07 14:16] timc1 opened #451 "HorizontalRuleExtension – unnecessary extra lines"
## Description

**[Playground](https://remirror.io/playground/#o/N4IgtiBcCMA0IGMogJZgA4HsBOAXABMPgK4DOApgErlgrbY4AKANgIYCeA5g8QHYAm+AL74AZgzD4AOiAAC2GnQbYA9OjZceAmQG4pvNFjz5qrBLliF8AMQDClsuQDKuVrnLCxE6SAVncuvqGOAREAEKYzPwAogAe7rykKJi8nuKYkjIKtPQ4KuTx5InJvCoARpH8gQYYIVYAkq7MKAhxCUkpad5ZirmqBe0lKihNLdXBxkQAqgLk2M285G1FHaki6Zm+vcr5hcUpKnz8cwvk47WT+AAS5Kz8KLycy-trXhk+2Up5AytDABa3e6Pc5GULXHAoABeKSalGIz

[2020-08-08 10:09] ifiokjr commented on #450
@timc1 I can't seem to replicate, could you paste the `JSON` from the playground text area here?

[2020-08-08 22:15] timc1 commented on #450
@ifiokjr you just need to click between the two images quickly – sometimes a few tries.

Here's the `JSON` when broken:
[code]

[2020-08-10 10:20] ifiokjr commented on #448
Thanks @Bertg for the informative breakdown. Even with a non-retina screen attached I haven't been able to replicate on my machine.

@ronnyroeller does this sound reasonable to you?

[2020-08-10 10:26] ronnyroeller commented on #448
Sure - it's not the biggest issue in the world. So, closing as "not too relevant" is fine with me.

PS: I'm not convinced that this can be fully explained by retina vs non-retina display. The example on prosemirror.net works for me on Chrome + non-retina display whereas the remirror social editor doesn't with the same setup. Hence, I'd expect something else going on as well.

[2020-08-10 10:44] Bertg commented on #448
@ronnyroeller For prosemirror.net the effect is less pronounced. The effect that I see in my setup is that the space between the Emoji and the first character widens when I move the window from standard to retina display, there is no overlap ever.

So I guess some CSS attribute is exaggerating the chrome behaviour in remirror. I have not been able to find what CSS attribute is doing it exactly.

[2020-08-11 02:42] ifiokjr opened #452 "Create `Menu` component"
### Description

Create a menu that can be placed at the top of the editor to provide the UI for commands in the editor.

The menu should be extendable with a config for

- commands
- svg icons
- dropdowns

[2020-08-11 02:43] ifiokjr opened #453 "Create floating menu components"
### Description

Floating menu components include.

- Bubble menu on selection (with positioner API)
- Bubble menu on selection (with popperjs)
- Inline menu (for showing menu at the start of the line).

[2020-08-11 03:33] ifiokjr opened #454 "Create remirror sponsorship tiers"
### Description

Decide on new `remirror` specific sponsorship levels for companies and the service level for each sponsorship level.

[2020-08-11 03:33] ifiokjr opened #455 "Add prebuilt editors to the playground"
### Description

When working with the playground you should be able to select 3 different types of editor.

- [ ] A social editor without immediate UI but with basic formatting, dropdown mentions and dropdown actions.
- [ ] A basic editor with a top menu and some formatting.
- [ ] A full WYSIWYG editor with everything included.

**Requires:** #452 #453 #407

[2020-08-11 03:33] ifiokjr opened #456 "Improve `@remirror/extension-image`"
### Description

The current implementation of the image is buggy (#450, #383) and lacking features (#209).

This issue should the following

 - [ ] Fix current bugs
- [ ] Switch to using `figure` instead of `img` tag
- [ ] Add support for `svg` and `gif`
- [ ] Add editable captions
- [ ] Support formatting

[2020-08-11 03:33] ifiokjr opened #457 "Add example `with-backend`"
### Description

Show how the editor can be used with a backend for storing data and persisting images and working with collaboration.

[2020-08-11 08:24] #227 closed

[2020-08-11 08:24] #222 closed

[2020-08-11 08:25] #76 closed

[2020-08-11 11:21] ifiokjr opened #459 "Support expected triple click behaviour in editor"
### Description

Right now the triple click works in the browser but dragging doesn't do what is expected. The issue is outlined [here](https://github.com/ProseMirror/prosemirror/issues/965#issuecomment-633453540).

Since the behaviour is unexpected it makes sense to address it before the `next` release.

[2020-08-11 12:30] ifiokjr opened #460 "Create manager with custom schema"
### Description

Inspired by @fubhy in #272.

There should be an option when creating a manager, `schema`, which is passed a custom `Schema` and when provided is used  to bypass the default extension schema creation.

This is an advanced feature and will probably not be needed by the vast majority of users.

[2020-08-11 13:58] ifiokjr opened #461 "Setup `remirror@1.0.0` project"
## Description

Create the project for tracking progress on the `next` version of remirror.

- [x] Create the project.
- [x] Add existing issues to the project.
- [x] Create new issues from the roadmap project.
- [x] Create a markdown document describing how the project will be used [here](https://remirror.io/projects/next).

[2020-08-11 15:05] ifiokjr opened #462 "Add support for schema migrations"
### Description

Add support for schema migrations. A schema migration stores the current `version` of the schema on the root `doc` node. When the content is loaded into a new editor the doc node `version` is checked. If the `version`'s are equal then the content remains unchanged. If the version of the doc is less than the current `version` of the schema then all the relevant migrations are run.

[2020-08-11 16:08] ifiokjr opened #463 "Support adding extra attributes selected by `tags`"
### Description

Currently, it's possible to add `extraAttributes` when creating the manager.

[code]

The identifiers can be set to the values 'nodes' to match all nodes, `marks` to match all marks, `all` to match everything or the names of the specific nodes / marks to use. `string[]`.

There is another primitive `Tags`. Supporting tags will allow setting extra attributes for a specific sub sele

[2020-08-11 16:15] ifiokjr opened #464 "Add labels to issues created by sponsors"
### Description

Use this [action](https://github.com/JasonEtco/is-sponsor-label-action) to automatically label any issue opened by a sponsor.

[2020-08-11 17:24] ifiokjr opened #465 "Support extending the `ExtensionTag` enum"
### Description

Currently, the `ExtensionTag` is exported as an enum and as such it can't be changed. This means that tags are limited to what's been defined by the core remirror libraries.

But what if you want to create your own custom tags with built in type checking?

I think it would be good to export the `ExtensionTag` as a frozen object so all the values are `readonly` in development. Alon

[2020-08-11 20:38] ifiokjr commented on #178
Closing as a duplicate of #452 and #453.

[2020-08-11 20:38] #178 closed

[2020-08-11 23:18] ifiokjr opened #466 "Add redirect from `remirror.io/projects` to GitHub projects"
### Description

To make the projects and roadmap more visible, links should be added to the documentation site.

- [ ] `https://remirror.io/projects` should redirect to `https://github.com/orgs/remirror/projects`
- [ ] `https://remirror.io/projects/next` should redirect to `https://github.com/orgs/remirror/projects/1`
- [ ] `https://remirror.io/projects/roadmap` should redirect to `https://github

[2020-08-11 23:38] ifiokjr opened #467 "Use Playground for live code editor in docs"
### Description

Currently, when creating a code block in the documentation it can be made editable. In this state it defaults to using docusaurus' `react-live` component.

There are many benefits to using the playground as the editor. It supports both JavaScript and Typescript and allows for more natural editing of the code.

### Tasks

- [ ] Modularise the playground editor into 4 sections: code

[2020-08-11 23:41] ifiokjr opened #468 "Add better SSR support to the playground"
### Description

Currently, the playground takes a long time to load even though the content can immediately be taken from the URL. It would be useful if it could display content immediately while the JS is initializing.

[2020-08-12 01:49] ifiokjr opened #469 "Make lazy extension creation the default"
### Description

The current recommended way of creating extension in the docs (globally) will cause issues with toggling.

[code]

Will actually cause a few problems since the same extension is used for both editors.

To fix the issue you can use a lazy function call to create the extension.

[code]

It makes sense to make this second way the recommended and default way. This will require changes

[2020-08-12 06:34] ifiokjr opened #470 "Setup **Internal Roadmap** project."
### Description

The roadmap will be used to track what's being work on each week for the rest of the month and then what's planned for the next 3 months.

- [x] Add weekly columns from Sunday - Saturday. They should continue until the last Saturday of the month.
- [x] Add proceeding monthly columns starting from the first Sunday of September through to the last Saturday December.

[2020-08-12 06:56] ifiokjr opened #471 "Set up pre-publish e2e test with verdaccio"
### Description

Use [verdaccio](https://verdaccio.org/) to prevent deployment errors caused by forgetting to bump a package or add a changeset.

- [ ] run `pnpm publish --dry-run` to check the packages that have changed and will be deployed.
- [ ] start verdaccio and make it the default npm registry for the duration of the action.
- [ ] build the project and deploy only the packages which have ch

[2020-08-12 06:57] ifiokjr opened #472 "Move `prosemirror-suggest` to a seperate repository"
### Description

`prosemirror-suggest` was always meant to be a standalone project.

It should be moved into a new repository which lives under the **remirror** organisation.

I'm still unsure over whether this should be a single package repo called `remirror/prosemirror-suggest` or whether I should create a `remirror/prosemirror` monorepo with scope for adding more `prosemirror` specific packages

[2020-08-12 07:04] ifiokjr opened #473 "Create open collective for `remirror`"
### Description

Potentially a new source of project funding.

[2020-08-12 07:44] ifiokjr opened #474 "Create a `release` workflow"
### Description

Move the releases from the current `.github/workflows/ci.yml` into a file and let it be triggered on [`workflow_run`](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run) events when all the tests have passed for the latest push.

Something like this should do the trick.

[code]

The action should then respond collect the release information fro

[2020-08-12 07:47] ifiokjr opened #475 "Create blog post detailing the features available in next"
### Description

So far, there has been no official announcement about the `next` release.

- [ ] Add a blog post to show what's available in the new version.

The key things to include will be:

- The new playground.
- Highlight the new API built with hooks.
- Changes in assumptions around classes and extensions.
- Cross framework support.
- Improved project governance and project management.
- I

[2020-08-12 07:55] ifiokjr opened #476 "Create `0.x` branch"
### Description

The current main branch should be used to create a `0.x` branch which can be maintained for urgent bug fixes.

**EDIT**: Remove the tag tiny because there's actually a few steps I didn't foresee.

- [x] Create the `0.x` branch from current `main`
- [ ] ~Update CI tools and actions for the branch to support fully automated publishing.~
- [ ] ~Switch package manager to using `pnpm`.

[2020-08-12 08:03] ifiokjr opened #477 "Support editable and non-editable sections in the editor"
### Description

Explore the idea of having sections of the editor be editable based on certain criteria.

The main reason for this is to enable collaborative editing but allow users to lock certain content, or unlock certain content.

The extension will probably need to provide some sort of state similar to the annotation extension which is stored separately from the document. This state determin

[2020-08-12 08:05] ifiokjr opened #478 "Autorelease tags with changelog from changesets"
### Description

When a release has been made via `pnpm publish` extract the names of the packages that were released.

- Only apply this to the top-level packages
 - `remirror`
 - `multishift`
 - `prosemirror-suggest`
 - `jest-remirror`
 - `jest-prosemirror`

- The tag for remirror is just `v1.X.X`
- The tag for the other packages will be `[NAME]@1.X.X` e.g. `jest-remirror@1.0.0-next.29`
- Get th

[2020-08-12 08:10] ifiokjr opened #479 "Add support for content in `@remirror/extension-react-component`"
### Description

Currently, the `ReactComponentExtension` only supports nodes without any content.

Add support for nodes with content.

This might require dropping support for React context within components.

This is related to #271

[2020-08-12 08:11] ifiokjr commented on #271
I'm closing this in favour of #479

[2020-08-12 08:11] #271 closed

[2020-08-12 08:14] ifiokjr opened #480 "Enable excluding `Extension` by name or constructor from `Preset`"
### Description

Similar to the default extension options, `Preset`'s should have a default option (available to all presets) for excluding extensions by name or type.

This builds on the work done in #415